{% extends 'base.html' %}

{% block title %}
Джованни Амброзио
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Джованни Амброзио</h1>
Джованни Амброзио (итал. Giovanni Ambrosio), до обращения в католицизм Гульельмо Эбрео да Пезаро (итал. Guglielmo Ebreo da Pesaro, буквально «Гульельмо Еврей из Пезаро») (около 1420, Пезаро — 1484, Флоренция) — итальянский хореограф, мастер танца и композитор эпохи Возрождения. Принадлежал к рыцарскому ордену Золотой Шпоры, или «Золотого воинства» (лат. Ordo Militia Aurata).
<h3>Биографический очерк</h3>
    В 1440-х годах учился у Доменико из Пьяченцы (он же Доменико из Феррары), упомянут в книге последнего Liber ballorum (1460)
    <p>

    </p>
    В период между октябрём 1463 года и маем 1465 года Гульельмо, по всей видимости, обратился из иудаизма в католицизм и принял имя Джованни Амброзио. Гульельмо сделал это под влиянием своего отличавшегося набожностью покровителя, кондотьера Алессандро Сфорцы (правителя города Пезаро и брата Франческо Сфорцы). В честь Джиневры Сфорцы, дочери Алессандро, Джованни Амброзио сочинил бас-данс.
    <p>

    </p>
    В 1465 году переехал в Милан, где занимался подготовкой торжеств к намеченной свадьбе Элеоноры Арагонской и герцога Бари  (итал.)рус. (третьего сына Франческо Сфорцы).
<p>

</p>
   Вероятно, Алессандро Сфорца также способствовал тому, чтобы Джованни Амброзио получил от императора Фридриха III посвящение в рыцари в 1469 году и стал, как и его учитель Доменико из Пьяченцы, кавалером ордена Золотой Шпоры
    <p>

    </p>
    Служил при дворах наиболее влиятельных монархов в Италии эпохи Возрождения (таких как Лоренцо Медичи) — в Неаполе, Урбино, Милане и Ферраре.
    <div>  </div>
        <img class="img-fluid" src="static/composers/dsh.jpg">
    <h3>Сочинения</h3>
    В 1463 году Гульельмо написал трактат De pratica seu arte tripudii («О практике и искусстве танца»), иногда приводимый под италоязычным названием Trattato dell' arte del ballare («Трактат об искусстве танца»). В нём Гульельмо отстаивает понятие танца как искусства благородных, подчёркивая важную роль музыкального сопровождения. Он также описывает качества, необходимые танцору, такие как осанку, музыкальность, стиль, память, пересказывает личные впечатления от важных придворных мероприятий, в которых ему доводилось принимать участие. Его трактат содержит данные по хореографии и музыкальному сопровождению 36 танцев, поставленных как им самим, так и его современниками.

</div>
{% endblock %}