{% extends 'base.html' %}

{% block title %}
Хуан де Анчие́та
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Хуан де Анчие́та</h1>
Хуан де Анчие́та, или Аншие́та (Juan de Anchieta; ок. 1462, Аспейтия — 30 июля 1523, там же) — испанский композитор баскского происхождения. Работал при дворах Изабеллы Кастильской, Хуаны Безумной и других испанских аристократов.
  <h3>Краткий очерк биографии и творчества</h3>
    Мать Хуана де Анчиеты происходила из знатной баскской семьи (была двоюродной бабушкой Игнатия Лойолы). C 1489 года Хуан де Анчиета работал в придворной капелле Изабеллы (в 1494—97 годах — капельмейстер в капелле её сына, принца Хуана Астурийского), после её смерти (1504) — в той же капелле, перешедшей к Хуане, в составе которой в 1505—06 годах путешествовал во Фландрию и Англию. В эти годы познакомился со знаменитыми коллегами — Пьером де ла Рю и Александром Агриколой. В 1509—12 годах работал при дворе сына Хуаны — Карла V, в 1512—16 годах — при дворе Фердинанда II. Анчиета служил и по церковной части: был аббатом в Арбас-дель-Пуэрто (небольшом городе в провинции Леон), руководителем хора в кафедральном соборе Гранады. Последние годы провёл во францисканском монастыре, в родном городе Аспейтия.
    <div>  </div>
        <img class="img-fluid" src="static/composers/Jdeanchieta.jpg">
        <div>  </div>
    Анчиета писал, главным образом, церковную вокальную музыку, на латинские тексты. До нас дошли две четырёхголосные мессы — Rex virginum (сохранились Kyrie, Gloria и Credo) и безымянная, известная как Месса четвертого тона (используются разные тематические прототипы, в том числе знаменитая песня L’homme armé), 2 магнификата, пассионы по всем четырём евангелистам, 19 трёх- и четырёхголосных мотетов, в том числе на известные тексты Salve Regina, Ave verum corpus, Conditor alme siderum. Из светской музыки сохранились три вильянсико и один романс (все на испанском языке).
  <p>

    </p>
    Анчиета — возможный автор элегического мотета Musica, quid defles?, с подзаголовком «Эпитафия Александру Агриколе, композитору короля Кастилии» (Epitaphion Alexandri Agricolae symphonistae regis Castiliae). Выдержанный в форме диалога мотет содержит важные детали биографии Агриколы.
    </div>
{% endblock %}