{% extends 'base.html' %}

{% block title %}
Даниил Горчичка
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Даниил Горчичка</h1>
Даниил (Даниэль) Горчичка известный, как Синапиус-Горчичка (чеш. Daniel Sinapius-Horčička; 3 августа 1640, Сучаны[en], Королевство Венгрия — 27 января 1688, Левоча, там же) — словацко-чешский писатель, поэт, драматург, композитор духовной музыки барокко, протестантский священник.
  <h3>Биография</h3>
   Сын проповедника. Обучался в Левоче и Виттенбергском университете (Германия), служил проповедником и директором (ректором) школ в нескольких словацких городах.
  <p>

    </p>
    В 1673 году, во время гонений на протестантов, Д. Синапиус-Горчичка был изгнан из венгерского королевства. Отправился со своей семьей в Силезию. После возвращения на родину в 1683 году, поселился в Левоче. Служил настоятелем евангельской церкви, школьным инспектором, корректором книг, изданных на словацком языке.
  <div>  </div>
        <img class="img-fluid" src="static/composers/220px-Cithara_sanctorum_1828.jpg">
        <div>  </div>
    В XVII веке Д. Синапиус-Горчичка, евангелический проповедник и писатель, впервые поднял голос в защиту самобытности словацкой культуры. В 1678 он издал свой труд «Новый базар латино-словацкий» («Neoforum latino-slovenicum»), в котором имеется собрание (30 декурий) словацких народных пословиц. В предисловии к сборнику пословиц и афоризмов Горчичка высказывает мысль, что словацкий язык — древний язык, родственный и равноправный другим славянским языкам.
  <p>

  </p>
  Д. Синапиус-Горчичка решительно осуждал тех, кто отрекался от родного языка и народа.
    </div>
{% endblock %}