{% extends 'base.html' %}

{% block title %}
Доменико из Пьяченцы
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Доменико из Пьяченцы</h1>
Доменико из Пьяченцы (итал. Domenico da Piacenza), также известен как Доменико из Феррары (итал. Domenico da Ferrara) (1390, Пьяченца — около 1470, Феррара) — мастер танца и композитор эпохи Возрождения при дворе князей Эсте в Ферраре. Считается первым известным мастером танца[1], в трудах своего ученика Антонио Корнацано назван «королём искусств». Принадлежал к рыцарскому ордену Золотой Шпоры, или «Золотого воинства» (лат. Ordo Militia Aurata).
  <h3>Биография</h3>
  Родился не позднее 1400 года в городе Пьяченце в северной Италии[2].

Переехал из Пьяченцы в Феррару в период правления той маркизом Лионелло д’Эсте (1441—1450).

Учитель двух других известных мастеров танца эпохи Возрождения — Гульельмо Эбрео и Антонио Корнацано
  <p>

    </p>
    В апреле 1455 года Доменико подготовил танцы для празднования свадьбы Тристано Сфорца и Беатриче д'Эсте ( незаконорожденной дочери маркиза де Феррара Никколо III). Их бракосочетание состоялось либо в Милане, либо в Ферраре
  <p>

    </p>
    Осенью 1455 года Доменико ставил танцы для празднования обручения Ипполиты Сфорца и Альфонсо Арагонского. Переговоры об обручении проходили в Милане. Там же состоялось и само торжество. Альфонсо Арагонский был внуком короля Альфонсо Неаполитанского, сыном дона Фердинандо и Изабеллы — на тот период герцога и герцогини Калабрии, позже провозглашённых королём и королевой Неаполитанскими.

Не позднее 1463 года стал кавалером ордена Золотой Шпоры, предположительно, во время коронации императора Священной Римской империи Фридриха III.
<h3>Вклад в развитие искусства</h3>

 Привнёс много новшеств в придворный танец, в особенности в бас-данс. Создатель новых танцевальных форм, таких как балло и баллетто. Считается, что сферой его преподавательской деятельности была мимическая драматургия и усложнённый танец. Усложнение хореографии танцев — это целенаправленная деятельность Доменико, направленная на то, чтобы поднять танец до уровня искусства, требующего особых художественных навыков. Он на практике формулирует принцип, согласно которому обучение танцу, его создание и исполнение требуют профессиональной подготовки.
<h3>Письменные сочинения</h3>
  Трактат Доменико из Пьяченцы «Об искусстве прыгать и плясать» (De arte saltandi et choreas ducendi), выпущенный между 1450 и 1460 годами, считается первым известным руководством по танцам в Европе. В настоящее время старейшее издание хранится в фондах Национальной библиотеки Франции.
  <p>

  </p>
  В книге Доменико из Пьяченцы содержится также ряд музыкальных произведений. Не установлено, сочинены ли они им лично, но они определённо дошли до наших дней и исполняются коллективами любителей старинной музыки благодаря его трактату.

{% endblock %}