{% extends 'base.html' %}

{% block title %}
Завиш из Запи
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Завиш из Запи</h1>
Завиш из Запи (чеш. Záviš ze Zap; ок. 1350, Запи, Богемия (ныне местечко в районе Прага-восток Среднечешского края Чехии) — 1422, Прага) — чешский средневековый учёный, доктор церковного права, каноник, богослов, поэт и композитор, автор нескольких литургических сочинений и чешской любовной поэзии.
      <div>  </div>
        <img class="img-fluid" src="static/composers/Swantiborides_large.jpg">
  <h3>Биография</h3>
   Обучался в Пражском университете, где в 1379 году стал бакалавром искусств и магистром гуманитарных наук в 1383 году. Затем изучал право в Праге, Риме и Падуе в начале XIV века. В 1394—1396 годах служил каноником в Оломоуце, в 1397—1402 годах в Церкви Святой Гильи в Праге, затем снова в Оломоуце. Хотя изначально он был сторонником Яна Гуса, с 1410 года выступал его противником. В 1411 году упоминается как доктор богословия.
  <p>

    </p>
    С 1412 г. был каноником литомышской епархии до 1419 г.  <p>

    </p>
   Автор ряда музыкальных композиций второй половины XIV века-начала XV века. Сочинения Завиши вошли в стандартные богослужебные книги в Чехии и распространились также за пределы чешских земель.
    </div>
{% endblock %}