{% extends 'base.html' %}

{% block title %}
Филип Гласс

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Филип Гласс</h1>
    <h3>Биография</h3>
    Композитор и пианист Филип Гласс считается самым влиятельным музыкантом конца 20-го и начала 21-го веков. Несмотря на возраст, автор «музыки с повторяющимися структурами» продолжает творить и радовать слушателей.
    <h3>Детство и юность</h3>
    Композитор родился в последний январский день 1937 года в Балтиморе в семье выходцев из Литвы Иды Гулин и Бенджамина Чарльза Гласса. Интерес к нотам у Филипа возник благодаря отцу: мужчина не только владел музыкальным магазином, но и убеждал покупателей знакомиться с новинками, а вечера проводил за прослушиванием сонат и симфоний.
    <p>

    </p>
 Парень учился вначале в колледже при Чикагском университете, затем в Джульярдской школе музыки и, наконец, в Париже у композитора, дирижера и пианистки Жюльетт Нади Буланже. Сильнейшее влияние на молодого Гласса оказал индийский музыкант Рави Шанкар.
    <h3>Карьера</h3>
    Подобно коллеге Максиму Дунаевскому, проживающему в России, Гласс любит вступать в официальные браки. Первая жена Филипа — театральный режиссер Джоэнн Акалайтис — здравствует и сейчас. Супруги-ровесники дали жизнь двум детям, Джульетте и Захари, но развелись в 1980 году.
    <p>

    </p>
Второй брак с Любой Буртык также закончился для Филипа разводом. С третьей спутницей жизни, художницей Кэнди Джерниган, композитор оформил отношения, продолжавшиеся много лет, только за несколько месяцев до кончины женщины от рака печени.
    <p>

    </p>
Четвертая супруга — ресторатор Холли Кричтлоу — в начале третьего тысячелетия подарила пожилому музыканту еще двух детей, сыновей Кэмерона и Марлоу, однако Филип развелся и с ней. В ноябре 2019 года в личной жизни композитора произошли очередные изменения: мужчина женился на художнице Соари Цукаде.
    <p>

    </p>
Фото значимых событий Гласс выкладывает в «Инстаграме». Быть столь же энергичным, как в молодости, Филипу помогает вегетарианская диета.

    <div>  </div>
  <img class="img-fluid" src="static/composers/glass.jpg">
      <div>  </div>
    <h3>Музыка</h3>
    Одно из самых известных произведений Гласса — вторая часть триптиха о людях, изменивших мир, опера «Сатъяграха» («Стремление к справедливости»), которую композитор создал в 1979 году. Первой частью трилогии была опера «Эйнштейн на пляже», а третьей — «Эхнатон», посвященный египетскому фараону.
    <p>

    </p>
Либретто «Сатъяграхи» написано на санскрите самим музыкантом в соавторстве с Констансом Де Джонгом. Опера состоит из трех актов («Лев Толстой», «Рабиндранат Тагор» и «Мартин Лютер Кинг»). Российская премьера произведения состоялась осенью 2014 года в Екатеринбургском театре оперы и балета.
    <p>

    </p>
Цитату из «Сатъяграхи» Филип воспроизвел в музыке к фильму Стивена Долдри «Часы», номинированной на «Оскара». Фрагмент известен также как этюд для фортепиано «Мертвые вещи». Саундтреки Гласса к картинам Мартина Скорсезе «Кундун» и Питера Уира «Шоу Трумана» также выдвигались на премию Американской киноакадемии.
    <p>

    </p>
    Музыку из «Эхнатона» Андрей Звягинцев использовал в «Левиафане». Для картины «Елена» российский режиссер позаимствовал фрагменты Симфонии № 3 Гласса.
    <p>

    </p>
Документальная лента режиссера Эррола Морриса с саундтреком Гласса рассказывает о Рэндолле Адамсе, приговоренном к пожизненному заключению за преступление, которого он не совершал. Картина вызвала такой резонанс, что мужчина вышел на свободу. Музыка композитора звучит в столь разных фильмах, как романтическая комедия «Вкус жизни», триллер «Забирая жизни», лента-биография «Мисима: жизнь в четырех главах», детективы с элементами сплаттерпанка «Кэндимен» и «Кэндимен-2».

</div>
{% endblock %}