{% extends 'base.html' %}

{% block title %}
Кирилл Рихтер

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Кирилл Рихтер</h1>
    <h3>Биография</h3>
    Кирилл Рихтер — российский пианист и композитор, которого музыковеды причисляют к представителям направлений минимализма и неоклассики. Вопреки предположениям слушателей, музыкант-самоучка не является родственником пианиста Святослава Рихтера.
    <h3>Детство и юность</h3>
Кирилл родился 7 декабря 1989 года. Его мама работает преподавателем и занимается с детьми, отстающими в развитии. Отец — военнослужащий, танкист, а брат реализовался как художник в индустрии компьютерных игр. Единственным человеком в семье, имевшим отношение к музыкальной сфере, был прадед Кирилла, который играл на кларнете.
     <p>

    </p>
В детстве мальчик занимался в музыкальной школе. Родители не предполагали, что сын пойдет по этому пути, но вся программа обучения была освоена им экстерном. Занимаясь с педагогом, он сделал это за год вместо 7 лет. У наставницы были парализованы ноги, поэтому занятия проходили в домашних условиях. Единственным разом, когда Кирилл посетил учебное заведение, было финальное прослушивание. Он восхитил экзаменатора своей игрой.
     <p>

    </p>
Судьба распорядилась так, что вместо музыкальной карьеры Рихтер выбрал поступление в Московский инженерно-физический институт. Завершив обучение, он искал пути для творческого выплеска и стал студентом Британской школы дизайна. Кутюрье из Кирилла не вышло. Он быстро освоил графические программы и, вытерпев в новой роли всего 4 года, ушел из профессии. Зато любовь к музыке за это время не успела угаснуть. Рихтер вернулся к занятиям за фортепиано.
    <div>  </div>
  <img class="img-fluid" src="static/composers/richter.jpg">
      <div>  </div>
    <h3>Музыка</h3>
Из-за отсутствия академического образования Кирилл называет себя самоучкой. Звуки наполняют его жизнь, поэтому он относится к ним чрезвычайно чутко. Вдохновить автора на новое произведение может что угодно.
     <p>

    </p>
Так, произведение Chronos возникло благодаря воспоминаниям о том, как ходили старые часы в детской комнате Кирилла. Оно стало своеобразной визиткой музыканта. Критики усматривают в мелодии отсылки к творчеству Георгия Свиридова и Филипа Гласса, а также нескольких других композиторов.
     <p>

    </p>
Музыка Рихтера стала глотком свежего воздуха в современном инструментальном направлении. Пианист сотрудничает со скрипачкой Аленой Зиновьевой, а также виолончелистом Августом Крепаком. К ранним произведениям Рихтера относятся композиции «Анна», In Memoriam, прозвучавшие на первых концертах маэстро. Дебютный клип на тему Ophelia срежиссировал Ян Югай.
     <p>

    </p>
    Первый выход музыканта состоялся в 2017 году, и сразу в Колонном зале Дома союзов. Сегодня за плечами Кирилла Рихтера концерты в сопровождении струнного оркестра в Зале церковных соборов храма Христа Спасителя, в КЗ «Зарядье». Маэстро неоднократно выступал на европейских музыкальных фестивалях. В 2018 году он стал автором музыки, сопровождавшей трансляцию телеканала FOX в ходе чемпионата мира по футболу. В течение месяца мелодии, сочиненные Рихтером, звучали из всех телевизоров в США.
     <p>

    </p>
Перспективный пианист и композитор привлекает внимание сразу нескольких продюсеров и лейблов. Сейчас за него борются даже представители европейских компаний, в числе которых и шведская студия 1631 Recordings.
     <p>

    </p>
В апреле 2019-го состоялась презентация первого официального альбома в дискографии артиста. Пластинка получила название Chronos. 14 сентября композитор дал в Зеленом театре ВДНХ последний концерт в году. Мероприятие сопровождалось небывалым ажиотажем. Оно состояло из трех частей, в соответствии с этапами творческой биографии пианиста.
     <p>

    </p>
К последующим работам маэстро относится написание музыки к фильму Анны Меликян «Фея». Анатолий Белый пригласил композитора к сотрудничеству над своим поэтическим опусом «Кинопоэзия», в котором Кирилл стал автором музыки одной короткометражки. С Павлом Чаплыгиным под вдохновением от «Реквиема» Анны Ахматовой участвовал в создании проекта, для которого написал музыку.
     <p>

    </p>
Концептуализм — основной двигатель творчества Кирилла, поэтому новое сочинение The Songs of Distant Earth («Песни далекой Земли»), название которого взято из текста фантастического произведения Артура Кларка, слушатели восприняли с интересом. Композиция была представлена в 2020 году в рамках перформанса The Frames, другими авторами которого стали режиссер Ладо Кватания и танцовщик Сергей Полунин. В произведении использованы арабские национальные инструменты, а все партии были записаны в Дохе музыкантами Qatar Philharmonic Orchestra.
     <p>

    </p>
Это не первая работа Рихтера в хореографическом проекте. Ранее он сделал номер «Мечтатель» для постановки Мариинского театра, позднее написал пьесу In Time We Trust для Канадского национального балета.

</div>
{% endblock %}