{% extends 'base.html' %}

{% block title %}
Джон Уильямс

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Джон Уильямс</h1>
    <h3>Биография</h3>
    Джон Уильямс — выдающийся американский композитор. Его неоромантический стиль, базирующийся на симфонических традициях Рихарда Вагнера, Антонина Дворжака и Рихарда Штрауса, вдохновил на творчество целые поколения музыкантов более позднего периода.
  <h3>Детство и юность</h3>
    Биография Джона Уильямса началась 8 февраля 1932 года в Нью-Йорке. Он родился в семье джазового барабанщика и перкуссиониста, и первые уроки музыки ему давал отец. С ранних лет будущий композитор демонстрировал исключительные способности, когда, услышав мелодию, мог тут же ее воспроизвести.
  <p>

    </p>
 Джон вырос в Лос-Анджелесе, где после окончания средней школы поступил в Калифорнийский университет. Музыкальное образование он совершенствовал под руководством знаменитого композитора и пианиста Марио Кастельнуово-Тедеско. Свою первую сонату для фортепиано юноша написал в 19 лет.
  <p>

  </p>
  Затем была служба в армии, где Уильямс исполнял обязанности дирижера в духовом оркестре. Параллельно с этим он получил возможность посещать музыкальные курсы в Университете Аризоны. Окончив службу, Джон вернулся в Нью-Йорк и поступил в престижную Джульярдскую школу, где обучался игре на фортепиано у известной пианистки Розины Левиной.
<h3>Карьера</h3>
    В молодости Уильямс хотел стать концертирующим пианистом, но изменил планы, услышав выступления пианистов Джона Браунинга и Вана Клиберна. Осознав, что ему никогда не достигнуть того уровня успеха, о котором мечтал, он переключился на сочинение музыкальных произведений. Однако артист нуждался в деньгах, поэтому поработать пианистом ему все же пришлось. Несколько лет он выступал в джаз-клубах Нью-Йорка и даже выпустил несколько альбомов под именем Джонни Уильямс.
  <p>

  </p>
Дорогу к профессиональной карьере молодому таланту открыл композитор Генри Манчини, с которым у него сложился успешный творческий союз. Вместе они написали музыку к черному-белому драматическому фильму «Дни вина и роз» с Джеком Леммоном и романтическому детективу «Шарада» с Одри Хепберн и Кэри Грантом.
  <p>

  </p>
Уильямс оказался универсальным композитором: одновременно с симфоническими произведениями он сочинял джазовую и фортепианную музыку. В 1967 году он получил первую номинацию на премию «Оскар» за музыку к фильму «Долина кукол», основанному на одноименном романе писательницы Жаклин Сюзанн. Тогда Джон награду не получил, уступив Альфреду Ньюману и Кену Дэрби (мюзикл «Камелот»).
  <p>

  </p>
Американская киноакадемия отдала ему должное в 1972 году, присудив дебютную статуэтку за адаптацию партитуры к музыкальному кинофильму «Скрипач на крыше». Однако настоящую известность композитору принесло сотрудничество с режиссером Стивеном Спилбергом. Их великолепный творческий ансамбль начался с драмы «Шугарлендский экспресс», которая стала первой работой уроженца Цинциннати на большом экране.
  <p>

  </p>
Дебют получился настолько удачным, что не прошло и года после премьеры, как Спилберг предложил Уильяму сочинить музыку для своего следующего фильма, который планировал снять по роману «Челюсти» Питера Бенчли.
  <p>

  </p>
Саундтрек к нему и сейчас остается одним из самых узнаваемых хитов композитора. Тем не менее поначалу больших надежд на него не возлагалось, а Спилберг и вовсе не сдержал усмешки, когда впервые услышал простейшую мелодию из двух нот. Автор музыки сумел убедить режиссера использовать ее и не прогадал: зловещее остинато, символизирующее приближение опасности, стало визитной карточкой «Челюстей», а сам он получил второго «Оскара».
  <p>

  </p>
Именно Спилберг порекомендовал Уильямса своему другу и коллеге — режиссеру Джорджу Лукасу, который искал автора музыки для эпического космического фильма «Звездные войны». Композитор написал симфоническую партитуру в стиле оркестровой сюиты «Планеты» Густава Холста. Вдохновением для него также послужили произведения Рихарда Штрауса и Антонина Дворжака. И фильм, и музыка к нему имели огромный успех, а Уильямс получил еще одну премию «Оскар» за оригинальный саундтрек.
  <p>

  </p>
Композитору также посчастливилось приложить руку к созданию последнего фильма Альфреда Хичкока. Хотя криминальная комедия «Семейный заговор» ему не понравилась, он согласился создать музыку к ней, поскольку не хотел отказываться от возможности сотрудничать с культовым режиссером.
  <p>

  </p>
Прекрасное знание законов инструментовки и тонкое чувство формы позволили композитору работать над картинами совершенно разных жанров. В его творческой копилке — музыка к франшизе «Супермен», серии фильмов об археологе-авантюристе Индиане Джонсе и многим другим. Среди них выделяется фантастическая драма Спилберга «Инопланетянин», принесшая Уильямсу четвертую статуэтку американской киноакадемии.
  <p>

  </p>
Особенно тяжело далась творцу работа над исторической драмой «Список Шиндлера». После просмотра черновой версии фильма он остался под большим впечатлением и усомнился в собственном таланте. Однако на слова Уильямса о том, что ленте нужен композитор более высокого уровня, Спилберг заявил, что все остальные давно умерли. Заручившись поддержкой режиссера, Джон пригласил для записи заглавной темы скрипача Ицхака Перлмана. За эту работу композитор удостоился пятого «Оскара».
      <p>

  </p>
    В новом тысячелетии Уильямс написал музыку к первым трем экранизациям популярной серии книг Дж. К. Роулинг о Гарри Поттере. Сотрудничество со Спилбергом продолжилось в последующих картинах режиссера, за исключением «Шпионского моста».
  <p>

  </p>
Еще одна важная страница творчества музыканта — дирижерская деятельность. В течение тринадцати лет, с 1980 по 1993 год, он руководил Бостонским поп-оркестром, специализирующимся на классической и популярной музыке. Специально для концертов он написал много оркестровых и симфонических произведений.

  <div>  </div>
  <img class="img-fluid" src="static/composers/william.jpg">
  <div>  </div>
    <h3>Интересные факты</h3>
    Уильямс — поклонник творчества одного из наиболее известных современных японских композиторов, Ёко Канно. Она пишет музыку к аниме, сериалам и компьютерным играм.
  <p>

  </p>
    Любимым инструментом музыканта является фортепиано, при этом произведения он записывает по старинке — при помощи карандаша и бумаги.
  <p>

  </p>
    Немецкого композитора Ханса Циммера нередко называют новым Джоном Уильямсом. В Сети популярен видеоролик, авторы которого одновременно сыграли саундтреки к культовым кинолентам. При этом первый музыкант исполнил проведения Уильямса, а второй — Циммера. А зимой 2022 года эстрадно-симфонический оркестр Краснодарской филармонии под управлением московского дирижера Арсена Бадерхана выступил с концертом, на котором сыграл самые известные саундтреки авторства обоих композиторов.
</div>
{% endblock %}