{% extends 'base.html' %}

{% block title %}
Ханс Циммер

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Ханс Циммер</h1>
    <h3>Биография</h3>
    Во второй половине XX века стремительное развитие получила киномузыка, ставшая одним из классических жанров. Не меньшее влияние на умы и чувства слушателей, чем оперы и симфонии, стали производить саундтреки. На Западе ведущими кинокомпозиторами стали Джон Уильямс, Нино Рота и Эннио Морриконе, а в СССР — Вениамин Баснер, Андрей Петров, Исаак Шварц, Микаэл Таривердиев и Владимир Дашкевич. Достойное место среди мастеров саундтреков занял Ханс Флориан Циммер, особенность творчества которого — в соединении приемов симфонической и электронной музыки с вкраплением этнических элементов.
  <h3>Детство и юность</h3>
    Будущий автор мелодий к десяткам блокбастеров родился 12 сентября 1957 года во Франкфурте-на-Майне в семье инженера и предпринимателя Ханса Йоахима Циммера — одного из первых немцев, осознавших перспективность синтетических волокон. Сейчас прядильные машины, использовавшиеся на фабриках отца композитора, — экспонаты Немецкого музея достижений естественных наук и техники, расположенного в Мюнхене.
  <p>

    </p>
 Мать музыканта — немецкая еврейка, спасшаяся от катастрофы бегством в 1939 году в Великобританию. В подростковом возрасте Циммер-младший, ранее учившийся в швейцарской школе-интернате Ecole d'Humanité, уехал с матерью из Германии в Лондон. В Великобритании юноша окончил частную школу Hurtwood House, расположенную в графстве Суррей. О еврейских корнях композитор публично сообщил в 52 года во время представления на Берлинском кинофестивале документального фильма о холокосте «Последние дни», к которому он написал музыку.
  <p>

  </p>
 У Циммера, как и у кумира молодежи XXI века, автора мелодий и ремиксов Алана Уокера, нет музыкального образования. По словам Ханса, его занятия с преподавателем игры на фортепиано продлились две недели, после чего они были готовы убить друг друга.

  <div>  </div>
  <img class="img-fluid" src="static/composers/zimmer.jpg">
   <div>  </div>
  <h3>Музыка</h3>
Музыкальная карьера уроженца Франкфурта-на-Майне началась с игры на клавишных и синтезаторах в британских группах The Buggles и Helden и итальянской группы Krisma. Циммер внес вклад в написание наиболее значительного альбома Oil and Gold («Нефть и золото») британского рок-коллектива Shriekback.
  <p>

  </p>
В 80-х годах XX века Ханс сотрудничал с плодовитым британским кинокомпозитором Стэнли Майерсом, вместе музыканты создали саундтреки к лентам «Лунное сияние» и «Ничтожество».
  <p>

  </p>
Поворотным моментом в биографии Циммера стало предложение голливудского режиссера Барри Левинсона написать музыку к фильму «Человек дождя». В партитуре Ханс задействовал синтезаторы и стальные барабаны, используемые в афрокарибских композициях. Композитор показал, как чувствует себя герой Дастина Хоффмана, не понимающий, где он находится. Картина удостоилась 4 премий «Оскар».
    <p>

  </p>
  Вкрапление необычных инструментов или механических звуков в звуковую ткань фильмов стало визитной карточкой Циммера. Так, в «Тонкой красной линии» Теренса Малика и «Дюнкерке» Кристофера Нолана звучит тиканье часов, в «Гладиаторе» Ридли Скотта — армянский дудук, а в «Темном рыцаре», чтобы подчеркнуть музыкой тревожность, композитор играл бритвой по струнам фортепиано.
  <p>

  </p>
По состоянию на 2021 год музыка Циммера к фильмам 11 раз выдвигалась на «Оскар», в том числе номинировались саундтреки к таким блокбастерам, как «Шерлок Холмс» и «Интерстеллар». Однако заветную статуэтку Ханс получил только за партитуру к «Королю Льву». С 2000 года Циммер ездит с концертами по миру.
  <p>

  </p>
Учеником и преемником Циммера считается немецкий композитор с иранскими корнями Рамин Джавади. Музыкант ассистировал Хансу при создании саундтреков к фильмам «Бэтмен: Начало» и «Пираты Карибского моря: Проклятие Черной жемчужины», а затем самостоятельно написал партитуру сериала «Игра престолов».
  </div>
{% endblock %}