{% extends 'base.html' %}

{% block title %}
Кристобаль де Моралис

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Кристобаль де Моралис</h1>
   Кристобаль де Моралес (исп. Cristbal de Morales; ок. 1500, Севилья — между 4 сентября и 7 октября 1553, Марчена) — испанский композитор, первый крупный представитель испанского музыкального Возрождения.

    <div>  </div>
        <img class="img-fluid" src="static/composers/cristobal.jpg">
     <div>  </div>
    В 1535-45 годах певчий и композитор в папской капелле в Риме. В 1545-53 капельмейстер в соборах Толедо, Марчены, Малаги. Писал преимущественно церковную вокальную музыку. Среди сочинений Моралеса 23 мессы, в том числе две на знаменитый шансон «Вооружённый человек» (фр. L’homme arm), и два реквиема (поздний 5-голосный реквием [1544] — одно из самых популярных ныне сочинений Моралеса), восемь (по числу церковных тонов) магнификатов, различные песнопения оффиция.
<p>

</p>
    Из более чем 80 (преимущественно 4-голосных) мотетов композитора многие политекстовые. Безупречный полифонист, Моралес продолжал традиции композиторов нидерландской школы (считал себя последователем Жоскена Депре). Вместе с тем, в ряде сочинений («Плачи пророка Иеремии», оффиций заупокойной службы и др.) писал в гомофонной технике, известной как испанский фобурдон.
<p>

</p>
  Учеником Моралеса был крупный испанский композитор Ф. Герреро.
<p>

</p>
  У композитора 127 тысяч слушателей на Спотифай. Самое популярное произведение - реквием Parce mihi Domine (12 млн. прослушиваний).
<p>

</p>
  <ul class="list-unstyled">
  <li>Мессы:

    <ul>
      <li>Aspice Domine a4 (на мотет Н. Гомберта)
</li>
      <li>Ave Maria a4
</li>
      <li>Ave maris stella a5 (каноническая)
</li>
      <li>Benedicta es caelorum regina a4 (на мотет Жоскена Депре)
</li>
      <li>Caça (с цитатами из энсалады М. Флечи; то же, что Missa pequeña)
</li>
      <li>Missa cortilla a4 (то же, что месса "Fa re ut fa sol la")
</li>
      <li>Missa de Beata Virgine a4 (богородичная)
</li>
      <li>Quaeramus cum pastoribus a5 (на мотет Ж. Мутона)
</li>
      <li>Tristezas me matan a5 (на мелодию испанской нар. песни)
</li>
      <li>Ut re mi fa sol la a4 (гексахордовая)
</li>
    </ul>
  </li>
</ul>
  </div>
{% endblock %}