{% extends 'base.html' %}

{% block title %}
Томас Таллис

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Томас Таллис</h1>
    Томас Таллис (англ. Thomas Tallis, 1505, графство Кент — 23 ноября 1585, Гринвич, под Лондоном) — английский композитор и органист.

    <h3>Биография</h3>
         В 1535 — органист бенедиктинского монастыря в Дувре (графство Кент), в 1538—1540 — органист августинского аббатства в Уолтхеме (графство Эссекс), затем в кафедральном соборе в Кентербери, а с 1543 — при королевском дворе в Лондоне. В 1552 году женился, детей у них с женой не было.
<p>

</p>
    Прижизненных портретов композитора не сохранилось, известные на нынешний день изображения созданы более чем через полтора века после его кончины.

    <div>  </div>
        <img class="img-fluid" src="static/composers/tallis.jpg">
  <div>  </div>
   <h3>Творчество</h3>
    Сочинял мессы и мотеты. Главным сочинением Таллиса считается Spem In Alium — мотет для 40 голосов на слова библейской Книги Юдифи, шедевр контрапункта, сочинение, не имевшее себе равных в тогдашней музыке и исполняющееся лучшими музыкальными коллективами по сей день. Одним из его учеников был Уильям Бёрд.
<h3>Прижизненные издания</h3>
    Morning and evening prayer and communion, set forthe in 4 parts, to the song. London,1565.

Cantiones quae ab argumento sacrae vocantur. London, 1575.
<h3>Наследие и признание</h3>Уильям Бёрд написал элегию на смерть Таллиса, её последняя строка: «Скончался Таллис, музыка скончалась».

Фантазию на тему Таллиса написал Ральф Воан Уильямс (1921).
<p>

</p>
    В 1973 в Великобритании создан вокальный ансамбль The Tallis Scholars, исполняющий музыку эпохи Возрождения. Его руководитель — Питер Филлипс.

   </div>
{% endblock %}