{% extends 'base.html' %}

{% block title %}
Томас Луис де Виктория

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Томас Луис де Виктория</h1>
    <h3>Биография</h3>
         Томас Луис де Виктория (исп. Tomás Luis de Victoria, около 1548, Авила — 27 августа 1611, Мадрид) — испанский композитор и органист, крупнейший испанский музыкант эпохи Контрреформации.

    <div>  </div>
    <img class="img-fluid" src="static/composers/thomas.jpg">
    <div>  </div>
    Писал только церковную музыку. Композитору принадлежат 20 месс (из которых «O quam gloriosum» написана в технике пародии), 46 мотетов, 35 гимнов, псалмы и другие духовные сочинения. Он первым в Испании использовал аккомпанемент (орган, струнные или духовые) в церковной музыке, так же как первым стал писать — на манер композиторов венецианской школы — многохорные сочинения для нескольких разделенных певческих групп.
<p>

</p>
    Уже при жизни был известен не только в Италии и Испании, но и в Латинской Америке, его сочинения хорошо, по тем временам, расходились: так сборник, вышедший в 1600 году, сверх обычного тиража в 200 экземпляров, был напечатан в количестве ещё ста. В XX веке исследователем и активным пропагандистом творчества Виктории был Фелипе Педрель, наследие Виктории высоко ценили Мануэль де Фалья, Игорь Стравинский. Сегодня его сочинения широко исполняются и записываются лучшими исполнителями и самыми престижными фирмами мира. Именем композитора названа музыкальная консерватория в его родном городе. В 1996 году учреждена ибероамериканская музыкальная премия имени Томаса Луиса де Виктория.
   </div>
{% endblock %}