{% extends 'base.html' %}

{% block title %}
Антонио Кальдара

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Антонио Кальдара</h1>
    Антонио Кальдара - итальянский композитор, виолончелист и дирижер.

Автор огромного количества опер и ораторий, церковной музыки, инструментальных произведений, Кальдара еще в своих венецианских и римских ораториях с удивительной последовательностью развивал типические музыкальные образы "оперного" происхождения: его lamento, его героические арии, его пасторально-идиллические вокальные номера, даже его буффонные сцены в ораториях могут с успехом поспорить с любыми яркими образами итальянской оперы. Сила его воображения несомненно должна была сказаться и на его увертюрах, которые вместе с камерными произведениями предшествовали созданию собственно венской школы.
   <div>  </div>
        <img class="img-fluid" src="static/composers/antonio.jpg">
       <div>  </div>
    В последние два десятилетия жизни композитора его творчество пользовалось широчайшей известностью. Наиболее характерная черта творческого почерка композитора - сочетание яркого мелодического начала (традиция итальянской музыки) с отточенным полифоническим мастерством (влияние австрийской музыкальной культуры).
<p>

</p>
    Антонио Кальдара родился в семье скрипача, отец и был его первым наставником. Затем учился у Джованни Легренци, пел в хоре собора Святого Марка, играл на виолончели в капелле собора. Оперы Кальдары уже на рубеже веков принесли ему широкую известность. В 1699 году он переезжает в Мантую, куда его пригласил в качестве капельмейстера неудачливый герцог Карл Фердинанд Гонзага, живший на содержании у французской короны. После изгнания французов из Италии Кальдара покидает Мантую в 1707 году, став капельмейстером князя Русполи в Риме. Затем он работал в Барселоне, Болонье и Риме, где познакомился с Алессандро Скарлатти, Арканджело Корелли, Г. Ф. Генделем.
<p>

</p>
   Вскоре его известность достигла Вены, где композитор впервые побывал в 1709 году. С 1716 года и до конца жизни Антонио Кальдара жил и работал в Вене, где в том же году был назначен вице-капельмейстером Придворной капеллы при И. Й. Фуксе.
<p>

</p>
    Занимался также преподавательской деятельностью; среди учеников - Георг Рейттер Младший. Оказал влияние на Г. Ф. Телемана и И. С. Баха.
<p>

</p>
    Кальдара - один из самых плодовитых композиторов первой трети XVIII в. Его перу принадлежит около 100 опер (в том числе "Митридат", "Олимпиада" (1718), "Милосердие Тита" (1734), "Демофонт" (1735) и др.; его "Дон Кихот" - одно из первых музыкальных воплощений романа Сервантеса, 38 ораторий, около 100 кантат, свыше 20 месс, более 40 мадригалов, свыше 300 канонов, симфонии, трио-сонаты, хоры, сольные сонаты для различных инструментов и др.
<h3>Основные произведения</h3>
    оперы (78, по др. данным, не менее 98), в т.ч. оперы-сериа на тексты Дзено - Ифигения в Авлиде (1718), Диктатор Луций Папирий (1719), Джангир (1724), Митридат (1728) и др., на тексты Метастазио - Деметрий (1731), Адриан в Сирии (1732), Олимпиада (1733), Демофонт (1733), Милосердие Тита (La clemenza di Tito, 1734), Фемистокл (1736) и др., оперы-буффа - 2 на тексты Дж. К. Паскуини по "Дон Кихоту" Сервантеса, Терпение Сократа с двумя жёнами (La pazienza di Socrate con due mogli, 1731, совм. с И. Г. Ройтером); театр. серенады; 38 ораторий; ок. 100 кантат; симфонии; камерно-инстр. ансамбли - квартеты, септеты, трио-сонаты; сольные сонаты для разл. инструментов; хоры - мессы (св. 20), оффертории, градуалы, мотеты, псалмы, произв. в жанрах Miserere, Magnificat, Те Deum, Stabat Mater, Salve Regina и мн. др. церк. соч.; свыше 40 мадригалов, свыше 300 канонов; клавирные пьесы.

   </div>
{% endblock %}