{% extends 'base.html' %}

{% block title %}
Гаспар Санз

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Гаспар Санз</h1>
    Франсиско Бартоломе Санз родился 4 апреля 1640 года в местечке Calanda провинции Арагон, с юного возраста его называли ещё и Гаспаром. Сведений о нём сохранилось немного, хотя он и был знаменитым испанским гитаристом, жившем при дворе короля Филиппа IV и его сына дона Хуана Австрийского. Санз обучался музыке, философии и теологии в саламанкском университете, углубив свои знания обучением в Неаполе. В Испании, Санзом, были изданы три коллекции табулатур испанской музыки (1674, 1675 и 1697). К счастью эти его сочинения сохранились.
    <div>  </div>
        <img class="img-fluid" src="static/composers/gaspar.jpg">
        <div>  </div>
    Книга Санза «Instruction de Musica sobre la guitarra Espanola», впервые изданная в Сарагосе в 1674 году, представляет собой методические рекомендации по игре на гитаре с пятью рядами струн и содержит многочисленные пьесы для гитары, - это танцы и фантазии, в том числе Фолия и сарабанда.
    <p>

</p>
    Санз олицетворяет то время, когда гитара уже вышла из тени и получила повсеместное распространение в Испании и за рубежом, особенно во Франции. Но для наследия Санза это не явилось положительным фактором. После того, как в 1710 году в Мадриде композитор завершил свой жизненный путь, его музыка постепенно была предана забвению. Однако Санз принадлежит к тем старым мастерам, чьё наследие нашло отражение в творчестве современных композиторов. Для Санза таким композитором явился Хоакин Родриго. Прославил же произведения Санза и Родриго - Рыцарь гитары Андрес Сеговия.
   </div>
{% endblock %}