{% extends 'base.html' %}

{% block title %}
Джузеппе Торелли

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Джузеппе Торелли</h1>
    Значительная роль в развитии скрипичных жанров, особенно сольного концерта, принадлежит Джузеппе Торелли (1658—1709). Он родился в Вероне, обучался игре на скрипке у Дж. Массароти, затем в Болонье у Э. Гаибары, а по композиции у Дж. А. Перти. В 1684 году принят в Академию филармоников. С 1686 по 1695 год работал виолистом (альтистом) в капелле базилики Сан-Петронио. После турне по Германии два года служил руководителем капеллы маркграфа Бранденбургского в Ансбахе (1697—1699), затем в Вене, где создал ораторию. В 1701 году возвратился вновь в Болонью, в капеллу Сан-Петронио, которой руководил его учитель Перти.
<p>

</p>
    Уже в первых сочинениях — «Камерных балетах для трех ин¬струментов с басом> (op. 1, 1686) и «Камерных концертах для двух скрипок с басом» (ор. 2, 1686) проявляются новые черты, наряду с развитием традиций Дж. Б. Витали — сочетание полифонического и гомофонного стилей, индивидуализация мелодики, выразительная скрипичная фактура.
    <div>  </div>
        <img class="img-fluid" src="static/composers/giuseppe.jpg">
      <div>  </div>
   В следующем опусе (1687) — «Симфониях для 2—4-х инструментов» — вводится свободный порядок частей. Порой подряд идут быстрые части, а медленные выполняют роль связок. Интерес представляет ор. 4 — «Камерные концертино для скрипки и виолончели» (1688), представляющие как бы дуэт, поиски концертирования двух инструментов, которые потом разовьются в группу «кончертино».
<p>

</p>
    Подход к форме concerto grosso и сольному концерту ощущается в «Симфониях и концертах для трех инструментов» (ор. 5, 1692), где Торелли в предисловии советует «умножать» — дублировать все партии для достижения большей звучности. И в следующем опусе (1698) «Музыкальные концерты для 4-х инструментов» он поручает в двух концертах соло одной скрипке, противопоставляя ей остальную группу,— это первое разделение в концерте solo и tutti. У солирующей скрипки здесь широкие фигурационные эпизоды. Включена тут и Пастораль, что найдет продолжение у Корелли. В этих опусах Торелли придерживается уже в целом трехчастной формы концертов.
<p>

</p>
    Concerti grossi op. 8 были изданы после смерти Торелли (1709). Они написаны в трехчастной форме, сходной с итальянской оперной увертюрой (быстро—медленно—быстро). Здесь концерти руют и две скрипки, и одна. Яркий контраст solo и tutti достигается и за счет увеличения концертности сольных партий (путь к сольному концерту Вивальди), введения двойных нот, аккордов, многообразных ритмов, секвенций, и за счет контраста фактуры ансамбля и группы кончертино.
<p>

</p>
    Обычно отмечается, что именно Торелли является создателем жанра concerto grosso. Представляется, что это все же не так. Аналогичные сочинения Корелли писались, а частично исполнялись еще до выхода концертов Торелли. Большую роль в формировании жанра сыграло творчество А. Яжембского и А. Страделлы, в частности его увертюры. Менее выявленной оказалась роль Торелли в формировании сольного скрипичного концерта, образцы которого были созданы им до Вивальди.

    <p>

    </p>
    Не все сочинения Торелли опубликованы. В рукописи осталось около тридцати симфоний (сонат), три concerti grossi, две кантаты, арии.

   </div>
{% endblock %}