{% extends 'base.html' %}

{% block title %}
Генрих Игнац

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Генрих Игнац</h1>
    Бибер Генрих Игнац Франц фон (1644 — 1704) — австрийский композитор и скрипач родом из Богемии.
   <p>

</p>
    Учился у Иоганна Генриха Шмельцера. В 1660-х годах — музыкант на службе у князя-епископа Оломоуцкого. Около 1670 поступил в придворную капеллу Зальцбурга, с 1684 — капельмейстер. Скрипач-виртуоз, что сказалось в его скрипичных сонатах, где встречаются труднейшие пассажи, использована скордатура — изменение обычной настройки струн и т. п.

   <div>  </div>
        <img class="img-fluid" src="static/composers/henry.jpg">
      <div>  </div>
    Наиболее известен сборник его 15 сонат «Розарий» (ок.1676). Автор духовной музыки, инструментальных ансамблей, опер. По-видимому, Бибер является автором 53-голосной «Зальцбургской мессы», которая долгое время приписывалась разным авторам.
<p>

</p>
   Написал 16 мистерий-сонат для скрипки и бассо-континуо (орган, виола да гамба). Часто встречаются символы розы и креста (так как Бибер состоял в ложе «Розы и креста»). 16 сонат — 16 событий из жизни Девы Марии.
<p>

</p>
    Генрих Бибер обладал достаточно тонким чувством юмора, что нашло отражение в его музыке. Например, соната «Репрезентатива» имеет в своем составе такие части: соловей, кукушка, лягушка, петух и наседка, перепел, кошка, марш солдат. В них имитируются звуки, издаваемые этими живыми существами, причем весьма оригинально и смело. Игра на смычковых инструментах иногда ведется за «рабочей» поверхностью струны. Иногда между струнами и грифом на виолончели подкладывается лист бумаги, что придает ей особое звучание, а скрипичная партия является очень сложной и в наши дни, далеко не каждый скрипач возьмется ее играть.
<p>

</p>
    Помимо хорошо известных 16 мистерий-сонат, Генрих Бибер написал 8 сонат для скрипки (1681), среди которых заметно выделяется виртуозная, незабываемая пятая соната (in E minor).

   </div>
{% endblock %}