{% extends 'base.html' %}

{% block title %}
Иоганн Себастьян Бах


{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Иоганн Себастьян Бах</h1>
    <h3>Краткая биография</h3>
    Иоганн Себастьян Бах родился в немецком городке Айзенах в пятом поколении семьи музыкантов 21 марта 1685 г. Необходимо отметить, что музыкальные династии были довольно распространены в то время в Германии, и талантливые родители стремились развить в детях соответствующие дарования. Отец мальчика – Иоганн Амброзиус – был органистом в церкви Айзенаха и придворным концертмейстером. Очевидно, что именно он давал первые уроки игры на скрипке и клавесине маленькому сыну.
  <p>

    </p>
    Из биографии Баха мы узнаём, что в 10 лет мальчик потерял родителей, но не остался без крова над головой, ведь он был восьмым и самым младшим в семье ребенком. О маленьком сироте позаботился уважаемый органист Ордруфа Иоганн Кристоф Бах, старший брат Иоганна Себастьяна. Среди прочих своих учеников Иоганн Кристоф обучал и брата играть на клавире, но рукописи современных композиторов строгий учитель надежно прятал под замок, дабы не испортить вкус юных исполнителей. Впрочем, замок не помешал маленькому Баху познакомиться с запретными произведениями.
  <p>

    </p>
    В 15-летнем возрасте Бах поступил на обучение в престижную Люнебургскую школу церковных певчих, которая находилась при храме св. Михаила, и в то же время благодаря своему прекрасному голосу юный Бах смог немного подрабатывать в церковном хоре. Кроме этого в Люнебурге юноша познакомился Георгом Бёмом, известным органистом, общение с которым оказало влияние на раннее творчество композитора. А также неоднократно путешествовал в Гамбург, чтобы послушать игру крупнейшего представителя немецкой органной школы А.Рейнкена. К этому же периоду относятся первые произведения Баха для клавира и органа. После успешного окончания школы Иоганн Себастьян получает право поступления в университет, но из-за недостатка денежных средств у него не было возможности продолжать образование.
  <p>

    </p>
    Свою трудовую деятельность Иоганн начал в Веймаре, где его приняли в придворную капеллу герцога Иоганна Эрнста Саксонского в должности скрипача. Однако, это продолжалось не долго, так как такая работа не удовлетворяла творческим порывам молодого музыканта. Бах в 1703 году, не задумываясь, соглашается на переезд в г. Арнштадт, где ему в храме св. Бонифация изначально была предложена должность смотрителя органа, а затем и пост органиста. Приличное жалование, работа всего три дня в неделю, хороший модернизированный инструмент, настроенный по новейшей системе, все это создавало условия для расширения творческих возможностей музыканта не только как исполнителя, но и композитора.
  <p>

    </p>
    В этот период он создает большое количество органных произведений, а также каприччио, кантаты и сюиты. Здесь Иоганн становится настоящим экспертом органов и блестящим виртуозом, игра которого вызывала безудержный восторг у слушателей. Именно в Арнштадте раскрывается его дар импровизации, который очень не нравился церковному руководству.  Бах всегда стремился к совершенству и не упускал случая познакомиться с знаменитыми музыкантами, например с органистом Дитрихом Букстехуде, который служил в г. Любек. Получив четырехнедельный отпуск, Бах отправился послушать великого музыканта, игра которого настолько впечатлила Иоганна, что он, забыв про свои обязанности, задержался в Любеке на четыре месяца. По возвращении в Арндштадт возмущенное руководство устроило Баху унизительное разбирательство, после которого ему пришлось покинуть город и искать новое место работы.
  <p>

    </p>
    Следующим городом, на жизненном пути Баха был  Мюльхаузен. Здесь в 1706 году он выиграл конкурс на место органиста в храме св. Власия. Его приняли с хорошим жалованием, но и с определенным условием: музыкальное сопровождение хоралов должно быть строгим, без всякого рода «украшений».  Власти города в дальнейшем с уважением относились к новому органисту: они одобрили план по реконструкции церковного органа, а также выплатили хорошее вознаграждение за сочиненную Бахом праздничную кантату «Господь – мой царь», которая была посвящена церемонии вступления в должность нового консула.  Пребывание в Мюльхаузене в жизни Баха ознаменовалось счастливым событием: он женился на своей возлюбленной кузине Марии Барбаре, которая впоследствии подарила ему семерых детей.
<p>

</p>
    В 1708 году великолепную игру мюльхаузенского органиста услышал герцог Эрнст Саксен-Веймарский. Под впечатлением от услышанного, знатный вельможа сразу предложил Баху должности придворного музыканта и городского органиста с жалованием значительно превышающем прежнее.  У Иоганна Себастьяна начался Веймарский период, который характеризуется как один из самых плодотворных в творческой жизни композитора. В это время он создает большое количество композиций для клавира и органа, среди которых сборник хоральных прелюдий, «Пассакалья c-moll», знаменитая «Токката и фуга d-moll», «Фантазия и фуга C-dur» и много других величайших произведений. Следует также отметить, что к этому периоду относится и сочинение более двух десятков духовных кантат. Такая эффективность в композиторском творчестве Баха была связано с назначением его в 1714 году вице – капельмейстером, в обязанности которого входило регулярное ежемесячное обновление церковной музыки.
  <p>

</p>
    В то же время современников Иоганна Себастьяна больше восхищало его исполнительское искусство, и он постоянно слышал реплики восхищения в адрес своей игры. Слава о Бахе, как виртуозном музыканте быстро распространялась не только по Веймару, но и за его пределами. Однажды дрезденский королевский капельмейстер пригласил его, померятся силами с французским прославленным музыкантом Л.Маршаном. Однако музыкального состязания не получилось, так как француз, услышав игру Баха на предварительном прослушивании, тайно, без предупреждения покинул Дрезден. В 1717 году веймарский период в жизни Баха подошёл к концу. Иоганн Себастьян мечтал получить место капельмейстера, но когда это место освободилось, герцог предложил его другому, совсем молодому и неопытному музыканту. Бах, посчитав это за оскорбление, попросил о немедленной своей отставке и за это на четыре недели попал под арест.
<p>

</p>
  Согласно биографии Баха в 1717 году он покидает Веймар, чтобы устроится в Кётене придворным капельмейстером у князя Леопольд Ангальта Кётенского. В Кётене Баху предстояло писать мирскую музыку, поскольку вследствие реформ в церкви исполняли только псалмы. Здесь Бах занял исключительное положение: как придворному дирижеру ему хорошо платили, князь обращался с ним как с другом, и композитор отплатил за это прекрасными сочинениями. В Кётене у музыканта было много учеников, и для их обучения он составил «Хорошо темперированный клавир». Это 48 прелюдий и фуг, которые прославили Баха как мастера клавирной музыки. Когда князь женился, молодая княжна выказала неприязнь и к Баху, и к его музыке. Иоганну Себастьяну пришлось искать другую работу.
  <p>

  </p>
  В Лейпциге, куда Бах переехал в 1723 г., он достиг вершины своей карьерной лестницы: его назначили кантором в церкви св. Фомы и музыкальным директором всех церквей города. Бах занимался обучением и подготовкой исполнителей церковных хоров, подбором музыки, организацией и проведением концертов в основных храмах города. Возглавляя с 1729 г. Музыкальную коллегию, Бах стал устраивать по 8 двухчасовых концертов светской музыки в месяц в кофейне некоего Циммермана, приспособленной под выступления оркестра. Получив назначение на должность придворного композитора, Бах передал руководство Музыкальной коллегией своему бывшему ученику Карлу Герлаху в 1737 г. В последние годы Бах часто переделывал свои ранние произведения. В 1749 г. он заканчивает Высокую мессу си-минор, некоторые части которой были написаны им 25 лет назад. Композитор умер в 1750 г., работая над «Искусством фуги».
    <div>  </div>
        <img class="img-fluid" src="static/composers/bah.jpg">
        <div>  </div>
  <h3>Творчество Иоганна Себастьяна Баха</h3>
    Иога́нн Себастья́н Бах был одним из самых плодовитых композиторов, его наследие в сокровищнице мировой музыкальной культуры насчитывает около 1200 бессмертных шедевров. В творчестве Баха был один единственный вдохновитель – это Создатель. Иоганн Себастьян посвящал ему почти все свои произведения и в конце партитур всегда подписывал буквы, которые являлись аббревиатурой слов: «Во имя Иисуса», «Иисус помоги», «Одному богу слава». Созидать для Бога - была основная цель в жизни композитора, и поэтому его музыкальные произведения вобрали всю мудрость «Святого писания». Бах был очень верен своему религиозному мировоззрению и никогда ему не изменял. По рассуждениям композитора, даже самая небольшая инструментальная пьеска должна указывать на мудрость Творца.
    <p>

    </p>
    Иоганн Себастьян Бах писал свои произведения фактически во всех, кроме оперы, известных в то время музыкальных жанрах. В составленном каталоге его сочинений числятся: 247 произведений для органа, 526 вокальных произведения, 271 произведение для клавесина, 19 сольных произведений для различных инструментов, 31 концерт и сюита для оркестра, 24 дуэта для клавесина с каким-либо другим инструментом, 7 канонов и другие произведения.
    <p>

    </p>
    Музыканты по всему миру исполняют музыку Баха и со многими его произведениями начинают еще знакомиться с самого детства. Например, каждый маленький пианист, обучающийся в музыкальной школе, обязательно имеет в своем репертуаре пьесы из «Нотной тетради Анны Магдалены Бах». Затем изучаются маленькие прелюдии и фуги, далее идут инвенции, а в конечном итоге «Хорошо темперированный клавир», но это уже высшая школа.
    <p>

    </p>
    К известным произведениям Иоганна Себастьяна также относятся «Страсти по Матфею», «Месса си - минор», «Рождественская оратория», «Страсти по Иоанну» и, несомненно, «Токката и фуга ре-минор». А кантата «Господь — мой Царь» и в нынешнее время звучит на праздничных службах в храмах в разных уголках мира.
</div>
{% endblock %}