{% extends 'base.html' %}

{% block title %}
Людвиг ван Бетховен


{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Людвиг ван Бетховен</h1>
    <h3>Краткая биография</h3>
    В австрийском (а ныне немецком) городе Бонне 16 декабря 1770 года в семье тенора придворной капеллы Иоганна ван Бетховена появился на свет третий в роду Людвиг, после своего деда (баса, а затем придворного капельмейстера) и старшего брата. Сам факт рождения в семье потомственных певцов предопределил судьбу мальчика.
  <p>

    </p>
    Первым учителем музыки Людвига стал его отец, мечтавший сделать из сына второго Моцарта. Четырехлетний малыш занимался на клавесине по 6 часов в день, а если отец приказывал, то еще и ночью. Столь уникальных способностей, как у нашумевшего своей виртуозной игрой Вольфганга Моцарта, у Людвига не проявилось, но незаурядный талант к музыке определенно был.
  <p>

    </p>
    Семья Бетховенов была небогата, а после смерти деда и вовсе обнищала. В 14 лет юный Людвиг был вынужден бросить школу и помогать отцу в содержании семьи, работая помощником органиста в придворной капелле.
  <p>

    </p>
    До этого мальчик учился в школе, где немецкий язык и арифметика были на втором плане после латыни и музыки. Уже в юности Бетховен свободно читал и переводил Плутарха и Гомера, но умножение и правописание так и остались для него тайной за семью печатями.
  <p>

    </p>
    Когда в 1787 году мать Людвига умерла, а отец запил больше прежнего, ответственный и дисциплинированный юноша взял на себя содержание младших братьев. Он устроился на должность альтиста в придворном оркестре, благодаря чему познакомился с разнообразием мира оперы.
  <p>

</p>
В 21 год – в 1791 г. – Людвиг ван Бетховен переезжает в Вену в поисках хорошего учителя, где и проводит всю свою жизнь. Некоторое время молодой человек занимался с Гайдном. Но Йозеф опасался, как бы не схлопотать проблем из-за вольнодумного и резкого в выражениях ученика. А Людвиг, в свою очередь, чувствовал, что Гайдн – не тот человек, который может его чему-нибудь научить. В конечном итоге обучением Бетховена занялся Сальери.
  <p>

    </p>
    Ранний венский период творчества молодого композитора биографически тесно связан с именами австрийского придворного князя Лихновского, русского вельможи Разумовского, чешского дворянина Лобковица: они покровительствовали Бетховену, поддерживали материально, их имена значились на титульных страницах рукописей композитора. Вместе с тем, Бетховен очень дорожил чувством собственного достоинства и никогда не позволял своим знатным покровителям попыток указать на его низкое происхождение.
  <p>

</p>
   В 1790-е годы Бетховен сочиняет в основном камерную и фортепьянную музыку, а в 1800-х начал писать свои первые симфонии, создал единственную ораторию («Христос на Масличной горе»).
  <p>

</p>
Когда к 1811 году маэстро полностью потерял слух, он стал редко выходить из дома. Публичная игра на фортепьяно была основным источником доходов виртуоза, а также он постоянно давал уроки музыки представителям аристократии. С потерей слуха для Бетховена наступили тяжелые времена. После провальной попытки в 1811 году исполнить собственный Концерт для фортепьяно № 5 («Император») он больше ни разу не появлялся на публике до того случая, когда в паре с дирижером Михаэлем Умлауфом руководил оркестром во время премьеры Симфонии № 9 в 1824 году.
  <p>

</p>
   Но глухота не воспрепятствовала сочинению музыки. Бетховен пользовался специальной палочкой, прикрепленной одним концом к передней панели фортепьяно. Зажимая другой конец палочки зубами, он «чувствовал» издаваемый инструментом звук благодаря передающейся по палочке вибрации.
  <p>

  </p>
  Именно на последнюю декаду жизни композитора приходится написание самых великолепных произведений, которыми и по сей день не устают восхищаться слушатели: Струнный квартет, оп. 131; «Торжественная месса»; «Великая фуга», оп. 133 и, безусловно, Девятая симфония.

  <div>  </div>
        <img class="img-fluid" src="static/composers/beethoven.jpg">
      <div>  </div>
  <h3>Разговорные тетради Бетховена</h3>
    Биография Бетховена гласит что, будучи неслышащим, композитор компенсировал свой недостаток с помощью так называемых разговорных тетрадей. Туда во время беседы друзья записывали для него свои реплики. Разговорными тетрадями композитор пользовался приблизительно последние десять лет, а до того его выручала слуховая трубка, которая хранится теперь в Музее Бетховена в Бонне.
  <p>

  </p>
  Разговорные тетради стали драгоценным документом, из которого мы узнаём содержание дискуссий композитора, можем почерпнуть сведения о его мировоззрении, о видении самого композитора, как должно исполняться то или иное его произведение. Из 400 разговорных тетрадей 264 были уничтожены, а остальные подвержены купюрам и правке после смерти композитора его личным секретарем Антоном Шиндлером. Будучи также первым биографом композитора, Шиндлер, во-первых, спасал свою и его репутацию, так как те резко негативные оценочные выражения в адрес монарха, которые Бетховен себе позволял, могли стать причиной гонений и запретов со стороны власти. А во-вторых, больше чем секретарь желал идеализировать образ маэстро в глазах потомков.
</div>
{% endblock %}