{% extends 'base.html' %}

{% block title %}
Вольфганг Амадей Моцарт


{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Вольфганг Амадей Моцарт</h1>
    <h3>Краткая биография</h3>
    Обычно в биографии известных людей детские годы описывают вскользь, упоминают какие-то забавные или трагические случаи, повлиявшие на формирование характера. Но в случае с Моцартом рассказ о его детских годах – это повествование о концертной и композиторской деятельности полноценного музыканта и виртуозного исполнителя, автора инструментальных сочинений.
  <p>

    </p>
    Он родился 27 января 1756 года в семье скрипача и педагога Леопольда Моцарта. Отец оказал огромное влияние на становление сына как личности и музыканта. Всю жизнь их связывала нежнейшая привязанность, даже известна фраза Вольфганга: «После папы – только Господь». Вольфганг и его старшая сестра Мария Анна, которую дома звали Наннерль, никогда не посещали общественную школу, все образование, включая не только музыку, но и счет, письмо, чтение, им дал отец. Он был прирожденным педагогом, его методическое пособие по обучению игре на скрипке издавали десятки раз и долгое время считали лучшим.
  <p>

    </p>
    С рождения маленького Вольфганга окружала атмосфера творчества, музыкальных звуков и постоянной занятости. Отец занимался с Наннерль на клавесине и скрипке, 3-летний Вольфи наблюдал за ними с ревностью и восторгом: ну, когда же папа позволит ему упражняться? Для него это все была игра – подбирать на слух мелодии, созвучия. Так, играя, и начались его занятия музыкой, которым он отдавался полностью.
  <p>

    </p>
    Согласно биографии Моцарта уже в 4 года он рисует каракули на нотной бумаге, чем приводит в ярость отца, однако гнев быстро сменяется изумлением – выглядящие хаотично на бумаге ноты складываются в незатейливую, но грамотную с точки зрения гармонии пьесу. Леопольд сразу понимает высочайшую одаренность, которой наградил бог его сына.
  <p>

    </p>
    В те времена музыкант мог рассчитывать на вполне хорошую жизнь, если найдет покровителя и получит постоянную работу. Например, заняв должность капельмейстера при дворе или доме знатного вельможи. Тогда музыка являлась неотъемлемой частью социальной и светской жизни. И Леопольд принимает решение отправиться с выступлениями по городам Европы с целью снискать славу сыну для того, чтобы позднее он смог удостоиться лучшей судьбы. Он рассчитывал уже сейчас заручиться вниманием к необычайному таланту ребенка.
  <p>

    </p>
    В первое путешествие Моцарты (отец, сын и дочь) отправились в начале 1762 года, когда Вольфгангу было 6 лет, а его сестре – 10. Чудо-дети везде встречали самый восторженный прием, они поражали слушателей своими исполнительскими умениями и навыками. Отец стремился придать их выступлениям как можно больше эффектности. Мария Анна исполняла сложнейшие технически музыкальные пьесы, подвластные не каждому опытному клавесинисту. Вольфганг и вовсе играл не просто виртуозно – ему завязывали глаза, покрывали клавиатуру платком, он играл с листа, импровизировал. Все силы были брошены на то, чтобы произвести сенсацию и запасть в память слушателям. И их действительно приглашали много и часто. В основном это были дома аристократов и даже коронованных особ.
  <p>

</p>
    Но был в этом еще один интересный момент. Во время всех этих путешествий от Лондона до Неаполя Вольфганг не только демонстрировал публике свое щедрое дарование – он также впитывал в себя все культурные и музыкальные достижения, которые мог ему предоставить тот или иной город. Тогда Европа была разрознена, очаги культуры вспыхивали в разных городах – и в каждом были свои течения, музыкальные стили, жанры, предпочтения. Маленький Вольфганг мог все это слушать, поглощать, перерабатывать своим гениальным умом. И в итоге синтез всех этих музыкальных пластов дал толчок к тому мощному движению, что являло собой творчество Моцарта.
  <p>

</p>
    Увы, планам Леопольда не суждено было сбыться. Дети выросли и больше уже не производили такого яркого впечатления. Вольфганг превратился в невысокого юношу, «такого же как все», а прошлая популярность скорее даже мешала. Ни его членство в Болонской Академии, которое он получил в 12 лет, блестяще справившись с заданием, ни орден Золотой шпоры, врученный самим католическим Папой, ни всеевропейская известность не сделали легким карьерный рост молодого композитора.
  <p>

</p>
  Какое-то время он состоял капельмейстером у архиепископа в Зальцбурге. Непростые отношения с этим высокомерным человеком вынуждали Вольфганга браться за заказы из Вены, Праги, Лондона. Он стремился к независимости, неуважительное обращение больно ранило его. Частые разъезды привели к желанной цели – однажды архиепископ Коллоредо уволил Моцарта, сопроводив увольнение унизительным жестом.
  <p>

  </p>
  В конечном итоге он переезжает в Вену в 1781 году. Здесь он проведет последние 10 лет жизни. На этот период придется расцвет его творчества, женитьба на Констанце Вебер, здесь он напишет самые знаменательные свои произведения. Венцы не сразу его приняли, и вообще, после успеха «Свадьбы Фигаро» в 1786 году остальные премьеры проходили спокойно.Гораздо теплее его всегда принимали в Праге.
  <p>

  </p>
  В то время Вена была музыкальной столицей Европы, жители ее были избалованы обилием музыкальных событий, туда стекались музыканты со всего света. Конкуренция среди композиторов была очень высокой. Но не соответствует действительности то противостояние между Моцартом и Антонио Сальери, которое мы можем увидеть в знаменитом фильме «Амадей» Милоша Формана, а еще ранее – у Пушкина. Напротив, они с большим уважением относились друг к другу.
  <p>

  </p>
  Также близкую и трогательную дружбу он водил с Йозефом Гайдном, посвятил ему прекрасные струнные квартеты. Гайдн, в свою очередь, бесконечно восхищался талантом и тонким музыкальным вкусом Вольфганга, его необыкновенной способностью чувствовать и передавать чувства как истинный Художник.
  <p>

  </p>
  Несмотря на то, что должности при дворе Моцарту так и не удалось добиться, его творчество постепенно стало приносить ему немалый доход. Он был независимый человек, превыше всего ставящий честь и достоинство человека. Не лез в карман за острым словом, и вообще напрямую говорил все, что думает. Такое отношение не могло оставить равнодушным никого, появлялись завистники, недоброжелатели.
  <p>

  </p>
  Небольшой творческий спад, наметившийся было в 1789-90 годах, в начале 91-го быстро сменился активной работой. В конце зимы он внес изменения в симфонию №40. Весной была написана и затем летом поставлена опера «Милосердие Тита» по заказу чешского двора на день коронации Леопольда II. В сентябре был завершен совместный проект с Эмануэлем Шиканедером, товарищем по масонской ложе – зингшпиль «Волшебная флейта». В июле этого года он получил заказ на заупокойную мессу от таинственного посланника…
  <p>

  </p>
  Небольшой творческий спад, наметившийся было в 1789-90 годах, в начале 91-го быстро сменился активной работой. В конце зимы он внес изменения в симфонию №40. Весной была написана и затем летом поставлена опера «Милосердие Тита» по заказу чешского двора на день коронации Леопольда II. В сентябре был завершен совместный проект с Эмануэлем Шиканедером, товарищем по масонской ложе – зингшпиль «Волшебная флейта». В июле этого года он получил заказ на заупокойную мессу от таинственного посланника…
  <p>

  </p>
  В начале осени Вольфганг начинает жаловаться на недомогания. Постепенно они усиливаются. Последнее выступление Моцарта датировано 18 ноября – на день открытия очередной ложи Тайного Общества. После этого он слег и уже не вставал. До сих пор ученые медики ведут споры о причинах болезни, диагнозе. Чаще всего версию об отравлении отвергают, но не исключают полностью. За прошедшие столетия подлинных документов больше не стало, наоборот, все меньше доверия вызывают многие утверждения Констанцы и других свидетелей.
  <p>

  </p>
  Лечил композитора лучший врач Вены на тот момент, многие его методы сейчас представляются как усугубившие состояние больного, но тогда они широко применялись в медицине. В ночь с 4 на 5 декабря он умирает…

При жизни это был щеголеватый модник, ведущий несколько более свободный образ жизни, чем мог себе позволить. Сохранились многие записки, в которых он обращался к друзьям с просьбой занять денег – под очередной музыкальный проект. Но разумно распоряжаться деньгами он так и не научился. И когда встал вопрос о похоронах, оказалось, что денег у семьи на это нет.
  <p>

  </p>
  Полностью оплатил похороны барон ван Свитен, он дал сумму, достаточную на погребение по 3-му разряду – в отдельном гробу, но в общей могиле. Тогда это была распространенная практика, ничего странного в этом не было. Кроме одного – даже место захоронения величайшего сына человеческого не сохранилось. Тогда погребальные памятники ставили за оградой кладбища.

  <div>  </div>
        <img class="img-fluid" src="static/composers/mozart.jpg">
     <div>  </div>
    <h3>Творческое наследие</h3>
    Исследователей и биографов поражает чудовищная работоспособность Моцарта. Учитывая его занятость на службе, репетиции, концерты, гастроли, частные уроки, он успевал при этом писать – на заказ и по собственному велению души. Он сочинял музыку во всех существовавших тогда жанрах. Некоторые сочинения, особенно ранние, детских лет, утеряны. Всего за свои неполные 36 лет он написал более 600 произведений. Почти все они являются абсолютными жемчужинами симфонической, концертной, камерной, оперной и хоровой музыки. За прошедшие 2 века интерес к ним только усиливается. Многие жанры он существенно развил и преобразовал, задав новую планку и ориентиры в искусстве.
  <p>

    </p>
    Так, например, в его операх «Свадьба Фигаро», «Дон Жуан», «Волшебная флейта» драматургия шагнула далеко за пределы традиционных для того времени музыкальных спектаклей. Более сильную смысловую нагрузку приобретает сюжет, часто композитор принимает самое горячее участие в разработке либретто, дает рекомендации по построению фабулы. Каждый образ действующих лиц получает более детальную психологическую прорисовку, становится «живым» не только с помощью текстов, но и через выразительные музыкальные средства.
  <p>

    </p>
    Также сильное драматургическое развитие получает у него симфония. Во многих из них можно увидеть сходство с оперным принципом построения – опора на конфликт, противостояние, сквозное развитие. С другой стороны, увертюра к «Свадьбе Фигаро» настолько совершенна по форме, что ее исполняют отдельно в концертах как оркестровое произведение.
  <p>

    </p>
    Симфонизм как высший тип музыкального мышления в творчестве Моцарта утверждает каноны классического стиля. Однако в целом весь его творческий путь прошел эволюцию от рококо (в основном, в детских сочинениях), затем через венский классицизм до предпосылок к раннему романтизму. Остается лишь предполагать, какой бы была музыка этого гения, столь эмоционального, восторженного, искреннего, если бы ему довелось дожить до эпохи романтического расцвета.
<p>

</p>
Среди музыкальных произведений Моцарта 41 симфония, 27 фортепианных концертов, 5 скрипичных концертов, 27 концертных арий, 23 струнных квартета и 22 оперы.
</div>
{% endblock %}