{% extends 'base.html' %}

{% block title %}
Антонио Вивальди


{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Антонио Вивальди</h1>
    <h3>Краткая биография</h3>
    В 1678 году в Венеции в семье цирюльника Джованни Батиста Вивальди появился на свет сын Антонио. В конце XVII века Венеция была признанной столицей развлечений, городом-праздником, где вся жизнь проходила под звуки музыки, и дом будущего композитора не являлся в этом смысле исключением. Глава семейства Вивальди настолько искусно владел мастерством игры на скрипке, что его пригласили выступать в составе оркестра собора Св. Марка.
  <p>

    </p>
    Антонио с рождения страдал физическим недугом - одной из форм астмы. Но из всех шестерых детей Вивальди он был более всех похож на отца - не только редкой для жителей Венеции огненно-рыжей шевелюрой, но главное — умением слышать и чувствовать музыку. Музыкальная одаренность Антонио Вивальди дала о себе знать с раннего детства. Он быстро освоил игру на скрипке и в 10 лет часто выступал в соборном оркестре вместо своего отца. А в 13 лет мальчик впервые попробовал сочинять собственную музыку.
  <p>

    </p>
    В биографии Вивальди говорится, что в 15-летнем возрасте жизнь Антонио сделала крутой вираж — по настоянию родителей он выбрал для себя карьеру священнослужителя и следующие 10 лет жизни посвятил изучению церковных наук. При этом он не бросил занятия музыкой и к 1703 году не только получил духовный сан, но и прославился как виртуозный скрипач. За цвет волос его прозвали «рыжим священником», однако церковные обязанности Вивальди исполнял недолго. Очень быстро он отказался вести мессы — по одной из версий, из-за того, что не позволяло здоровье, по другой — опять же из-за пристрастия к музыке.
  <p>

    </p>
    Почти сразу после получения сана Вивальди стал работать в одной из школ Венеции «Оспедале делла Пиета» - так назывался дом приюта при монастыре для сирот. «Оспедале делла Пиета» стала настоящей колыбелью для творчества Вивальди. В статусе преподавателя игры на скрипке и хормейстера он приобрел уникальную возможность осуществлять самые смелые и разноплановые творческие идеи. По долгу службы ему приходилось писать для воспитанников школы очень много музыки как духовного, так и светского содержания — кантаты, хоралы, оратории, вокально-симфонические композиции, концерты. Результаты такой кипучей и разноплановой деятельности быстро дали о себе знать - у знатоков и ценителей музыки школа стала считаться лучшей в городе.
  <p>

    </p>
    Для оркестра «Пиеты» Вивальди сочинил больше 450 концертов и нередко сам исполнял солирующие скрипичные партии. Такой скрипки, рождавшей звуки будто бы из глубин человеческой души, Венеция до сих пор не слышала.
<p>

</p>
Очень быстро популярность молодого композитора шагнула далеко за границы родного города. Каждый знатный гость, приезжающий в Венецию, считал своим долгом побывать на выступлениях Антонио Вивальди. В 1705 и 1709 годах сонаты музыканта были изданы отдельными сборниками.

  <p>

    </p>
    Но Антонио уже был увлечен другой идеей – стать оперным композитором. На тот момент опера считалась самым востребованным жанром у зрителей, и Вивальди с присущей ему целеустремленностью и неукротимым темпераментом погрузился в новый для него вид творчества. Его оперный дебют под названием «Оттон на вилле», поставленный в 1713 году, прошел с грандиозным успехом. Вивальди начинает работать в сумасшедшем ритме - он успевает создавать по 3-4 оперы за год. Его слава как оперного композитора растет, и Антонио получает приглашение принца Гессен-Дармштадского, тонкого ценителя музыкального искусства, занимающего должность губернатора Мантуи, стать капельмейстером при его дворе.
  <p>

</p>
    В 1721-22 годах Вивальди работает в Милане и Риме, продолжая сочинять новые оперы.
<p>

</p>
На склоне лет дела композитора сильно пошатнулись. Он решил вернуться в Венецию, надеясь обрести душевное равновесие в родном городе, который рукоплескал ему без малого 40 лет. Но его поджидало разочарование. Сочиненная им музыка уже не вызывала былого восторга, у публики появились новые кумиры. Даже в родной консерватории, с которой его связывали 38 лет плодотворной работы, ему дали понять, что в его услугах не очень нуждаются.
  <p>

</p>
    Согласно биографии Вивальди, композитор в 1740 году в поисках выхода из положения отправился в Вену, ко двору императора Карла VI, своего давнего и могущественного почитателя в надежде, что там его талант будет востребован. Но судьба приготовила Вивальди очередной удар - не успел он приехать в Вену, как Карл VI скончался. Композитор пережил своего несостоявшегося покровителя совсем ненадолго. Он умер 28 июля 1741 года и был похоронен в Вене в могиле для бедных.
    <div>  </div>
        <img class="img-fluid" src="static/composers/vivaldi.jpg">
        <div>  </div>
    <h3>Роль Вивальди в развитии мирового музыкального искусства</h3>
    <ul class="list-unstyled">
  <li>Влияние Вивальди на развитие музыкального искусства распространяется на широкий диапазон музыкальной деятельности, что подтверждает уникальность творческой личности талантливого композитора и виртуозного скрипача.

    <ul>
      <li>Именно благодаря Вивальди была укреплена совершенно уникальная по драматическому накалу техника исполнения, которая носит название «ломбардская», когда укорачивалась длительность первой ноты и ритмически опорной становилась последующая.
      </li>
      <li>Композиторскому гению Вивальди принадлежит идея нового жанра сольного инструментального концерта.
      </li>
      <li>Он поставил на новую ступень развития популярный в Италии жанр кончерто гроссо — ансамблево-оркестрового концерта, за которым закрепил трехчастную форму и вместо группы солистов выделил отдельный солирующий инструмент, наделив оркестр функцией сопровождения.
      </li>
	  <li>Огромен вклад Вивальди в эволюцию искусства оркестровки - он первым ввел в оркестровый состав гобои, валторны, фаготы и другие инструменты в качестве самостоятельных.
      </li>
      <li>Несомненное достижение Вивальди состоит в том, что он воплотил на сцене особый вид концертов - для оркестра и скрипки и еще один вариант - для двух и четырех скрипок. Всего же в его творческом наследии около двух десятков подобных концертов, среди них единственный в мире концерт для двух мандолин.</li>
    </ul>
  </li>
</ul>
  Большое влияние сочинения Вивальди имели на известнейшего представителя музыкального искусства эпохи барокко - Иоганна Себастьяна Баха. Он всерьез увлекался и детально изучал сочинения Вивальди, активно применял приемы музыкального языка и символику своего предшественника, делая их смысл более глубоким. Некоторые музыковеды в знаменитейшей мессе h-moll Баха находят несомненные отзвуки произведений итальянского мастера композиции. Впоследствии Бах переложил для клавира 6 концертов Вивальди для скрипки, еще 2 преобразовал в органные концерты и один адаптировал для 4-х клавиров. По иронии судьбы, эти музыкальные шедевры более 150 лет считались сочиненными Бахом.
  <p>

  </p>
  На рубеже XIX -XX веков австрийский композитор и музыкант Фриц Крейслер, признанный мастер стилизации, пишет Концерт для скрипки с оркестром до мажор, к которому ставит подзаголовок «В стиле Вивальди». Огромный успех, сопутствующий этому яркому творению Крейслера, по инерции вызвал интерес и к сочинениям Вивальди, основательно подзабытым. Так началось победное возвращение знаменитого венецианца и его шедевров на музыкальный Олимп. Сегодня музыка Вивальди является одной из самых любимых у скрипачей всего мира.

</div>
{% endblock %}