{% extends 'base.html' %}

{% block title %}
О гармони
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О гармони</h1>
    <h3> Описание</h3>
Гармонь, или гармошка — это духовой язычковый музыкальный инструмент с клавишно-пневматическим механизмом. По бокам инструмента расположены две клавиатуры: на правой играется мелодия, левая предназначена для аккомпанемента. Под гармоникой понимают целый ряд музыкальных инструментов, как ручных, так и губных. Звучание в этих инструментах достигается путем колебания язычка (металлической планки) под действием потока воздуха.
  <div>  </div>
    <img class="img-fluid" src="static/image/garmon.jpg">
    <h3>Конструкция</h3>
<ul class="list-unstyled">
  <li>Конструкция гармони включает следующие элементы:
    <ul>
      <li>Левый и правый полукорпус.</li>
      <li>Левое клавишное поле, которое служит для аккомпанемента: верхний ряд кнопок — бас, нижние кнопки — готовые аккорды.
      </li>
        <li>Правая часть, на которой играет мелодия.</li>
        <li>Меховая камера, расположенная между частями корпуса, служит для нагнетания воздуха, который воздействует на язычки.
        </li>
    </ul>
  </li>
</ul>
На некоторых инструментах имеются переключатели, чтобы играть слева не аккордами, а нотами более нижнего регистра.
        <h3>История</h3>
Своё происхождение гармоника ведёт от китайской губной гармоники. Она состояла из корпуса, к которому крепились трубочки. Такие гармошки были известны в Китае ещё в I веке и назывались шэны.
    <p>

    </p>
    Первую ручную гармонику сконструировал немецкий мастер Фридрих Бушман в 1822 году.<p>

</p>
Гармоника в современном виде появилась в Санкт-Петербурге в 1783 году. Её создателем является чешский инженер Франтишек Киршник, который в то время проживал в России.
</div>
{% endblock %}