{% extends 'base.html' %}

{% block title %}
Об аккордеоне
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Об аккордеоне</h1>
    <h3> Звук</h3>
Аккордеон, обладающий разнообразными художественными музыкально–выразительными средствами, имеет характерный, серебристый и приятно вибрирующий звук. Голос его красочный, напевный и величавый может звучать как орган или даже целый оркестр. Наличие регистров,  меняющих тембр, дает аккордеону возможность имитации звучания различных инструментов.
    <p>

    </p>
    Звук на аккордеоне возникает из-за свободного колебания металлических язычков под воздействием воздушной струи, образующейся при движении меховой камеры.
    <p>

    </p>
    Наличие меха – это ценнейшее качество аккордеона, при его помощи можно управлять и влиять на окраску тембра, делать звук мягким, прозрачным или, наоборот, жестким и грубоватым. Инструмент обладает необычайной динамической гибкостью - от нежнейшего пиано до пронзительного форте.
   <div>  </div>
    <img class="img-fluid" src="static/image/accordion.jpg">
    <h3>Конструкция</h3>
Аккордеон – это клавишный духовой музыкальный инструмент со сложной конструкцией, имеющей более ста деталей. Он состоит из двух секций - левой и правой, соединенных между собой мехом.

<ul class="list-unstyled">
  <li>1.Правая часть инструмента включает в себя коробку и гриф с клавиатурой как у фортепиано. В коробке находится правая дека, резонаторы, клапаны и регистры.

    <ul>
      <li>Правая дека имеет звуковые отверстия, которые полностью совпадают с отверстиями резонаторов.
      </li>
      <li>На резонаторы устанавливаются голосовые планки.
      </li>
        <li>Клапаны открывают звуковые отверстия.</li>
        <li>Регистры меняют тембр звука.</li>
    </ul>
  </li>
</ul>
На правую коробку крепятся большие ремни, удерживающие инструмент на плечах исполнителя, а также решетка. Количество клавиш на грифе варьируется в зависимости от размера инструмента, на самом большом – 41.
    <p>

    </p>
    2. Левая часть инструмента состоит из коробки, в которую вмонтированы левая дека, резонаторы, вся механика и клавиатура для левой руки, насчитывающая 120 кнопок. Левая клавиатура содержит пять, а иногда шесть рядов: два ряда басы, а остальные - готовые аккорды (мажорные, минорные, септаккорды и уменьшенные септаккорды). На левом корпусе находятся регистры, а также малый ремень, при помощи которого левая рука приводит в движение меховую камеру.
    <p>

    </p>
    3. Мех аккордеона изготавливается из специального картона, проклеивается тканью и усиливается кожей и стальными накладками.

    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Аккордеоны бывают двух типов: с клавишной и кнопочной клавиатурами.    <ul>
      <li>Клавишная клавиатура - имеет форму клавиатуры фортепиано.</li>
      <li>Кнопочная клавиатура имеет три, четыре или пять рядов кнопок, расположенных в хроматическом порядке.
      </li>
    </ul>
  </li>
</ul>
        <ul class="list-unstyled">
  <li>Кроме того, аккордеоны любого типа могут иметь различные системы аккомпанемента в левой руке: готовую и готово - выборную.
      <ul>
      <li>Готовая система аккомпанемента состоит из басов и готовых аккордов.</li>
      <li>Готово – выборная имеет две системы готовую и выборную, которые меняются при помощи специального регистра.

      </li>
    </ul>
  </li>
</ul>
        <ul class="list-unstyled">
  <li>Аккордеоны, что очень важно, выпускают разных размеров: от самых маленьких ученических, до больших концертных.
      <ul>
      <li>Самый маленький аккордеон -1/2 - диапазон чуть больше двух октав, в основном применяется в учебных целях.
      </li>
      <li>Аккордеон средних размеров - 3/4 - диапазон две с половиной октавы, применяется в учебных целях и любительском музицировании.
      </li>
          <li>Аккордеон чуть больше среднего - 7/8 – диапазон три октавы, применяется для любительского музицирования.
          </li>
          <li>Полный аккордеон – диапазон три с половиной октавы, применяется как концертный инструмент.
          </li>
    </ul>
  </li>
</ul>
    <h3>Применение и репертуар</h3>
Изначально применение аккордеона было ограничено лишь областью досуга. Его использовали повсюду, где люди хотели получать удовольствие и веселиться - в первую очередь народные празднества, а также варьете, дансинг, кабаре, уличные ресторанчики, мюзик-холлы, пикники. Позднее аккордеон стал незаменимым инструментом в танцевальной поп-музыке, джазе и зейдеко, а затем вышел на сцену как солирующий инструмент. Очень впечатляюще аккордеон звучит с симфоническим оркестром.
    <p>

    </p>
    Необычайно эффектные в полном гармоническом великолепии произведения для аккордеона лучше всего удавались композиторам-исполнителям, среди которых: Р. Гальяно, Я. Тьерсен, П. Фроссини, А. Пьяццолла, Ч. Маньянте, А. Фоссен, П. Дейро, Ч. Нунцио и другие. Однако, в связи с постоянным усовершенствованием конструкции, на инструменте сейчас без переложений можно исполнять произведения для фортепиано, челесты, клавесина, фисгармонии и органа. Прекрасно звучат на аккордеоне музыкальные шедевры величайших классиков: И.С. Баха, В.А. Моцарта, Н. Паганини, Л.В. Бетховена, И. Брамса, Ф. Листа, К. Дебюсси, Д. Верди, Ж. Бизе, Д. Гершвина, Г. Малера, М. Мусоргского, М. Равеля, Н. Римского-Корсакова, А. Скрябина, Д. Шостаковича, П. Чайковского.
    </div>
{% endblock %}