{% extends 'base.html' %}

{% block title %}
Об арфе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Об арфе</h1>
    <h3> Звук</h3>
Завораживающие звуки арфы не могут оставить равнодушными никого. Глубокое, будто неземное звучание этого щипкового инструмента будоражит воображение и заставляет соглашаться с невероятными легендами её божественного происхождения. При игре на арфе часто используется глиссандо – быстрый перебор струн пальцами. При этом появляется целый каскад звуков, напоминающий искрящийся водопад.
        <p>

    </p>
    На протяжении нескольких сотен лет этот струнный щипковый музыкальный инструмент пользуется большой популярностью у композиторов. В. Моцарт, К. Дебюсси, Г. Гендель, С. Василенко, Р. Глиэр и др. написали концерты для арфы с оркестром. А все потому, что обладает инструмент удивительными темброво-колористическими возможностями. Арфа может имитировать игру на различных музыкальных инструментах – лютне, клавесине или гитаре, как например, у М. Глинки в «Арагонской хоте».. Обычное количество октав – 5. С помощью педалей можно извлекать звуки от «ре» контроктавы до «фа» четвёртой октавы.
    <img class="img-fluid" src="static/image/arfa.jpg">
    <h3>Конструкция</h3>
Устройство инструмента довольно простое: треугольная рамка с элегантным изгибом и ряд струн, натянутых на неё. Количество струн у современных арф варьируется от 40 до 47. Весит музыкальный инструмент около 30 кг, но это не мешает ему оставаться изысканным и утонченным.
<ul class="list-unstyled">
  <li>Рамка состоит из нескольких частей:
    <ul>
      <li>Резонансный корпус с закруглением книзу.</li>
      <li>Дека с твёрдой рейкой.</li>
      <li>Рама с колками для закрепления струн.</li>
	  <li>Передний брус в виде прямой колонны.</li>
        	  <li>Основание (в некоторых моделях ножки или подставки).</li>
    </ul>
  </li>
</ul>
У педальной арфы имеется механизм для изменения высоты звука 46 струн. Корпус изготавливается из дерева или металла. При этом украшается резьбой, позолотой, декоративными элементами. Для удобства отсчёта, ноты «до» в начале каждой октавы окрашены красным цветом, ноты «фа» – чёрным или синим.
    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Классификация данного инструмента крайне проста, разделение существует по наличию или отсутствию педалей, а также по размерам. Различают основные виды и их категории:

    <ul>
      <li>Педальная арфа. Профессиональный инструмент, который так же может быть электрический, оборудованный звукоснимателями. Отличается наличием педального механизма из 7 педалей. Вес 30-50 кг. Высота до 2-х метров.
</li>
      <li>Леверсная арфа. Эта разновидность может быть разных размеров. Число струн колеблется от 22 до 44. Вес варьируется от 5 до 15 кг. Педальный механизм заменяют верхние рычажки-леверсы.
</li>
      <li>Наколенная арфа, ирландская или кельтская. Лишена возможности брать басы, имеет от 12 до 22 струн. Весит не более 5 кг.
</li>
    </ul>
  </li>
</ul>
    <h3>История арфы</h3>
По поводу возникновения арфы слагают легенды и притчи. Принято считать прародителем этого инструмента деревянный лук, натянутая тетива которого издаёт звучание, а витиеватый контур напоминает изгибы арфы. Её находят на раскопках древних шумерских поселений, что говорит о том, что арфа появилась на заре эволюции человеческой расы.

Подобные инструменты всплывают в Африканских племенах, древнем Египте, Греции, Римской Империи. Их украшали драгоценностями, добавляли элементы из слоновой кости, золота, серебра. В Золотом веке на этом инструменте исполняли преимущественно церковные произведения. Музыку для них сочиняли монахи.

    <p>

    </p>
    В странах Европы на арфах с VIII века играли бродячие артисты, они использовали инструменты небольших размеров. Крупногабаритные разновидности распространились в XVI-XVII веках. Люди старались расширить диапазон инструмента и применяли различные преобразования и дополнения. Арфу начали включать в хоровые и оркестровые выступления. Педали, позволяющие наделить её большим диапазоном, придумал Я. Хохбрукер в 1720 году, продолжив идею использования регулирующих ключей, возникшую в 1660 году. Прототип современной арфы создал Себастьян Эрар. Широкое использование этого волшебного инструмента русскими меломанами началось в XVIII веке.

Возможно, нет ничего более потрясающего, чем слушать арфу в исполнении талантливого музыканта, чьи пальцы виртуозно танцуют по струнам. Она окружает нас непреходящим великолепием и наполняет наши души гармонией и красотой. Арфа - это не просто инструмент, это искусство, способное очаровать и захватить нас своей неподражаемой красотой и звучанием.
</div>
{% endblock %}