{% extends 'base.html' %}

{% block title %}
О балалайке
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О балалайке</h1>
    <h3> Звук</h3>
Балалайка обладает богатыми акустическими, исполнительскими и художественными достоинствами. Звучит она негромко, мягко, но очень звонко. Тембр у инструмента камерный, нежный, сокровенный и отличается теплотой и трепетностью.
<div></div>
    <img class="img-fluid" src="static/image/balalaika.jpg">
    <div></div>
    <h3>Источник звука</h3>
Источник звука на балалайке - сильно натянутые гибкие струны, зажимая которые на ладах пальцами левой руки, исполнитель получает нужную высоту звука.
        <p>

    </p>
    Основное звукоизвлечение - это удары и защипывание струн, которые при различных вариантах преобразуются в исполнительские приемы, используемые балалаечниками: пиццикато - одинарное и двойное, бряцание, дробь, тремоло и вибрато.
У инструмента всего три струны, которые настраиваются необычным образом. Две нижние струны звучат одинаково - звук «ми» первой октавы, а верхняя - на кварту выше, то есть звук «ля».
    <h3>Конструкция</h3>
Балалайка - это инструмент, который красиво звучит только тогда, когда сделан опытным мастером, хорошо знающим свое дело.
    <p>

    </p>
    Современный инструмент, длина которого в общей сложности составляет от 60 до 70 см., изготавливается из древесины сосны и состоит в общей сложности из 70 деталей.
<ul class="list-unstyled">
  <li>Балалайка имеет три основные части - кузов, гриф и деку:
    <ul>
      <li>Кузов, имеющий треугольную форму, осуществляет роль резонатора. Он имеет обычно 6 или 7 граней, изготавливающиеся из сегментов, которые называются клепками.
</li>
      <li>Дека – это лицевая часть корпуса, имеет голосник – резонатор в форме цветочка. Над голосником находится защитное приспособление, называемое панцирем. Он предохраняет деку от ударов при исполнении. Самая широкая, нижняя часть деки, равна 40 см, самая узкая – верхняя - всего 5 см.
</li>
      <li>Гриф – верхняя часть инструмента, обычно изготавливается из черного дерева. На нем находятся лады, число которых разнится от 16 до 31.  Гриф завершается лопаткой, на которой находится колковый механизм, необходимый для натягивания струн. Струны обычно бывают из нейлона или карбона, но иногда и металлические.
</li>
	  <li>Подходит для всех видов плетения и вышивания</li>
    </ul>
  </li>
</ul>

    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Прима – ведущая или солирующая, тембр звонкий, строй: «ми», «ми», «ля» первой октавы.

    <ul>
      <li>Секунда – аккомпанирующая, тембр слегка приглушенный, строй: «ля», «ля» малой и «ре» первой октавы.
</li>
      <li>Альт – аккомпанирующая, тембр мягкий и сочный, строй: «ми», «ми», «ля» малой октавы.
</li>
      <li>Бас – проводит басовую линию, тембр низкий, глуховатый, строй: «ми», «ля» большой и «ре» малой октавы.
</li>
	  <li>Контрабас – создает гармоническую основу, тембр низкий, глуховатый, строй: «ми», «ля» контроктавы и «ре» большой октавы
</li>
    </ul>
  </li>
</ul>
    <h3>Применение и репертуар</h3>
    Усовершенствованная в конце 19 века любителем и знатоком народной музыки В. Андреевым и коллективом его сподвижников, балалайка стала использоваться профессионалами–музыкантами не только как сольный инструмент, но также ансамблевый, а затем и оркестровый. Создавались различные коллективы, которые своими концертными выступлениями способствовали признанию балалайки и продвижению её в массы.

    <p>

    </p>
    Поначалу балалаечный репертуар не отличался своей оригинальностью, музыканты исполняли в основном различные переложения из классической музыкальной литературы. С ростом популярности инструмента ситуация сильно изменилась, такие композиторы как М. Ипполитов-Иванов, Н. Речменский, Ю. Шишаков, Н. Василенко, Н. Будашкин и другие создают для балалайки интересный репертуар, в который входят концерты, сонаты, сюиты и другие произведения крупной формы.
</div>
{% endblock %}