{% extends 'base.html' %}

{% block title %}
О банджо
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О банджо</h1>
    <h3> Звук</h3>
Банджо звучит очень жизнерадостно и задорно. Но если описывать голос инструмента, иначе как резким, звенящим и острым его назвать нельзя. Из-за особенной мембраны он очень чистый и звонкий. Источник звука на банджо – это струны, зажимая их на ладах пальцами левой руки, исполнитель получает нужную высоту звука.
<img class="img-fluid" src="static/image/banjo.jpg">
Техника игры на инструменте аналогична гитарной. Основными способами звукоизвлечения являются щипки и удары по струнам, выполняемые при помощи специальных плектров, которые одеваются на пальцы и очень похожи на когти. Также исполнители могут играть как на гитаре пальцами правой руки или с помощью обычного медиатора.

    <p>

    </p>
    Особо применяемые исполнительские приемы на банджо - это тремоло и арпеджирование.
Диапазон банджо составляет почти три октавы. Строй самого популярного пятиструнного банджо: соль; ре; соль; си; ре.
    <h3>Конструкция</h3>

    <ul class="list-unstyled">
  <li>Весьма оригинальная конструкция банджо включает в себя акустический корпус круглой формы и своеобразный гриф.

    <ul>
      <li>Корпус инструмента напоминает маленький барабан. На лицевой стороне находится мембрана, натягивающаяся при помощи стального кольца, которое крепится при помощи винтов – стяжек. Мембрана на современных банджо обычно изготавливается из кожи или пластика. С задней стороны инструмента устанавливается съемный резонаторный полукорпус, несколько увеличенный по диаметру, по сравнению с мембраной. К обечайке банджо, которая обычно изготавливается из дерева или металла, прикреплен струнодержатель. На мембране устанавливается подставка, через которую натягиваются струны.
</li>
      <li>Гриф, прикрепляющийся к корпусу при помощи анкерного стержня, заканчивается головкой с колками для натяжения струн. Гриф разделен порожками на лады, которые располагаются в хроматической последовательности.  Самое популярное банджо имеет пять струн. Пятая струна на таком инструменте укорочена, и колок для нее находится прямо на грифе, на его пятом ладу.
</li>
    </ul>
  </li>
</ul>
     <h3>Разновидности</h3>
    Популярность и всеобщее признание банджо изначально очень быстро стало набирать обороты. Производители постоянно работали над созданием различных видов инструмента, начиная с

 пикколо и заканчивая басом.
    <ul class="list-unstyled">
  <li>На сегодняшний день банджо имеет много видов с различным количеством струн, но наиболее употребляемыми являются четырех, пяти и шестиструнные инструменты.

    <ul>
      <li>Пятиструнное – обычно применяется для исполнения музыки «кантри» или как называют его сами американцы "bluegrass". Инструмент имеет интересную особенность - укороченную пятую струну, которая при исполнении не зажимается (открытая). Строй данного банджо - (соль) ре, соль, си, ре;
</li>
      <li>четырехструнное – банджо – тенор является классическим. Применяется для игры в оркестрах, аккомпанемента или сольного исполнения. Строй инструмента – до, соль, ре, ля. Такое же банджо используется для исполнения ирландской музыки только с несколько иным строем – соль, ре, ля. ми;
</li>
      <li>шестиструнное – имеет название банджо - гитара. Очень популярно у исполнителей владеющих гитарой, так как оба эти инструменты настраиваются одинаково – ми, ля, ре, соль, си, ми2;
</li>
	  <li>банджолеле – имеет четыре одинарные струны, настроенных на до, соль, ре, соль;
</li>
        	  <li>банджо-мандолина - характерной особенностью являются четыре сдвоенных струны, настраиваемых как мандолина-прима: соль, ре, ля, ми.
</li>
    </ul>
  </li>
</ul>
    <h3>Применение и репертуар</h3>
Диапазон применения банджо, которое привлекает к себе внимание своим ярким и своеобразным звуком, заметно выделяясь на фоне других инструментов, достаточно обширен. С приходом эпохи джаза, блюза и регтайма оно уверенно и прочно вошло в состав инструментальных групп, в то время новых музыкальных направлений, изначально исполняя роль ритмического и гармонического инструмента.

    <p>

    </p>
    В настоящее время банджо, как правило, ассоциирующееся с музыкой в таких стилях, как кантри и блюграсс широко используется в поп-музыке, кельтском панке, панк-роке, фольк-роке, хардкоре.

Однако банджо также ярко проявило себя и как солирующий концертный инструмент. Обычно для банджо сочиняют произведения композиторы-исполнители, среди них Бак Трент, Ральф Стэнли, Стив Мартин, Хэнк Уильямс, Тодд Тейлор, Путнам Смит и другие.

    <p>

    </p>
    Следует также заметить, что репертуарный список произведений щедро дополняется оригинальными переложениями произведений великих классиков: И.С. Баха, П.И. Чайковского, Л.В. Бетховена, Л.Боккерини, В.А.Моцарта, Э.Грига, Р. Шумана, Ф. Шуберта.

В свою очередь важно отметить, что такие композиторы как Джордж Гершвин, Ханс Вернер Хенце, Дэниел Мейсон включали звук банджо в свои симфонические произведения.
</div>
{% endblock %}