{% extends 'base.html' %}

{% block title %}
О фаготе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О фаготе</h1>
    <h3> Звук</h3>
Фагот считается подвижным музыкальным инструментом, но стремительные пассажи исполнять на нем не просто. Однако именно эта особенность стала его «изюминкой» – быстрое отрывистое исполнение звуков (прием стаккато) создает «бубнящий», комический эффект, чем поспешили воспользоваться многие композиторы. Среди них – М. Глинка в опере «Руслан и Людмила», где такой прием использован для характеристики трусливого Фарлафа.
  <p>

    </p>
    Этот инструмент может звучать и совершенно иначе: нежно, ласково, томно с ноткой страсти. Достаточно послушать знаменитейший романс Неморино из оперы Доницетти «Любовный напиток». Именно фагот в сопровождении пиццикато струнных начинает эту, пожалуй, одну из самых романтичных и проникновенных арий в мире.
  <p>

    </p>
    Тембр этого инструмента трудно перепутать с каким-либо другим. Он низкий, с хрипотцой, к тому же очень экспрессивный. Самый низкий, а также средний регистр используется чаще всего, а вот верхние ноты получаются весьма сдавленными и даже гнусавыми. Диапазон фагота сравнительно небольшой – почти три октавы, от си бемоль контроктавы до ре второй. Интересно, что можно извлекать и более высокие ноты, вот только они не всегда хорошо звучат и композиторы практически никогда не используют их, зная эту особенность. Записывается партия фагота обычно в басовом либо теноровом ключах.
  <p>

    </p>

  <img class="img-fluid" src="static/image/bassoon.jpg">
    <h3>Конструкция</h3>
Внешне фагот похож на согнутую трубку, и представляет собой благородное сочетание темного дерева и металлических деталей. Трость фагота является двойной и надевается на металлическую трубку, имеющую очертание буквы "S", отсюда и происходит его название – эс. Именно эта трубка соединяет трость с основным корпусом инструмента. Если обратить внимание на форму раструба фагота, то можно заметить, что он не имеет расширяющегося конца, а остается ровным.– это влияет на звучание инструмента. У него слабо выделяется основной тон, а высокие «призвуки» бедноваты. К тому же, именно поэтому, фагот не наделен огромной силой звука.
  <p>

    </p>
    На фаготе имеется 33 отверстия, многие из которых закрываются при помощи 29 клапанов довольной сложной механики. Это позволяет музыканту изменять высоту звука при исполнении на инструменте.
  <p>

  </p>
  На фаготе имеется 33 отверстия, многие из которых закрываются при помощи 29 клапанов довольной сложной механики. Это позволяет музыканту изменять высоту звука при исполнении на инструменте.
 <p>

 </p>
  Если развернуть трубу фагота, то ее длина составит около 2,6 метра, в то время как контрфагот может быть длиной до 5 метров. Однако несмотря на большую длину и сложность конструкции, вес фагота составляет всего около трех килограммов, что делает его относительно удобным для игры и транспортировки.

     <h3>Разновидности</h3>
    За весь период формирования этого инструмента, существовало несколько видов: квартфагот, фаготино и контрфагот. Последний из них сохранился до сих пор и успешно используется в симфонических оркестрах.
  <h3>роль в оркестре</h3>
Долгое время фаготу отводилась вспомогательная роль в оркестре – ничего, кроме «поддержки» басовых партий, ему не доверяли. Но все изменилось с рождением жанра оперы – композиторы увидели в нем нечто особенное. Отныне этот обладатель экспрессивного и насыщенного обертонами тембра с легкой хрипотцой стал ярким и полноправным солистом. Обычно в оркестре используется несколько фаготов – два или три, совсем редко встречается четыре, причем последний чаще заменяется на контрфагот, если того требует партитура.
    <p>

    </p>
    Фагот, будучи частью симфонического оркестра, дополняет и обогащает звучание других инструментов. Его уникальный тембр создает гармоничное единство со струнными, духовыми и ударными инструментами. Разнообразие звуковых красок, которые способен извлечь фагот, делают его незаменимым инструментом в создании музыкального шедевра.
    </div>
{% endblock %}