{% extends 'base.html' %}

{% block title %}
О баяне
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О баяне</h1>
    <h3> Звук</h3>
Баян, имеющий богатый музыкально-выразительный потенциал, открывает перед исполнителями большие возможности для творчества. Яркий звук отличается насыщенностью, выразительностью и мелодичностью, а тончайшая филировка придает тембру особую красочность. На инструменте возможно исполнение красивых романтичных мелодий, а также драматически мрачных музыкальных произведений.
  <p>

    </p>
    Звук на баяне образуется из-за колебания язычков в голосовых планках под действием воздуха, который создает меховая камера и характеризуется особой динамической пластичностью. На инструменте возможно исполнение нежнейшего прозрачного пиано и фанфарного форте.
  <p>

    </p>
    Баян, в силу своей конструктивной особенности (наличие регистров), обладает разнообразной тембральной палитрой звука - от полнозвучного органного, до мягкого и теплого скрипичного. Тремоло на баяне очень похоже на тремоло скрипки, а динамический объем инструмента создает впечатление, что играет полный оркестр.
  <p>

    </p>
    Диапазон баяна довольно большой и составляет 5 октав, начиная от «ми» большой октавы и заканчивая «ля» четвертой.
  <div>  </div>
    <img class="img-fluid" src="static/image/bayan.jpg">
    <h3>Конструкция</h3>
Баян, представляющий довольно сложную конструкцию, состоит из двух основных секций: левой и правой, соединенных между собой мехом.

    <p>

    </p>
   1. Правая часть инструмента - это коробка прямоугольной формы, с прикрепленными к ней грифом и декой, с вмонтированными в нее механизмами. При нажатии на клавишу, механизм поднимает клапаны, тем самым пропуская воздух к резонаторам с голосовыми планками и язычками.
    <p>

    </p>
    Для изготовления коробки и деки используются резонаторные породы древесины: ель, береза, клен.
    <p>

    </p>
    К коробке крепится решетка, а также переключатели регистров (если таковы предусмотрены конструкцией) которые служат для изменения тембра. На коробке также находятся два больших ремня для фиксации инструмента во время исполнения.
    <p>

    </p>
    На грифе в хроматическом порядке расположены игровые клавиши в три, четыре или пять рядов.
    <p>

    </p>
    2. Левый корпус – это тоже коробка прямоугольной формы, в которой на внешней стороне находится левая клавиатура инструмента, содержащая пять, а иногда шесть рядов кнопок: два – басы, остальные ряды готовые аккорды (мажорные, минорные, септаккорды и уменьшенные септаккорды). На левом корпусе имеется  регистр для переключения готовой или выборной системы звукоизвлечения, а также малый ремень, при помощи которого левая рука приводит в движение меховую камеру.

    <p>

    </p>
    В левом корпусе располагается дека со сложными механизмами для извлечения звуков в двух системах для левой руки: готовой и готово-выборной.
    <p>

    </p>
    Меховая камера, прикрепляемая к корпусу рамками, изготавливается из специального картона и сверху оклеивается тканью.
    <p>

    </p>
    Вес многотембрового концертного баяна достигает 15 кг.
        <h3>Разновидности</h3>
    Большое баянное семейство делится на две группы: обычные баяны и оркестровые.  <ul class="list-unstyled">
  <li>Обычные имеют два вида, которые отличаются друг от друга системами аккомпанемента в левой руке: готовая и готово–выборная.
      <ul>
      <li>Готовая система аккомпанемента состоит из басов и готовых аккордов.</li>
      <li>Готово–выборная имеет две системы: готовую и выборную, которые меняются при помощи специального регистра. Выборная система имеет полный хроматический звукоряд, что увеличивает исполнительские возможности инструмента, но в то же время усложняет технику игры.
      </li>
    </ul>
  </li>
</ul>
      <li>Оркестровые баяны, в силу своей конструктивной особенности имеющие клавиатуру только с правой стороны корпуса, также делятся на два вида:
          <ul>
      <li>первый - инструменты отличаются по звуковысотному диапазону: контрабас, бас, тенор, альт, прима, и пикколо;
              <li>второй - отличаются по тембру: баян-труба, фагот, флейта, кларнет, гобой.      </li>
    </ul>
  </li>
</ul>

    <h3>Применение и репертуар</h3>
Спектр применения баяна очень широк, его можно услышать и на сценах больших концертных залов в качестве солирующего, ансамблевого, оркестрового инструмента и в самодеятельных ансамблях и оркестрах народных инструментов. Большой популярностью пользуются коллективы, состоящие только из баянистов. Очень часто баян используют как аккомпанирующий инструмент или просто в быту на различных семейных праздниках.
    <p>

    </p>
   Инструмент очень универсален, на нем исполняют произведения композиторов прошлых эпох, а также музыку современных жанров: джаза, рока и техно.
    <p>

</p>
Великолепно звучат на баяне сочинения И.С. Баха, В.А. Моцарта, Н. Паганини, Л.В. Бетховена, И. Брамса, Ф. Листа, К. Дебюсси, Д. Верди, Ж. Бизе. Д. Гершвина, Г. Малера, М. Мусоргского, М. Равеля, Н. Римского-Корсакова, А. Скрябина, Д. Шостаковича, П. Чайковского, Д. Верди и многих других классиков.
<p>

</p>
Сегодня все больше современных композиторов пишут для инструмента разные произведения: сонаты, концерты и оригинальные эстрадные пьесы. Л. Пригожин, Г. Банщиков, С. Губайдулина, С. Ахунов, Х. Валпола, П. Макконен, М. Мурто – их музыкальные композиции для баяна очень эффектно звучат на концертной сцене.
</div>
{% endblock %}