{% extends 'base.html' %}

{% block title %}
О кларнете
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О кларнете</h1>
    <h3> Звук</h3>
Когда хотят красочно описать характерный звук кларнета, вспоминают замечательное произведение П.И. Чайковского, его увертюру - фантазию «Франческа да Римини», где трогательный голос музыкального инструмента грустно рассказывает о трагической судьбе девушки.
  <p>

    </p>
  Еще великий В.А. Моцарт, неравнодушно относившийся к инструменту, говорил, что звук кларнета очень похож на человеческий голос. Область выразительности его очень велика, ему подвластно многое, например, своим мрачным и глубоким звучанием изобразить драматические события, или быть светлым, неунывающим и даже шутливым, как в очаровательном арпеджио из сюиты к балету П.И. Чайковского «Щелкунчик» или пастушеских наигрышах Леля из оперы «Снегурочка» Н.А. Римского – Корсакова.

  <p>

  </p>
    Кларнет не только один из самых мелодичных, но и самый виртуозный из группы деревянных духовых инструментов, на нем можно осуществлять различные исполнительские задачи.
  <p>

    </p>
    Диапазон кларнета составляет почти четыре октавы и условно делится на три регистра: нижний, имеющий название шалюмо - по звуку сумрачный и угрюмый; средний – кларино, светлый и прозрачный; верхний – резкий и крикливый.
  <p>

    </p>
    Применение различных регистров этого инструмента зависит от характера музыки, который хочет изобразить композитор.
  <p>

  </p>
  У кларнета есть еще одно большое преимущество - ему доступно гибкое изменение динамической линии - от интенсивного усиления звука до его значительного ослабления. Кларнет может играть на чуть слышном «пианиссимо», но также способен впечатлить и ярким звучанием.

  <img class="img-fluid" src="static/image/clarnet.jpg">
    <h3>Конструкция</h3>
Кларнет – это трубка цилиндрической формы, длина которой около 70 см. Одна сторона имеет небольшое расширение - венчикообразный раструб.  Другая - мундштук в виде клюва, к которому прикрепляется одна трость (пластинка из тростника). Инструмент состоит из следующих компонентов: мундштука, лигатуры, бочонка, верхнего колена, клапанов, нижнего колена, раструба. Клапанный механизм, имеющий много взаимосвязанных соединений, довольно сложен, количество клапанов в нем варьируется и зависит от вида кларнета, иногда их может быть до 20. Вес кларнета (сопрано) составляет 850 гр.

    <p>

    </p>
    Кларнеты производят из высокородных сортов мпинго, кокобола и африканского черного дерева, которые растут длительное время и имеют твердую, хорошо резонирующую структуру. Также возможно изготовление этого инструмента из самшита, палисандра и иногда синтетических материалов, но такие инструменты чаще всего используются в учебных целях и в концертах на открытом воздухе.
    <p>

    </p>
    Производство кларнета является довольно консервативным, большая часть работы выполняется высококвалифицированными мастерами вручную. Большинству нововведениям в конструкции кларнета около 100 лет, эксперименты сейчас проводятся только с мундштуком и тростями.
     <h3>Разновидности</h3>
    За время эволюции у кларнета появилось довольно большое семейство. В разное время было сконструировано почти 20 разновидностей, многие из них не нашли должного применения, но некоторые активно применяются и по сей день.
   <ul class="list-unstyled">
  <li>Стоит в первую очередь выделить двух самых важных представителей, это кларнеты в строе B и A, их еще называют большими или кларнетами-сопрано. Кроме этих основных инструментов следует также обратить внимание на другие виды кларнета. Классифицируются они следующим образом, от самого высоко звучащего и к наиболее низкому.
      <ul>
      <li>Сопранино, (строй - F, G, As) - используется редко.</li>
      <li>Кларнет малый (пикколо), строй Es - выделяется пронзительным звучанием. Его резкий и крикливый тембр пикколо нередко востребован в сочинениях композиторов: Г. Берлиоза, Р. Вагнера, Н. Римского-Корсакова, Д. Шостаковича, Р. Штрауса.
      </li>
      <li>Кларнет "С", строй: C - в настоящее время применяется в учебных целях.
      </li>
          <li>
              Бассет, строй: A, B – его мы можем услышать в опере «Волшебная флейта» В. А. Моцарта, но в нынешнее время потребляется редко.

          </li>
          <li>Бассетгорн - строй: A, Es, F, G - кларнет альтового регистра. Он по размеру немного превосходит сопрановый кларнет, звук - уравновешенный и величавый.  По звуковым характеристикам располагается между обычным и басовым кларнетом. Сейчас применяется в ансамблевой музыке.
          </li>
          <li>Альтовый и контральтовый - применяются для исполнения старинной музыки.
          </li>
          <li>Бас-кларнет, строй - B. Самый большой представитель кларнетового семейства, имеющий два вида: французской и немецкой системы. Имеет своеобразную форму, напоминающую курительную трубку: мундштук посаженный на выгнутый шпиль и загнутый наверх раструб. Бас-кларнет прочно вошел в большой симфонический оркестр, где главная функция, которую он выполняет, усиление басовой линии. Композиторы порой доверяют ему сольные моменты, когда надо изобразить эпизод тревожного, драматического характера. Иногда выступает как сольный инструмент.
          </li>
          <li>Контрабасовый кларнет, строй: B, A - звук наиболее насыщенный и монументальный. Диапазон включает звуки, которые на октаву ниже, чем у басового – кларнета, длина его около 3 метров. Находит применение в ансамблевой музыке.
          </li>
    </ul>
  </li>
</ul>

    <h3>Применение и репертуар</h3>
Кларнет один из самых интересных инструментов, спектр применения его огромен: симфонический, камерный, эстрадный и духовой оркестры; джаз, рок, народные клезмеровские ансамбли.
    <p>

    </p>
    Благодаря своему прекрасному тембру кларнет заслужил большую любовь композиторов. В симфонической музыке можно найти многочисленные примеры его сольных эпизодов. Л.В. Бетховен, В.А. Моцарт, Ф. Шуберт, Ф. Мендельсон, К. Вебер, Д. Пучинни, Д. Верди, Я. Сибелиус, М. Глинка, Р. Шуман, П. Чайковский, Н. Римский-Корсаков, А. Рубинштейн, А. Глазунов, С. Рахманинов, И. Стравинский, Р. Штраус, М. Равель, С. Прокофьев, Д. Шостакович и другие величайшие авторы музыкальных шедевров украшали свои произведения выразительными солирующими партиями кларнета, как ясного и задорного, так и трагического, напряженного характера.
    <p>

</p>
Кларнет - наиважнейший инструмент в джазе и еврейском клезмере. Он очень энергично проник в национальную музыку различных стран: Испании, Франции, Болгарии, Румынии, Швеции, Греции, Бразилии и нашел там очень широкое применение, в том числе как незаменимый инструмент на свадьбах и деревенских праздниках.
<p>

</p>
    Большой популярностью кларнет пользуется как солирующий инструмент. Воодушевленные блистательными выступлениями кларнетистов-виртуозов многие композиторы сочиняли свои произведения именно для этого инструмента. Среди них: К. Дебюсси, К. Вебер К. Сен-Санс, А. Копленд, П. Хиндемит, Б. Барток, И. Стравинский, А. Хачатурян, К. Нильсен, А. Копленд, Д.  Мийо, Д. Финци, С. Василенко, М. Вайнберг, У. Пистон, Д. Корильяно, К. Пендерецкий, Б. Чайковский, А. Берг, Б. Мартину, Д. Мийо, А. Онеггер, Ф. Пуленк, А. Хованесс, А. Мессаже и другие.

</div>
{% endblock %}