{% extends 'base.html' %}

{% block title %}
О барабане джембе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О барабане джембе</h1>
    <h3> Звук</h3>
Он имеет чрезвычайно вариативное звучание. Тембр может варьироваться от низкого баса до звонких шлепков.

Громкость джембе возрастает со степенью натяжения мембраны. Кроме того, натяжение влияет на тон инструмента.
    <p>

    </p>
    На джембе играют голыми руками, используя различные положения ладони для извлечения разных тембров звуков.

Удар сомкнутыми пальцами ладони посередине пластика вызывает басовый звук. Удары, направленные ближе к ободу барабана, извлекают более высокие, перкуссионные звуки. Опытные музыканты могут извлекать и средние по высоте ноты.
    <img class="img-fluid" src="static/image/djembe.jpg">
    <h3>Конструкция</h3>
Джембе — это настроенный на верёвку обтянутый кожей кубковый барабан, на котором играют голыми руками.
    <ul class="list-unstyled">
  <li>Он имеет следующие характеристики:
    <ul>
      <li>тело (или панцирь) из твёрдой древесины;</li>
      <li>барабанную головку из необработанной (не известковой) сыромятной кожи, чаще всего из козьей.
      </li>
    </ul>
  </li>
</ul>
Джембе может издавать самые разнообразные звуки, что делает его чрезвычайно универсальным барабаном. Барабан очень громкий, что позволяет чётко слышать его как сольный инструмент над большим ударным ансамблем.
    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Существуют следующие разновидности барабанов джембе:
    <ul>
      <li>Клееный корпус. Такие барабаны обычно делают из небольших досочек, сверху на них ставят кожу.
      </li>
      <li>Выточенные. Такие барабаны изготавливают на механическом станке. Их массово производят в Индонезии или Индии.
      </li>
      <li>Ремесленные. Такие барабаны делают из цельного куска дерева или пня.
      </li>
        <li>Сувенирные барабаны. Это небольшие барабаны, которые нельзя назвать полноценным музыкальным инструментом.
        </li>
    </ul>
  </li>
</ul>

    <h3>История</h3>
Родиной кубкообразного барабана считается Мали. Оттуда инструмент распространился сначала по Африке, затем за ее пределами. Альтернативная версия объявляет родиной инструмента государство Сенегал: представители местных племен играли на схожих конструкциях в начале первого тысячелетия.

    <p>

    </p>
    Истории африканских аборигенов гласят: магическую силу барабанов раскрыли человечеству духи. Поэтому они издавна считались сакральным предметом: барабанная дробь сопровождала все знаковые события (свадьбы, похороны, шаманские ритуалы, военные действия).

Первоначально главным предназначением джембе являлась передача информации сквозь расстояние. Громкие звуки преодолевали путь 5-7 миль, ночью – гораздо больше, помогая предупредить соседние племена об опасности. Впоследствии сложилась полноценная система «разговора» при помощи барабанов, напоминающая европейскую азбуку Морзе.
</div>
{% endblock %}