{% extends 'base.html' %}

{% block title %}
О домре
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О домре</h1>
    <h3> Звук</h3>
Домра – это инструмент, обладающий большими выразительными возможностями, ее яркий и лёгкий голос узнается без труда. Из-за сильного натяжения струн, звук у домры звонкий, но быстро затухающий. Тембр - теплый, мягкий, лучистый, бархатистый и насыщенный.
    <p>

    </p>
    Пиццикато, удары по струнам вверх и вниз, тремоло, флажолеты и глиссандо – такой набор основных приемов, которыми пользуются исполнители на домре.

Игра на инструменте, как правило, происходит при помощи медиатора. Длинные ноты исполняются только приемом «тремоло».
    <p>

    </p>
    Домра – инструмент, обладающий большим техническим потенциалом, ей доступны композиции различной сложности и любой стилистической направленности - это и оригинальные произведения и переложения сочинений классических композиторов. Виртуозная арпеджированная и пассажная техника, сложные ритмические фигурации, разнообразные штрихи, игра интервалами и аккордами – все это технические приемы, которыми владеют исполнители.
    <p>

    </p>
    Домры бывают двух видов: трехструнная – имеет диапазон от «ми» первой до «ми» четвертой октавы; и четырехструнная - диапазон от «си» малой до «ми» четвертой октавы.
<div></div>
    <img class="img-fluid" src="static/image/domra.jpg">
  <div></div>
    <h3>Конструкция</h3>
Домра, как и скрипка, очень капризный инструмент, и чтобы она хорошо звучала, то должна быть сделана высоко квалифицированным мастером с тонким слухом, а также из хорошо выдержанного дерева.

конструкция домры
    <p>

    </p>
    Конструкция включает в себя корпус инструмента и гриф с головкой.
<ul class="list-unstyled">
  <li>1. Корпус имеет в своем составе кузов и деку.
    <ul>
      <li>Кузов обычно изготавливают из выгнутых клепок, образующих полусферическую форму. Клепки изготавливаются из палисандра, белого клена или волнистой березы. На кузов устанавливаются струнодержатели, которые называются кнопками.
</li>
      <li>Дека – это лицевая часть корпуса в форме плоского овала, закрывающая кузов и окаймленная по кромке обечайкой. В центре расположен голосник – резонатор, имеющий розетку фигурной формы. На деку накладывается панцирь, который защищает ее от царапин, и подставка, приподнимающая струны и устанавливающаяся в точно определенном месте. Дека обычно изготавливается из резонаторных ели и пихты, подставка из клена, а панцирь из дерева твердых пород или синтетических материалов.
</li>
    </ul>
  </li>
</ul>
2. Прикрепленный к корпусу гриф заканчивается головкой с закрепленным на ней колковым механизмом необходимым для натяжки струн. К грифу приклеивается накладка с порожками, которые разделяют лады, располагающиеся в хроматической последовательности. Между головкой и шейкой грифа крепится порожек, который влияет на уровень высоты струн. Высоко поднятые струны тяжело прижимаются к ладам и усложняют исполнение на инструменте.

Звук на домре извлекается при помощи маленькой пластиночки медиатора - плектра, имеющего форму овала и размер которого зависит от размера домры. Лучшим материалом для медиаторов считаются черепаховые панцири, но также сейчас изготавливают плектры из различных полимерных материалов.
    <h3>Разновидности</h3>
    Домра имеет два вида, которые различаются по количеству струн и по строю.

    <p>

    </p>
    Трехструнная домра (конструкции В. Андреева) в оркестре называется малой домрой, настраивается по квартам. Четырехструнная домра (конструкции Любимова) как скрипка имеет квинтовый строй.

    <p>

    </p>
    У каждого вида домр есть еще и подвиды, которые отличаются по размерам. В группе трехструнных домр в практике ансамблевой и оркестровой игры активно используются: басовая, альтовая, и пикколо; редко применяются: контрабасовая, теноровая и меццо – сопрановая.

<ul class="list-unstyled">
  <li>У  четырехструнных домр (конструкции Г. П. Любимова) имеется: басовая, альтовая, и пикколо, редкие разновидности: контрабасовая и теноровая.

    <ul>
      <li>Пикколо – звучит ярко и светло, ее пронзительный голос очень дополняет и украшает звучание всего оркестра.
</li>
      <li>Альт с мягким и грудным по тембру звуком обычно служит для гармонического заполнения между верхним и нижним голосом, но иногда ему поручают и сольные моменты.
</li>
      <li>Бас - по всему диапазону имеет насыщенный, бархатный звук. Являясь обладателем веского, густого и немного тяжеловатого голоса, нижнему регистру инструмента поручается ведение басовой линии. Мелодические линии, поручаемые среднему и высокому регистрам, которые имеют мягкий и бархатистый оттенок, звучат очень красочно и проникновенно. Из-за больших размеров бас технически весьма ограничен, потому что требует от домриста наличие большой растяжки пальцев левой руки.
</li>
    </ul>
  </li>
</ul>

    <h3>Применение и репертуар</h3>
Уже изначально в период восстановления домры мастерами под руководством музыканта, создателя кружка балалаечников и композитора В. Андреева, предназначение ее было определено как мелодического в оркестре народных инструментов. Продолжительное время роль домры заключалось именно в этом, она в народном оркестре играет ту же роль примы, как и скрипка в симфоническом. Домра довольно долго оставалась только оркестровым инструментом и лишь потом она стала ансамблевым, когда при оркестре под управлением В. Андреева начал свою концертную деятельность домровый квартет. Инструмент вышел на сцену как солирующий несколько позже. Очень жаль, но в России домра как народный инструмент больше не применялась.

     <p>

    </p>
    Как солирующий концертный инструмент домра раскрылась весьма ярко, специально для нее начали сочиняться произведения. Особо следует отметить концертное произведение Н. Будашкина, поистине ставшее жемчужиной в репертуаре для этого инструмента, также произведения крупной формы Ю. Шишакова, Б. Кравченко, Ю. Зарицкого, которые еще больше раскрыли его новые художественные возможности.
<p>

</p>
К сожалению, маститые композиторы, сочиняющие в иных жанрах, не проявляют особого интереса к домре, и для нее обычно пишут произведения композиторы - исполнители, среди них: А. Цыганков, Г. Зайцев, Н. Пенько, К. Волков, В. Соломин, В. Соболева-Белинская, В. Пожидаев, Н. Хондо, Ю. Семашко, Е. Подгайц и другие. Однако домра в плане репертуара не обижена, на инструменте прекрасно звучат транскрипции, написанные величайшими композиторами для скрипки, флейты, кларнета, фортепиано. Это шедевры таких композиторов как И.С. Бах, П.И. Чайковский, Г. Венявский, Ф. Пуленк, А. Скарлатти, К. Сен-Санс, П. Сарасате, Д. Шостакович, Н. Паганини, С. Рахманинов, C. Прокофьев, Д. Гершвин, А. Пьяццолла.
</div>
{% endblock %}