{% extends 'base.html' %}

{% block title %}
О флейте
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О флейте</h1>
    <h3> Звук</h3>
Звучание флейты напоминает о волшебстве. Изумительно красивые звуки возникают в среднем регистре - удивительно ясные, чистые и проницательные. Не случайно в фольклоре и сказках многих народов флейта занимает особое место, ей нередко придают мистические свойства. Мелодичное звучание флейты в руках искусного музыканта способно не только доставить эстетическое удовольствие, но и просто очаровать своей выразительной и глубокой музыкой, которая кажется проникает прямо в сердце. Мягкое и мелодичное звучание флейты способно усладить наш слух и вызвать самые добрые и светлые чувства.
  <p>

    </p>
    Флейта или простая дудочка, как правило, становится одним из самых первых музыкальных инструментов, с которыми могут столкнуться дети, и даже способны изготовить ее самостоятельно из подручных предметов подходящей формы.
  <p>

    </p>
    Стоит несколько слов сказать об особенностях звучания флейты. Нижний регистр отличается небольшой глуховатостью, но нельзя не заметить его мягкость, сердечность и душевную проникновенность, а верхний ряд нот звучит пронзительно, с резким присвистом. Особенность акустики флейты заключается в том, что при игре на «пиано» высота звучания незначительно понижается, а игра на «форте» повышает звук.
  <p>
    </p>
   Характер высоты звуков можно изменить, регулируя силу воздушной струи на выдохе, ну и конечно с помощью механизма клапанов, которые закрывают отверстия на инструменте.
  <p>

  </p>
  Диапазон флейты занимает промежуток от ноты «До» первой до ноты «До» четвертой октавы.
<div>  </div>
  <img class="img-fluid" src="static/image/flute.jpg">
    <h3>Конструкция</h3>
Поперечная флейта - продолговатая трубка цилиндрического типа, имеющая систему клапанов, которые закрывают 16 отверстий. Один конец ее закрыт, на нем есть отверстие, куда прикладывают губы для вдувания воздух. Современные типы флейт включают в себя трехчастную структуру: головка, тело и колено. В отличие от других инструментов духового типа, звук флейты формируется за счет направленного воздушного потока к краю губной пластинки. Огромная роль в правильной технике игры принадлежит форме губ или «амбушюру». Тонко изменять звучание инструмента можно за счет смены степени напряжения и формы губ.

    <p>

    </p>
    Общий показатель высоты звука изменяют, выдвигая головку из тела инструмента, чем больше выдвинута головка, тем ниже будет звук.
 <p>

 </p>
    Средний вес флейты – 600 грамм.
    <p>

    </p>
    Современная концертная большая флейта составляет 67 см в длину, а длина пикколо всего около 32 см.

    <h3>Разновидности</h3>
   Поперечная флейта помимо основной большой концертной, имеет три основные разновидности: флейта-пикколо, альтовая и басовая.

    <p>

    </p>
    Флейта-пикколо - среди духовых самый звучащий инструмент. Строение такое же как и у большой флейты, различие кроется в размерах - она в два раза короче обыкновенной и звучит на октаву выше. Резкость тона флейты–пикколо с легкостью перекрывает звук целого оркестра. В спектакле Римского-Корсакова «Сказка о царе Салтане» ей отводится тема белки, разгрызающей орешки. В 1-м акте оперы Бизе «Кармен» пара пикколо составила компанию хору мальчиков, смело вышагивающему за строем солдат.

    <p>

    </p>
   Альтовая флейта. Напоминают обычную концертную флейту, но несколько больше по размерам и с иным строением системы клапанов. Диапазон ― от «соль» малой октавы до «ре» третьей октавы.
 <p>

 </p>
    Басовая флейта - в диапазоне от «си» большой октавы до «фа» второй октавы
    <p>

    </p>
    Следует упомянуть и гораздо более редко используемых образцах — d'Amour, контрабасовая, октобасовая и гипербасовая.

     <h3>Применение и репертуар</h3>
Выразительность звучание флейты привлекала внимание величайших композиторов.     <p>
<p>
    </p>
    А. Вивальди написал 13 концертов для флейты с оркестром. И.С. Бах, хорошо знающий технические возможности, сочинил огромное число произведений с участием флейты, особенно прекрасны его сонаты, а искрометная «Шутка» и необыкновенно трогательная «Сицилиана» не оставляют равнодушными меломанов всего мира и поныне. К шедеврам флейтовых репертуаров относят произведения Г.Ф. Генделя, К.В. Глюка, И. Гайдна, В.А. Моцарта, Л.В. Бетховена. Очаровательная «Мелодия» - популярнейшее соло в опере «Орфей и Эвридика» продемонстрировала чувственно-выразительный аспект флейт. Значимое место солирующего инструмента флейта получила в произведениях  В.А. Моцарта. Действительное понимание тембра и виртуозных возможностей выявил Л. Бетховен по-своему внедрив ее в симфонический оркестр, примером может послужить увертюра к опере «Леонора».

   Век романтизма также обозначился развитием исполнительского мастерства игры на флейте. В этот период репертуар флейтистов обогащался шедеврами таких мастеров как К.М. Вебера, Ф. Шуберта, Д. Россини, Г. Берлиоза, К. Сен-Санса.
    <p>

</p>
В джазе одним из первых стал использовать флейты барабанщик и руководитель джазового оркестра Чик Уэбб в конце 1930-х. Франк Весс был среди первых примечательных джазовых флейтистов в 1940-х.
<p>

</p>
    Jethro Tull - вероятно, самая известная рок-группа регулярно использующую флейту, на которой играет лидер группы Иэном Андерсоном. Альтовую флейту можно услышать в песне Битлз, «You've Got to Hide Your Love Away» (Ты должен скрыть свою любовь), на которой играет Джон Скотт. Также в композиции «Пенни-Лейн».

</div>
{% endblock %}