{% extends 'base.html' %}

{% block title %}
О валторне
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О валторне</h1>
    <h3> Звук</h3>
Многие меломаны считают, что тембр валторны один из самых красивых в оркестре, ее сочный голос превращает простую мелодию в силу, которая может успокоить душевное волнение или улучшить настроение слушателя. Звук валторны очень мощный, и когда играет валторновая группа в полном составе, то она пронзает звучание всего симфонического оркестра.
    <p>

    </p>
   Интересно, что в разных регистрах и динамике, оттенок звука валторны способен меняться от грубого и напористого, до светлого и певучего – это позволяет только одному инструменту передать весь спектр эмоций.
    <p>

    </p>
    Звук извлекается путем вибрации губ в чашке мундштука, а затем преобразуется колебаниями воздушного столба в инструменте.
    <p>

    </p>
    Диапазон валторны 4 октавы, но извлечение звуков в высоком регистре весьма затруднительно. Валторна – транспонирующий инструмент, нотный текст для неё пишется в скрипичном и басовом ключах. Композиторы раньше писали в своих произведениях партии для натуральных валторн, без знаков при ключе, поэтому современным валторнистам постоянно приходится транспонировать ноты в разные тональности.

    <img class="img-fluid" src="static/image/valtorna.jpg">
    <h3>Конструкция</h3>
Валторна является членом семьи медных духовых инструментов. Она состоит из мундштука и очень длинной, узкой и преимущественно спиральной трубки конического сечения, которая заканчивается широким раструбом. Механизм валторны состоит из 3-5 вентилей, которые изменяют длину инструмента и высоту звука.
  <ul class="list-unstyled">
  <li>Вес валторны около 2 кг.
    <ul>
      <li>мундштучная трубка;</li>
      <li>основной крон настройки;</li>
              <li>соединительная трубка;</li>
      <li>соединительный манжет;</li>
              <li>предраструб;</li>
      <li>соединительное кольцо;</li>
              <li>раструб</li>
      <li>клапана с вентилями;</li>
              <li>кроны;</li>
      <li>крючок для пальца.</li>
    </ul>
  </li>
</ul>
Основные производители валторн: Alexander (Германия), Holton ( США), Hans Hoyer (Германия), Conn (США), Paxman (Британия), Yamaha (Япония).

    <h3>Применение и репертуар</h3>
Валторна - очень важный инструмент в симфоническом оркестре. Назначение партии валторны: подголоски, фанфары и сольные моменты, но, пожалуй, наиболее распространенное применение звучания валторны, в качестве гармонического наполнения где-то между линией баса и мелодией. Такое использование этого инструмента является одним из ключевых приемов, которым пользуются начинающие композиторы, так как звучит это красиво и является идеальным способом, чтобы связать вместе звучание всего оркестра.
    <p>

    </p>
   В духовом или военном оркестрах роль валторны в основном более скромная - аккомпанирующая.<p>

</p>
Валторна значимый инструмент не только в симфоническом и духовом, но и в камерном оркестре, а также очень востребована в различных инструментальных ансамблях: трио, квартетах, квинтетах и других.
<p>

</p>
    Композиторам сразу пришлось по душе мягкое, благородное и несколько «туманное» звучание валторны, поэтому она часто использовалась как солирующий инструмент. П.И. Чайковский любил в своих произведениях поручать исполнение мелодии именно валторне, например, знаменитейшее соло во второй части пятой симфонии. Л.В. Бетховен, Г. Малер, Р. Вагнер, Б. Бриттен, М. Глинка, Д. Шостакович, А. Хачатурян. С. Прокофьев - большинство величайших композиторов не обходили валторну вниманием, поручая ей сольные фразы в своих шедеврах.
    <p>

    </p>
    Нельзя не отметить тот факт, что валторна очень популярна среди голливудских композиторов. Во многих фильмах мы можем услышать валторновый звук, например, в эпической фантастической саге Д. Лукаса «Звездные войны».
</div>
{% endblock %}