{% extends 'base.html' %}

{% block title %}
О рояле
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О рояле</h1>
    <h3> Описание</h3>
Рояль — музыкальный инструмент, основной вид фортепиано. В нём струны, дека и механическая часть расположены горизонтально, корпус имеет крыловидную форму, а звуки издаются ударами войлочных молоточков по струнам при помощи клавиш.
  <p>

    </p>
    В отличие от пианино, звучание рояля более выразительно и насыщенно по тембру, клавиатура более чувствительна, игровые качества более виртуозны, а диапазон градаций изменения звука — шире.
  <p>

    </p>
    Исполнитель на рояле называется пианистом.
  <img class="img-fluid" src="static/image/piano_grand.jpg">
    <h3>Конструкция</h3>
<ul class="list-unstyled">
  <li>Конструкция рояля включает следующие элементы:
    <ul>
      <li>Футор — основной опорный узел фортепиано, несущий нагрузку натяжения всех струн.</li>
      <li>Чугунная рама фортепиано — цельная чугунная отливка сложного решётчатого строения с продольными и поперечными связями, укреплённая внутри деревянного корпуса инструмента.
      </li>
        <li>Аграф — латунный винт сложной формы с отверстиями и порожками, предназначенный для фиксации положения и обеспечения качественной отсечки струн хора.
        </li>
        <li>Форбаум — деталь лицевой части корпуса рояля, закрывающая спереди чугунную раму и вирбельбанк.
</li>
        <li>Вирбельбанк — многослойная деревянная доска с отверстиями, в которые забиты вирбели («колки»), натягивающие струны рояля.
</li>
        <li>Фусклец — опорный брус для крепления ножки рояля.</li>
        <li>Каподастр — металлическая фигурная планка, прижимающая поперёк струны к струнному штапику в дискантовом регистре.</li>
    <li>Панцирь — сплошная плита чугунной рамы рояля, закрывающая вирбельбанк.</li>
    <li>Штульрама — массивная рама, которая привинчивается к бачкам корпуса и служит базой для клавишно-молоточкового механизма фортепиано.</li>
   <li>Шпрейц — брус футора или чугунной рамы, несущий нагрузки от натяжения струн.</li>
    </ul>
  </li>
</ul>
    <h3>Разновидности</h3>
<ul class="list-unstyled">
  <li>В мире музыки различают несколько видов.    <ul>
      <li>Концертные большие (длина 2,74 м — 3,08 м)</li>
      <li>Концертные малые (2,25 — 2,5 м)</li>
      <li>Салонные (2,1 — 2,25 м)</li>
      <li>Кабинетные (1,6 — 1,9 м)</li>
      <li>Миньон (рояль для дома, параметры 1,32 — 1,55 м)</li>
    </ul>
  </li>
</ul>
Большие концертные требуют площади не менее 100 м2 и высоту потолков 3 м. Вес инструмента — 500 — 550 кг. Чем больше корпус, тем глубже и насыщенней звук, так как длина и масса струн различна, да и площадь резонансной деки больше.
    <h3>Применение</h3>
Рояли и пианино дают возможность звукоизвлечения различной силы и в сочетаниях различной сложности и носят универсальный характер применения. Пианино и рояли можно использовать для сольной игры, в составе симфонического оркестра, в различных музыкальных группах и ансамблях, в камерной и вокальной музыке. А в области аккомпанемента они вообще незаменимы.
   </div>
{% endblock %}