{% extends 'base.html' %}

{% block title %}
О гитаре
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О гитаре</h1>
    <h3> Звук</h3>
«...У гитары нежный звук, как прикосновенье рук. У гитары тихий звук, словно шепчет друг!...» - так писал о своем любимом инструменте замечательный испанский гитарист-виртуоз Ф. Таррега. Бархатный и мягкий гитарный тембр великолепно гармонирует со звучанием разных инструментов, например, мандолины, балалайки, скрипки.

    <p>

    </p>Звук на инструменте - это результат колебания натянутых струн, прижимая их пальцами левой руки на ладах, исполнитель получает нужную высоту звука.
<div></div>
    <img class="img-fluid" src="static/image/guitar.jpg">
<div></div>
    Диапазон гитары составляет почти четыре октавы (от « ми» большой октавы до «си» второй октавы).
    <p>

    </p>
    Строй: 6 струна - «ми» большой октавы; 5 – «ля» большой октавы; 4 – «ре» малой октавы; 3 – «соль» малой октавы; 2 – «си» второй октавы; 1 – «ми» первой октавы. Инструмент звучит на октаву ниже действительной для него нотной записи.

    <p>

    </p>Базисными способами извлечения звука на гитаре являются щипок и удар по струнам. Щипок бывает двух видов: апояндо (опираясь на нижнюю соседнюю струну) и тирандо (без упоры). Удар и щипок выполняются пальцами правой руки, а также с помощью медиатора (плектра).
    <h3>Конструкция</h3>

    <ul class="list-unstyled">
  <li>Нижняя и верхняя деки, из которых состоит корпус гитары, соединены друг с другом обечайками, изогнутыми в виде восьмерки. В зависимости от типа гитары верхняя дека оснащена одним или несколькими резонаторными отверстиями, а также подставкой для крепления струн и нижним порожком. Самая широкая (нижняя) часть корпуса гитары равна 36 см, а верхняя – 28 см. Корпус концертной гитары обычно изготавливается из резонаторной ели или белого клена.
      <ul>
      <li>Гриф, вытачиваемый из древесины прочных пород, с одной стороны имеет так называемую пятку, прикрепленную к обечайке. С другой стороны гриф заканчивается головкой с колковой механикой, которая служит для натяжения струн. На гриф приклеивается накладка с встроенными металлическими порожками, разделяющими лады, которые располагаются в хроматическом порядке. Между шейкой грифа и головкой находится верхний порожек, влияющий на уровень высоты струн.
      </li>
    </ul>
  </li>
</ul>
     <h3>Разновидности</h3>
    Акустическая гитара имеет полый корпус, с находящимся в нем резонирующем отверстием. Она королева на концертной сцене и участница простых дворовых посиделок.

    <ul class="list-unstyled">
  <li>Акустическая гитара очень многолика, так как имеет разные варианты, вот некоторые из них:

    <ul>
      <li>Классическая – является прямым потомком испанской гитары. Отличается широким грифом и обязательным наличием нейлоновых струн, которые звучат мягко и негромко. Данный тип гитары применяется на академической концертной сцене, а также в учебных классах.
      </li>
      <li>Дредноут - имеет названия Кантри и Вестерн. Из-за наличия металлических струн звучит громко и звонко. На таком инструменте звук извлекают с помощью медиатора. Этот вид инструмента используется для исполнения в разных стилях.
      </li>
      <li>Джамбо – гитара с увеличенным корпусом и громким звуком, наиболее востребована в рок, поп, блюз, кантри-музыке.  Из-за металлических струн звукоизвлечение происходит с помощью медиатора.
      </li>
	  <li>Укулеле – второе название гавайская гитара. Миниатюрный инструмент с четырьмя нейлоновыми струнами и техникой исполнения как на обыкновенной гитаре. Звукоизвлечение происходит кончиками пальцев или специальным медиатором из войлока.
      </li>
        	  <li>Семиструнная - (цыганская или русская). Имеет семь струн, настроенных по терциям. Владимир Высотский, Булат Окуджава и Сергей Никитин предпочитали данный вид гитары.
              </li>
              <li>12 струнная – очень большой и массивный инструмент. Главное отличие - наличие 12 спаренных струн.
              </li>
      <li>Электроакустическая – вид гибридного инструмента, в котором наличие встроенного пъезозвукоснимателя дает возможность подключения к усилителю.
      </li>
      <li>Полуакустическая – переходный инструмент от акустической к электрогитаре. Наличие полого корпуса роднит её с акустической гитарой, а наличие звукоснимателя и регуляторов тембра сближает с электрогитарой. Инструмент имеет второе название джаз-гитара, так как в основном применяется в джазе. Полуакустическая гитара по форме напоминает скрипку. Имеет два резонаторных отверстия как у скрипки - в виде буквы «f».
      </li>
	  <li>Бас- одна из разновидностей акустических гитар. Инструмент имеет 4 струны и предназначен для исполнения партий в низком диапазоне.
      </li>
    </ul>
  </li>
</ul>
    <h3>Применение и репертуар</h3>
Область применения гитары очень широка, ей подвластно многое. В самых различных формах популярной музыки, а также в таких стилях, как джаз, блюз, рок, фанк, соул, металл, кантри, рок-музыка фолк, фламенко, мариачи основным инструментом является гитара. Она может аккомпанировать, а может выступать как солирующий инструмент.

    <p>

    </p>
    Библиотека репертуара для инструмента огромна, есть даже концертные произведения с симфоническим оркестром. Талантливые композиторы-исполнители, среди которых: Ф. Таррега, Д. Агуадо, М. Джулиани, Ф. Сор, Ф. Карулли, А. Сеговия, М. Каркасси оставили для потомков большое творческое наследие. Очень любили гитару, увлекались игрой на ней и не обошли своим композиторским вниманием такие великие мэтры, как Л. Шпор, Г. Берлиоз, Ф. Шуберт, К. М. Вебер, А. Диабелли, Р. Крейцер, И. Гуммель. Композиторы К. Монтеверди, Г. Доницетти, Д. Россини, Д. Верди, Ж. Массне использовали звучание гитары в своих оперных спектаклях.

    <p>

    </p>
    Особенно хочется отметить заслугу в обогащении гитарного репертуара легенду скрипичного исполнительства Н. Паганини. Его наследие составляет около двух сотен различных сочинений - это сольные пьесы, а также различные ансамбли для гитары и скрипичных инструментов.

 </div>
{% endblock %}