{% extends 'base.html' %}

{% block title %}
О клавесине
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О клавесине</h1>
    <h3> Звук</h3>
Звучание клавесина трудно перепутать с каким-либо другим инструментом, оно особенное, блестящее и отрывистое. Как только вы услышите этот звук, сразу же представляются старинные танцы, балы, и знатные придворные дамы в пышных платьях с невообразимыми прическами. Главное отличие клавесина в том, что звук у него не может менять плавно динамику, как другие инструменты. Для того, что бы решить эту проблему, мастера придумали добавлять другие регистры, которые включаются при помощи ручных переключателей и рычажков.  Они располагаются по бокам клавиатуры. Чуть позже возникли еще и ножные переключатели, чтобы облегчить игру.
  <img class="img-fluid" src="static/image/klavesin.jpg">
    <h3>Конструкция</h3>
Внешне клавесин своим видом немного напоминает рояль. Вытянутая треугольная форма дополнена красивыми ножками, а струны в нем располагаются горизонтально, параллельно клавишам.  Каждая клавиша оснащена толкачиком, его иногда еще называют прыгуном, на его верхнем конце закрепляется язычок. Звук у клавесина извлекается при помощи щипка. При нажатии на клавишу приводятся в движение упругие язычки, изготовленные из птичьих перьев, в более современных моделях уже использовались пластмассовые. Они цепляют тугую струну ,и из-за этого возникает характерный звук щипка.
    <h3>Разновидности</h3>
   Название «клавесин» принадлежит клавишным инструментам с диапазоном до 5 октав и имеющих крыловидную форму. Встречаются и более маленькие по размерам разновидности инструмента, которые бывают с одним набором струн, а их диапазон доходит только до 4 октав. Так, среди них выделяются: спинет, у которого струны расположены по диагонали, мюзелар – прямоугольной формы и струнами, расположенными строго перпендикулярно клавиатуре. Кроме того, к разновидностям относится и вёрджинел.
    <h3>История происхождения</h3>
Первые сведения об этом инструменте принято относить к 1511 году, поэтому считают, что возник он в XVI веке. Однако чуть позднее появилась новая информация о том, что в итальянском источнике 1397 года («Декамерон» Дж. Боккачо) также имеются сведения об инструменте. Самое древнее изображение датируется 1425 годом – на алтаре в Миндене.
    <p>

    </p>
    Своим происхождением, клавесин обязан псалтериуму. Конструкция этого старинного предшественника была измена и присоединен клавишный механизм. Первые клавесины не очень были похожи на современную версию. Они были прямоугольной формы и внешне скорее напоминали «свободный» клавикорд, только струны были у него разной длины.
    <p>

</p>
В свое время, клавесин был очень популярен и его успешно использовали в ансамблях, оркестре. В XVII – XVIII вв инструмент получил широкое распространение именно как сольный. Своеобразный тембр клавесина, как нельзя лучше соответствовал этому галантному времени. К началу XIX века инструмент практически вышел из обихода, пока культура игры на нем не возродилась на рубеже XIX-XX вв.
</div>
{% endblock %}