{% extends 'base.html' %}

{% block title %}
О мандолине
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О мандолине</h1>
    <h3> Звук</h3>
Мандолина, обладающая большими техническими и художественными возможностями, имеет насыщенный, мягкий, но в то же время быстро угасающий звук. Бархатный, трепетный тембр инструмента отличается теплотой и нежностью. Источником звука на мандолине являются сильно натянутые спаренные струны, которые, зажимая на определенных ладах, извлекают требуемую высоту звука. Игра на инструменте, как правило, происходит при помощи медиатора.     <p>

    </p>
    Основными способами звукоизвлечения на инструменте являются удары по струнам вверх и вниз, а также тремоло, так как длинные ноты на мандолине исполняются только этим приемом. Кроме базисных способов, для достижения художественных целей музыканты используют и другие приемы звукоизвлечения, применяемые при игре на других струнно-щипковых инструментах, например, гитаре. Это пиццикато, флажолеты, глиссандо, вибрато, арпеджиато, бенд (подтяжка), расгеадо, пульгар, тамбурин, флажолеты и различные мелизмы.

    <p>

    </p>
    Самая популярная мандолина, которая получила название «неаполитанской», настраивается также как скрипка, по квинтам: соль, ре, ля, ми. Диапазон инструмента находится в пределах от соль малой до ми четвертой октавы.  Ноты для мандолины записываются в скрипичном ключе и соответствуют реальному звучанию.

  <img class="img-fluid" src="static/image/mandolin.jpg">
    <h3>Конструкция</h3>
    Мандолина - инструмент, так же как и скрипка требующий от мастера длительной и усердной работы. Её конструкция включает в себя корпус и, заканчивающийся головкой, гриф.
    <ul class="list-unstyled">
  <li>Корпус мандолины, чаще всего имеющий грушевидную форму, состоит из кузова и деки.
      <ul>
      <li>Кузов, осуществляющий роль резонатора, состоит из нескольких сегментов, которые называются клепками. Он изготавливается из древесины клена, чёрного дерева, палисандра или вишни. К кузову крепится украшенный гравировкой струнодержатель из металла, дерева или кости.
      </li>
      <li>Дека, являющаяся лицевой частью корпуса, в классической версии имеет голосник - резонаторное отверстие, которое традиционно декорируется инкрустацией. На деке, имеющей небольшой сгиб, устанавливается не имеющая прочного крепления подставка для струн.
      </li>
          <li>Гриф у мандолины сравнительно короткий. При его изготовлении используется лиственница, кедр, клен или красное дерево. Гриф металлическими порожками разделен на лады, число которых разнится от 11 до 24 и завершается головкой с колковым механизм, необходимым для натягивания струн.
          </li>
    </ul>
  </li>
</ul>
Общая длина мандолины составляет 60 см, из которых 33 см - длина корпуса.

Звук на мандолине извлекается при помощи медиатора-плектра, предпочтительным материалом для которого считается панцирь черепахи. В нынешнее время плектры также изготавливают из различных синтетических пластиков.
    <h3>Разновидности</h3>
  <img class="img-fluid" src="static/image/mandolin.jpg">
    <h3>Конструкция</h3>
        <ul class="list-unstyled">
  <li>Семейство мандолины в процессе эволюции приобрело значительное количество видов, отличающихся по форме корпуса, количеству струн и диапазону.
      <ul>
      <li>Флорентийская мандолина – имеет 5 спаренных струн.
      </li>
      <li>Миланская – у нее 6 спаренных струн, настраиваемых на октаву выше, чем струны гитары.
      </li>
          <li>Сицилийская (мандриола) – имеет 4 строенные струны, настраиваемые в унисон, а самая нижняя иногда в октаву. Данный вид мандолины используется в музыке народов Мексики.
          </li>
          <li>Португальская – с плоским корпусом. На верхней деке вместо голосового отверстия располагаются резонаторные эфы, по форме напоминающие скрипичные. Инструмент отличаются резким звуком и используется в музыке народов Ирландии, Британии, Бразилии, и США.
          </li>
    </ul>
  </li>
</ul>
<ul class="list-unstyled">
  <li>Следующие разновидности мандолины активно применяются в ансамблевой и оркестровой практике и отличаются по размерам и высоте звучания.
      <ul>
      <li>Мандола – имеет 4 спаренные струны, настраиваемые как струны скрипичного альта: до, соль, ре, ля.
      </li>
      <li>Октавная мандолина – строй на октаву ниже мандолины.</li>
          <li>Мандочелло - строй струн виолончели: до, соль, ре, ля. Мандочелло соотносится к мандолине, как виолончель к скрипке.
          </li>
          <li>Мандо-бас – инструмент большого размера, может быть, как четырехструнным, так и восьмиструнным.
          </li>
    </ul>
  </li>
</ul>
    <h3>История мандолины</h3>
Начало истории мандолины берет свое начало на Ближнем Востоке. Именно там, приблизительно шесть тысячелетий назад, на территории Древней Месопотамии появились инструменты семейства лютневых, которые по предположениям искусствоведов были родоначальниками мандолины. Непосредственным предшественником инструмента принято считать небольшую лютню сопранового диапазона, имеющую от 4 до 6 одинарных или парных кетгутовых струн. Она появилась в обиходе и широко распространилась в странах Европы в период с XI по XIV век под разными названиями: мандора, мандола или пандурина.

Считается, что мандолина появилась в Италии в XVII веке в результате преобразований предшествующих ей инструментов. Внешне она ещё во многом напоминала лютню, но головка грифа инструмента была уже выпрямлена. С течением времени мандолина стала одним из самых любимых народных инструментов, быстро распространилась и завоевала популярность в разных странах.

    <p>

    </p>
    Особый расцвет для мандолины начинается в XVIII веке. Инструмент, приобретающий популярность у разных сословий, становится особенно востребованным в высшем обществе для камерного музицирования. Исполнительское искусство на инструменте достигает своего апогея. Издаётся «Школа игры на мандолине». В Неаполе мастерами по изготовлению музыкальных инструментов из семьи Виначчиа была сконструирована обновленная мандолина. Она имела изогнутую деку, более глубокий корпус, четыре парные металлические струны, настроенные как у скрипки по квинтам. Инструмент, имеющий более яркий звук, вводят в состав оркестров, исполняющих кантаты, оратории и оперы, а композиторы пишут музыку, предназначенную специально для мандолины. Вскоре, по образцу нового инструмента создаются мандолины различные по звуковому диапазону, впоследствии вошедшие в состав ансамблей и оркестров, и позже получившие название неаполитанских.

    <p>

    </p>
    Начало XIX века для мандолины было не очень благосклонным, другие инструменты, с более насыщенным и экспрессивным звуком, вытесняют её с концертных площадок. Мандолина утрачивает свою популярность и используется лишь в Италии как народный инструмент. Спрос на мандолины падает, и многие музыкальные мастера прекращают её изготавливать. Ситуация изменилась только после того, как в 1835 году Паскуале Виначчиа кардинально преобразовывает классическую мандолину. Для достижения более объемного резонанса он увеличивает размер корпуса, удлиняет гриф, соответственно прибавляет количество ладов, тем самым расширяя диапазон инструмента. Простые деревянные колки мастер поменял на механизм, который лучше удерживал сильное натяжение металлических струн, а вместе с этим строй инструмента. Такая модернизация значительно изменила характеристики инструмента и дала возможность исполнителям добиваться более яркого, сочного звука в соответствии с требованиями музыки эпохи романтизма.

    <p>

    </p>
    Вторая половина XIX века характеризуется началом нового витка увлечения мандолиной, а вместе с этим её возрождением. Инструмент очень быстро завоевывает разные сословия, от простолюдинов до венценосных особ, и вновь завоёвывает одобрение музыкантов-профессионалов, которые вновь выводят его на концертную сцену. Инструмент быстро набирает популярность не только в странах Европы, но и в США, Японии. Канаде и Австралии. Для мандолины начинается её «Золотой век».

    <p>

    </p>
    В XX веке в связи с использованием мандолины в музыкальных стилях, как кантри, блюз и джаз инструмент становится ещё более востребованным.

    <p>

    </p>
    Мандолина – это интересный музыкальный инструмент, перешагнувший к нам через столетия и в нынешнее время пользующийся очень большим уважением. Во многих странах он получил статус народного и все больше укореняется в современной культуре. Популярность мандолины постоянно возрастает и её звучание все чаще используют в новых музыкальных жанрах.
</div>
{% endblock %}