{% extends 'base.html' %}

{% block title %}
О маркасах
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О маракасах</h1>
    <h3> Звук</h3>
Шумяще–шелестящий звук маракасов применяется как фоновое украшение в различных музыкальных композициях. Он образуется при встряхивании корпуса инструмента, внутри которого находится гранулированный наполнитель. При ударе гранул о стенки полого корпуса получается специфическое звучание маракасов.
    <p>

    </p>
    Инструменты обычно используются парами, причем звук одного маракаса немного отличается от звука другого. Исполнитель держит их в разных руках, но иногда исполняет на двух инструментах и одной рукой.
    <p>

    </p>
    Многие думают, что играть на маракасах довольно просто. Однако, это не совсем так. Исполнитель, во-первых, должен обладать хорошим чувством ритма, во-вторых, уметь владеть определенными техническими приемами, такими как стаккато, свинг, даблы, роллы и рудименты. Существуют даже определенные стили игры, среди них мексиканский, карибский и другие.
    <div></div>
    <img class="img-fluid" src="static/image/maraca.jpg">
        <div></div>
    <h3>Конструкция</h3>
<ul class="list-unstyled">
  <li>Маракасы, по внешнему виду очень схожие с детской погремушкой, за всю свою многовековую историю сильно не изменились. Они также состоят из трех частей: корпуса, наполнителя и ручки.

    <ul>
      <li>Корпус, как правило ярко окрашенный, в основном имеет традиционную овальную или круглую форму и изготавливается из плодов игуэро (горлянкового дерева), орехов кокоса, ивовых прутьев, кожи, дерева, а также современных материалов: пластика, акрила, стекловолокна и даже металла.
      </li>
      <li>В качестве наполнителя используется горох, бобы, дробь, бисер, мелкие камушки и другие материалы.
      </li>
        <li>Ручка, изготавливаемая из дерева или пластика, обычно откручивается, чтобы у исполнителя была возможность добавлять или убирать часть наполнителя, тем самым изменять звук инструмента.
        </li>
    </ul>
  </li>
</ul>
    <h3>История</h3>
   История маракасов насчитывает столетия. Различные ударные инструменты человек использовал еще со времен каменного века, может быть, среди них были инструменты–погремушки, прообразы современных маракасов. Где появился этот инструмент сейчас никто точно сказать не может, но есть две версии. Первый вариант - инструмент впервые появился у индейцев племен таино и аравак, которые были коренными жителями Антильских островов и населяли Кубу, Пуэрто – Рико, Богамы  и Ямайку. По второй версии маракасы были завезены на Кубу из Африки в колониальные времена. Однако первый вариант наиболее правдоподобный, так как существуют исторические сведения, что в Латинской Америке инструмент был известен уже в пятнадцатом веке и с африканским родственником вел параллельное существование.
    <p>

    </p>
    Есть предположение, что маракасы не являются результатом изобретения человеческих рук, а творением кудесницы–природы. Плоды горлянкового (калебасового) дерева, которое кубинцы называют игуэро, высохли настолько, что семена растения отделились от мякоти и при тряске стали издавать своеобразный специфический шум. Индейцам этот звук понравился, и они стали изготавливать подобные шарообразные погремушки, используя небольшие плоды круглой формы. В корпусе делали два отверстия, вынимали мякоть, сушили и засыпали в него мелкие камушки или крупные семена различных растений. Отверстие с одной стороны закрывали, а с другой - прикрепляли ручку. Кроме плодов калебасового дерева для изготовления маракасов использовались также кокосовые орехи, сплетенные ивовые прутья и кожа.
    <p>

    </p>
    В настоящее время маракасы очень популярны. За свою многовековую историю они, будучи поначалу ритуальными атрибутами, сегодня вошли в категорию модных инструментов, получивших широкое распространение в различных современных музыкальных направлениях, а также молодежной среде. Это говорит о том, что простой по конструкции, но обладающий таким интересным звучанием инструмент долго будет радовать слушателей, поднимать им настроение и дарить море позитива.

    <h3>Применение</h3>
В настоящее время популярность маракасов очень высока. Они являются очень востребованными инструментами. Невозможно найти ансамбль, исполняющий латиноамериканскую музыку, где бы ни применялись маракасы. Сальса, самба, ча-ча-ча, мамбо, музыка сон, меренге, хоропо, босса-нова и множество других музыкальных стилей, которые без звука маракасов сложно представить. Но эти инструменты украшают своим звучанием не только музыку латинос. Они широко используются в группах, исполняющих популярную музыку, эстрадных и джазовых коллективах, в перкуссионных ансамблях, а также им нашлось применение и в произведениях симфонической музыки. Такие знаменитые композиторы как Сергей Прокофьев, Леонард Бернстейн, Малкольм Арнольд и Эдгар Варес очень эффектно вводили звук маракасов в свои сочинения.
    <p>

    </p>
    Необходимо также отметить, что инструменты играют немаловажную роль в начальном музыкальном образовании.
    <p>

</p>
К сожалению, маститые композиторы, сочиняющие в иных жанрах, не проявляют особого интереса к домре, и для нее обычно пишут произведения композиторы - исполнители, среди них: А. Цыганков, Г. Зайцев, Н. Пенько, К. Волков, В. Соломин, В. Соболева-Белинская, В. Пожидаев, Н. Хондо, Ю. Семашко, Е. Подгайц и другие. Однако домра в плане репертуара не обижена, на инструменте прекрасно звучат транскрипции, написанные величайшими композиторами для скрипки, флейты, кларнета, фортепиано. Это шедевры таких композиторов как И.С. Бах, П.И. Чайковский, Г. Венявский, Ф. Пуленк, А. Скарлатти, К. Сен-Санс, П. Сарасате, Д. Шостакович, Н. Паганини, С. Рахманинов, C. Прокофьев, Д. Гершвин, А. Пьяццолла.
</div>
{% endblock %}