{% extends 'base.html' %}

{% block title %}
Об органе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Об органе</h1>
    <h3> Звук</h3>
Звук органа – это мощная эмоционально воздействующая многоголосная фактура, которая вызывает восторг и воодушевление. Она потрясает, подчиняет воображение и способна довести до экстаза. Звуковые возможности инструмента очень велики, в голосовой палитре органа можно найти очень разнообразные краски, ведь орган способен имитировать не только звуки многих музыкальных инструментов, но и пение птиц, шум деревьев, рокот камнепада, даже звон рождественских колокольчиков.
    <p>

    </p>
    Орган обладает необычайной динамической гибкостью: на нем возможно исполнение и нежнейшего пианиссимо, и оглушительного фортиссимо. Кроме этого, звуковой частотный диапазон инструмента находится в пределах, захватывающих области инфра и ультразвука.
   <img class="img-fluid" src="static/image/organ.jpg">
    <h3>Конструкция</h3>
Орган – музыкальный инструмент, который включает в себя огромное количество различных деталей, поэтому подробное описание его конструкции дело довольно сложное. Орган изготавливается всегда индивидуально, так как обязательно обусловлен размерами здания, в котором устанавливается. Высота инструмента может достигать 15 метров, ширина варьируется в пределах 10 метров, глубина – около 4 метров. Вес такого громадного сооружения измеряется в тоннах.
    <p>

    </p>
    Он имеет не только очень большие размеры, но и сложную конструкцию, включающую трубы, машину и сложную систему управления.
    <p>

    </p>
    Труб в органе очень много – несколько тысяч. Длина самой большой трубы более 10 метров, самой маленькой – несколько сантиметров. Диаметр больших труб измеряется в дециметрах, а маленьких - в миллиметрах. Для изготовления труб используют два материала – дерево и металл (сложный сплав из свинца, олова и других металлов). Формы труб весьма разнообразны - это конус, цилиндр, двойной конус и другие. Трубы располагаются рядами, причем не только вертикально, но и горизонтально. Каждый ряд обладает голосом какого-либо инструмента и называется регистром. Регистры в органе исчисляются десятками и сотнями.
    <p>

    </p>
    Система управления органом – это исполнительский пульт, который иначе называют органной кафедрой. Здесь располагаются мануалы – ручные клавиатуры, педаль – клавиатура для ног, а также большое количество кнопок, рычажков, а также различных контрольных лампочек.
    <p>

    </p>
    Рычажки, расположенные справа и слева, а также над клавиатурами, включают и выключают регистры инструмента. Количество рычагов соответствует количеству регистров инструмента. Над каждым рычагом устанавливается сигнализирующая контрольная лампочка: она загорается, если регистр включен. Функции некоторых рычажков дублируются кнопками, расположенными над ножной клавиатурой.
    <p>

    </p>
    Также над мануалами находятся кнопки, которые имеют очень важное назначение – это память управления органом. При её помощи органист перед выступлением может запрограммировать порядок переключения регистров. При нажатии кнопок запоминающего механизма регистры инструмента включаются в определенном порядке автоматически.
    <p>

    </p>
    Количество ручных клавиатур - мануалов на органе, бывает от двух до шести, и располагаются они друг над другом. Количество клавиш на каждом мануале - 61, что соответствует диапазону пяти октав. Каждый мануал связан с определенной группой труб, а также имеет свое название: Hauptwerk. Oberwerk, Rückpositiv, Hinterwerk, Brustwerk, Solowerk, Choir.
    <p>

    </p>
    Ножная клавиатура, при помощи которой извлекаются очень низкие звуки, имеет 32 широко расставленные педальные клавиши.
    <p>

    </p>
    Очень важным составляющим элементом инструмента являются меха, воздух в которые нагнетается при помощи мощных электрических вентиляторов.
     <h3>Применение</h3>
Орган сегодня, как и в прежние времена, используется очень активно. Он так же применяется для аккомпанемента в католических и протестантских богослужениях. Довольно часто церкви с органом служат своего рода «декорированными» концертными залами в, которых проводятся концерты не только органной, а также камерной и симфонической музыки. Кроме того в нынешнее время органы устанавливаются в больших концертных залах, где они используются не только как солирующие, но и аккомпанирующие инструменты Орган красиво звучит с камерным ансамблем, вокалистами, хором и симфоническим оркестром, Например, партии органа включены в партитуры таких замечательных произведений как «Поэма экстаза» и «Прометей» А. Скрябина, симфония № 3 К. Сен-Санса. Также орган звучит в программной симфонии «Манфред». П.И.Чайковского. Стоит отметить, что хоть и не часто, но орган используется в оперных спектаклях таких как «Фауст» Ш. Гуно, «Садко» Н.А.Римского-Корсакова, «Отелло» Д.Верди, «Орлеанская дева» П.И.Чайковского.
    <p>

    </p>
    Важно отметить, что музыка для органа это плод творений очень талантливых композиторов, среди которых в 16 веке: А. Габрие́ли, А. Кабесо́н, М. Клаудио; в 17 веке: И. С. Бах, Н. Гриньи, Д. Букстехуде, И. Пахельбель, Д. Фрескобальди, Г. Пёрселл, И. Фробергер, И. Рейнкен, М. Векманн; в 18 веке В. А. Мо́царт, Д. Циполи, Г. Ф. Гендель, В. Любек, И. Кребс; в 19 веке М. Босси, Л. Боэльман, А. Бру́кнер, А. Гильма́н, Ж. Лемменс, Г. Меркель, Ф. Моретти, З. Нойком, К. Сен-Са́нс, Г. Форе́, М. Чюрлёнис. М. Регер, З. Карг-Элерт, С. Франк, Ф. Лист, Р. Шуман, Ф. Мендельсон, И.Брамс, Л. Вьерн; в 20 веке П.Хиндемит, О. Мессиан, Б. Бриттен, А. Онеггер, Д. Шостакович, Б. Тищенко, С.Слонимский, Р.Щедрин, А. Гедике, Ш. Видо́р, М. Дюпре, Ф. Нововейский, О. Янченко.]
   </div>
{% endblock %}