{% extends 'base.html' %}

{% block title %}
О фортепано
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О фортопано</h1>
    <h3> Описание</h3>
Фортепиано, или пианино, это клавишный музыкальный инструмент, который издает звук путем удара молоточка по струне. Инструмент был изобретен в начале XVIII века и с тех пор остается одним из самых популярных и важных в мире музыкальных инструментов.
  <p>

    </p>
    Фортепиано отличается от других клавишных инструментов своей возможностью регулировать громкость звука в зависимости от силы нажатия клавиш.
 <div></div>
  <img class="img-fluid" src="static/image/piano.jpg">
    <div></div>
    <h3>Конструкция</h3>
<ul class="list-unstyled">
  <li>Фортепиано состоит из:
    <ul>
      <li>акустического аппарата (резонансная дека, струнная одежда);</li>
      <li>клавишного механизма;</li>
      <li>опорных конструкций (футор, металлическая рама, вирбельбанк).</li>
    </ul>
  </li>
</ul>
Сложная система рычагов механизма позволяет передать усилие от играющего через клавишу к молоточку, удар которого по струне производит звук.
  <h3>Разновидности</h3>
    Фортепиано – один из самых распространенных музыкальных инструментов, имеет две разновидности – пианино и рояль. Это сложный клавишно-струнный механизм, состоящий из акустического аппарата, клавишного механизма и опорных конструкций. Он обладает широким диапазоном звуков от «тихо» до «громко». В пианино струны расположены вертикально, в рояле – горизонтально.

    <h3>Применение</h3>
<ul class="list-unstyled">
  <li>Применение фортепиано:
    <ul>
      <li>в классической, джазовой, традиционной и популярной музыке для сольных и ансамблевых выступлений, аккомпанемента;
      </li>
      <li>для сочинения, написания песен и репетиций.</li>
    </ul>
  </li>
</ul>
Музыкальные универсальность фортепиано (широкий диапазон высоты тона, способность играть аккорды, более громкие или мягкие ноты и две или более независимых музыкальных линий одновременно) и доступность в концертных залах, школах и репетиционных залах сделали его одним из самых известных музыкальных инструментов западного мира.
</div>
{% endblock %}