{% extends 'base.html' %}

{% block title %}
О оркестровых тарелках
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О оркестровых тарелках</h1>
    <h3> Основные сведения</h3>
<ul class="list-unstyled">
  <li>Музыкальный инструмент относится к категории ударных. Материал изготовления – сталь. Для чистоты звучания используются особые сплавы – их отливают, затем куют. Сегодня в ходу 4 сплава:

    <ul>
      <li>колокольная бронза (олово+медь в пропорции 1:4);</li>
      <li>ковкая бронза (олово+медь, причем процент олова в общем сплаве составляет 8%);</li>
      <li>латунь (цинк+медь, доля цинка составляет 38%);</li>
      <li>нейзильбер (медь+никель, содержание никеля – 12%).</li>
    </ul>
  </li>
</ul>
  Звук бронзовых тарелочек звонкий, латунных – тусклый, менее яркий. Последняя категория (из нейзильбера) – находка мастеров XX века. Это не все варианты используемых сплавов, остальные просто не получили широкого распространения, профессионалы предпочитают использовать лишь 4 вышеперечисленных состава.
  <img class="img-fluid" src="static/image/domra.jpg">
Современные модели имеют форму выпуклых дисков. Встречаются в составе оркестров, всевозможных музыкальных коллективов, ансамблей. Звукоизвлечение происходит путем удара по поверхности дисков специальными приспособлениями (палочками, колотушками), парные тарелочки ударяются друг о друга.

    <h3>Конструкция</h3>
Этот ударный музыкальный инструмент имеет куполообразную форму. Верхняя выпуклая часть купола оснащена отверстием – благодаря нему тарелка крепится на стойку. Сразу у основания купола начинается так называемая «ride-зона». Райд-зона – основное тело тарелки, занимающее наибольшую поверхность.
  <p>

    </p>
    За звукоизвлечение отвечает третья зона, приближенная к краям диска – crash-зона. Крэш-зона тоньше, чем тело тарелки, удары по ней рождают самые громкие звуки. По куполу, райд-зоне ударяют реже: первый дает звук, похожий на колокольный, вторая – ping с обертонами.

<ul class="list-unstyled">
  <li>Звук тарелок зависит от трех параметров, относящихся к строению:
    <ul>
      <li>Диаметр. Чем больше размер, тем сильнее извлекаемый звук. На больших концертах маленькие тарелочки потеряются, большие будут слышны в полной мере.
      </li>
      <li>Размер купола. Чем больше купол, тем больше обертонов, звонче, громче игра.</li>
      <li>Толщина. Широкий, громкий звук издают тяжелые, толстые модели.</li>
    </ul>
  </li>
</ul>
    <h3>Разновидности</h3>
<ul class="list-unstyled">
  <li>Существует несколько типов инструмента, различающихся размером, звучанием, внешним видом.
    <ul>
      <li>Парные тарелки
Оркестровые тарелки. Представлены несколькими видами, один из них – хай-хэт (Hi-hat). Две тарелки, закрепленные на одной стойке, одна против другой. Стойка оснащена ножным механизмом: воздействуя на педаль, музыкант совмещает парные инструменты, извлекая звук. Популярный диаметр хай-хэт – 13-14 дюймов.
      </li>
      <li>Подвесные тарелки. Отдельные тарелки, на которых играют палочкой или колотушкой, а не ударяют по другой тарелке. Обычно используются сокращения "sus. cym." или "sus. тарелка" (с точкой или без нее). Большинство ударных установок содержат по крайней мере две подвесные тарелки: crash cymbal и ride cymbal.</li>
      <li>Пальцевые тарелочки.
Называются так из-за малых размеров – средний диаметр составляет всего 2 дюйма. Крепятся к пальцам руки (среднему и большому) при помощи специальных приспособлений, за что их негласно прозвали ручными тарелками. Первоначально использовались танцовщицами, исполнявшими танец живота. Родиной считается Индия, арабские страны. Сегодня применяются редко – в этнических коллективах, у рок-музыкантов.
      </li>
    </ul>
  </li>
</ul>

    <h3>История</h3>
Аналоги тарелок появились в бронзовую эпоху на территории древнего Китая, Японии, Индонезии. Конструкция походила на колокол – конусообразной формы, внизу – изгиб в виде кольца. Звучание извлекалось путем удара одного инструмента о другой.
  <p>

    </p>
    После XIII века н.э. китайский инструмент оказался в Османской империи. Турки видоизменили внешний вид, фактически приведя тарелки к его современной интерпретации. Использовался инструмент преимущественно в военной музыке.
  <p>

</p>
Европу восточная диковинка не впечатлила. Профессиональные композиторы, музыканты включали тарелки в состав оркестра, когда нужно было создать атмосферу варварского востока, передать турецкий колорит. Всего несколько великих мастеров XVIII-XIX веков писали партии, предполагавшие использование данного инструмента – Гайдн, Глюк, Берлиоз.
</div>
{% endblock %}