{% extends 'base.html' %}

{% block title %}
О гуслях
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О гуслях</h1>
    <h3> Звук</h3>
Звучание гуслей - этого самобытного инструмента завораживает слушателей с первых нот. Его звонкий, но в то же время нежный и мелодичный голос в искусных руках исполнителя может изобразить и колокольный перезвон, и журчание ручья, и птичье пение. Мягкий, насыщенный и переливчатый тембр инструмента создает ощущение мира и покоя.

    <p>

    </p>
    Источник звука на гуслях - натянутые гибкие струны, каждая из которых настроена на нужную высоту звука. Звук извлекается подушечками пальцев или медиатором.

    <p>

    </p>
    Гусли, имеющие большое разнообразие видов, отличаются по форме, количеству струн, размеру и настройке. Одни инструменты настраиваются по хроматизму, другие имеют диатонический строй, который может быть изменен по желанию исполнителя. Чем сильнее натянута струна, тем выше издаваемый звук.

На разных видах гуслях используются различные приемы звукоизвлечения, такие, как щипок (пиццикато), арпеджио, бряцание, глиссандо, тремоло и другие.
    <img class="img-fluid" src="static/image/psaltery.jpg">
    <h3>Конструкция</h3>
Гусли в настоящее время имеют несколько разновидностей, отличающихся по форме, настройке и количеству струн, но все они имеют характерные конструктивные особенности, включающие в себя три основные части: корпус, струнодержатель и колки.

    <p>

    </p>]
    Корпус крыловидных гуслей включает верхнюю и нижнюю деки, которые соединены между собой обечайкой (рамой).

На верхней деке, при изготовлении которой обычно используется резонансная ель, располагаются резонаторное отверстие, металлическая пластина со штифтами, подставка и порожек.

Резонаторное отверстие или розетка увеличивает длительность и силу звука.

На штифтах, которые располагаются на металлической пластине, закрепляются струны.

Колки, служащие для натяжения струн, изготавливаются из металла и имеют форму цилиндра диаметром 0.7 см и длиной 5 или 6 см.

Подставка и порожек, от которых зависит на уровень высоты струн, изготавливаются из более твердых пород деревьев. В центр подставки и порожка вставляется латунная или медная ладовая пластина.

Нижняя дека изготавливается из клена, березы, ореха, рябины.

Внутри к верхней и нижней деке, для усиления сопротивления и равномерного распределения звуковых колебаний, приклеиваются деревянные бруски, называемые пружинами.
    <h3>Разновидности</h3>

<ul class="list-unstyled">
  <li> Гусли в процессе своей эволюции претерпели значительные видоизменения. На сегодняшний день они делятся на четыре вида: крылообразные, шлемообразные, лировидные и стационарные, которые в свою очередь бывают двух типов : клавишные и щипковые.

    <ul>
      <li>Крыловидные гусли - в народе их часто называют яворчатыми или звончатыми, в настоящее время являются самыми популярными. Количество струн инструмента разнится от пяти до семнадцати, средние из которых настраиваются по звукам диатонического лада, а крайние верхние и нижние могут звучать как бурдонные. В настоящее время известно двенадцать вариантов настройки данного вида гуслей. Основным приемом звукоизвлечения, которое применяется для исполнения аккордового аккомпанемента, является бряцание, осуществляемое правой рукой. Пальцы левой руки при этом глушат невостребованные струны. Для проведения мелодических линий используется прием выщипывания отдельных струн или тремоло. Крыловидные гусли имеют четыре подвида, которые различаются по размерам и высоте звучания, это – пикколо, прима, альт и бас.
</li>
      <li>Шлемовидные гусли – имеют второе название псалтырь, по своему виду напоминают шлем. Количество струн – от десяти до двадцати шести. На инструменте играют обеими руками, правая исполняет мелодию, левая гармонический аккомпанемент. Основными приемами игры является выщипывание струн и тремоло.
</li>
      <li>Лировидные гусли - основное отличие этого вида гуслей наличие так называемого игрового окна, при помощи которого исполнитель манипулирует струнами: глушит ненужные или подщипывает дополнительные звуки.
</li>
	  <li>Стационарные клавишные и щипковые гусли, которые еще имеют название академические или концертные имеют хроматический звукоряд.
</li>
        	  <li>Клавишные гусли имеют диапазон, который составляет от 4 до 6 октав, струны натягиваются в одной плоскости и их количество может быть от 49 до 66. На данном инструменте устанавливается механическая система с двенадцатью клавишами как у фортепиано, при нажатии на них открываются только те струны, которые должны звучать. Основной прием исполнения – арпеджиато от нижних звуков к верхним.
</li>
                	  <li>Шипковые гусли представляют собой металлическую раму с натянутыми на ней струнами, расположенными в двух уровнях. Рама размещена в корпусе, стоящем на деревянных ножках. Диапазон звуков данного инструмента равен диапазону клавишных гуслей.  Довольно непростое звукоизвлечение на этих гуслях осуществляемое правой  и левой рукой, позволяет исполнять произведения различной сложности.
</li>
    </ul>
  </li>
</ul>
    <h3>Применение</h3>
Сегодня многие представляют гусли как архаичный инструмент скоморохов. Однако, это совсем не так, гусли уже давно стали профессиональным сценическим инструментом, обладающим роскошным неповторимым звучанием. В нынешнее время в каждом народном оркестре имеется комплект гуслей: клавишных и столовидных щипковых.

Кроме оркестровой практики инструмент активно используется как сольный, ансамблевый, а также в музыкальных группах различных стилей, среди них: фольк, джаз и даже рок. Большой популярностью у слушателей пользуются коллективы, в которых музыканты играют только на гуслях. Академическая музыка, мелодическая декламация, духовные стихи, народные наигрыши и песни – это небольшой перечень музыкальных жанров,  которые исполняются на инструменте.  К большому сожалению, гусли для музицирования в быту теперь почти не употребляются.

    <p>

    </p>
    Репертуарный план для инструмента весьма разнообразен. На гуслях очень интересно звучат музыкальные номера фольклорного характера, а также транскрипции произведений величайших композиторов зарубежной и русской классики: Г. Персела, Г. Телемана, А. Вивальди, Г. Генделя, А. Корелли,  К. Глюка, И.С. Баха, В. Моцарта, Й. Гайдна, Л. Куперена, К. Дебюсси, М.И. Глинки, А. Бородина, П.И. Чайковского, А. Лядова, Н.А. Римского-Корсакова, М. Мусоргского, И. Стравинского и других.

Среди современных композиторов, которые сочиняли специально для гуслей и оставили немало замечательных оригинальных произведений, хочется особо отметить В. Городовскую, Е. Дербенко А. Дунаевскую, В. Малярова, О. Меремкулова, Д. Локшина и В. Бояшова, Е. Синодскую и К. Шаханова.
</div>
{% endblock %}