{% extends 'base.html' %}

{% block title %}
О саксофоне
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О саксофоне</h1>
    <h3> Звук</h3>
Серебристый, бархатный, волшебный, магический - такими красивыми словами обычно описывают голос саксофона. Его певучий и сочный тембр зачаровывает с первых нот. Звук инструмента узнаваем без труда.
  <p>

    </p>
    Его выразительные возможности очень велики, саксофон отличается не только певучестью и мелодичностью, но и техничностью, являясь одним из самых виртуозных в группе духовых инструментов, ведь ему посильны различные исполнительские задачи. Плавное легато с глиссандированными звуковыми переходами, отчётливое стаккато, фруллато, вибрация звука с большой амплитудой, а также использование очень высокого регистра с флажолетным звучанием - это только небольшой перечень приёмов, которыми пользуются саксофонисты.
  <p>

    </p>
    Диапазон саксофона, составляющий более двух октав, делится на три регистра: низкого, среднего, и высокого звучания. Их выбор зависит от характера произведения заложенного композитором.
  <p>

    </p>
    Звукообразующий элемент на инструменте - трость, которую исполнитель заставляет колебаться, вдувая в саксофон воздух. Принцип извлечения звука близок к звукоизвлечению на кларнете, а вот аппликатура саксофона похожа на аппликатуру гобоя.
  <img class="img-fluid" src="static/image/saxophone.jpg">
    <h3>Конструкция</h3>
Саксофон – инструмент, состоящий из множества деталей, которые изготавливаются отдельно, а затем собираются в инструмент. Корпус его это трубка конической формы, которая с одной стороны расширяется и в зависимости от вида инструмента, может заворачиваться, приобретая форму курительной трубки. С расширенной стороны корпуса находится раструб.  Другая сторона инструмента заканчивается эской, тонкой трубкой, соединяющей основную часть инструмента и мундштук, который по строению очень похож на кларнетный. К мундштуку при помощи специального приспособления – небольшого хомутика, называемого лигатурой, крепится одинарная трость - звукообразующий элемент саксофона. Трости обычно делают из тростника, который выращивается на юге Франции, но иногда для их изготовления используются синтетические материалы.

    <p>

    </p>
    На корпусе саксофона находится клапанный механизм, имеющий много довольно сложных взаимосвязанных соединений, количество клапанов в нем варьируется и зависит от вида инструмента, иногда их может быть до 22.
    <h3>Разновидности</h3>
    Изначально изобретатель разрабатывал саксофоны четырнадцати видов, но с течением времени исполнительская практика показала, что востребованными являются только восемь, а наиболее популярными - четыре: сопрано (строй- B), альт (строй - Es), тенор (строй - B) и баритон (строй - Es). Эти виды, обладающие красивым сочным звуком, а также большим техническим потенциалом, составляют квартет саксофонов и активно применяются в различных музыкальных жанрах.
    <p>

    </p>
    К менее употребляемым видам относятся: саксофон-сопраниссимо (строй - B), сопранино (строй – Es), басовый(строй - B) и контрабасовый (строй - Es).
    <p>

    </p>
    Кроме указанных выше разновидностей саксофона очень редко, так как они существуют в единичных экземплярах, можно встретить саксофон-пикколо (соприлло) и субконтрабасовый саксофон.
    <h3>Применение </h3>
Саксофон в настоящее время является очень популярным инструментом с очень обширной сферой применения. Он полноправный член в духовых и эстрадных оркестрах. Во многих современных жанрах, таких как рок, поп, рок-н-ролл, регги, эр энд би, соул, блюз, фанк саксофон является очень важным инструментом. В симфонической и оперной музыке саксофон также находит применение, но, к сожалению, не так часто, то есть постоянной прописки в симфоническом оркестре инструмент не получил.
    <p>

    </p>
   Саксофон своим необыкновенным тембром всегда привлекал внимание многих композиторов.  Изначально французские композиторы, такие как Ф. Галеви, Д. Мейербер, Ш. Тома, К. Делиб, Ж. Массне, К. Сен-Санс, В. д’Энди эпизодически поручали инструменту соло напевного характера в своих операх. Также звучание саксофона мы слышим в балетных спектаклях Д. Шостаковича, С. Прокофьева и А. Хачатуряна.  Звучанием инструмента украшены и симфонические произведения, С. Прокофьева, А. Берга, М. Мусоргского, А. Онеггера, С. Рахманинова, Ж. Бизе.
    <p>

</p>
Нотная библиотека для саксофона очень богата и разнообразна - это переложения произведений великих композиторов различных эпох и направлений, а также оригинальные произведения, написанные специально для инструмента. Среди авторов, которые уделяли инструменту особое внимание, стоит отметить А. Глазунова, Л. Ларссона, К. Дебюсси, Ф. Мартину, В. д’Энди, Ф. Шмита, а также Ж Абсиля, Э. Бозза, Х. Бадинса, А. Капле, Г. Брента, М. Констана, Р. Шеврёя, А. Томази, У. Эйзенмана. Советские композиторы А. Эшпай, Н. Пейко, В. Артёмов, С. Губайдулина, Э. Денисов также оставили для инструмента немало прекрасных музыкальных сочинений.
</div>
{% endblock %}