{% extends 'base.html' %}

{% block title %}
О синтезаторе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О синтезаторе</h1>
    <h3> Описание</h3>
  Синтезатор — электронный музыкальный инструмент, создающий (синтезирующий) звук при помощи одного или нескольких генераторов звуковых волн. Требуемое звучание достигается за счёт изменения свойств электрического сигнала (в аналоговых синтезаторах) или же путём настройки параметров центрального процессора (в цифровых синтезаторах). Синтезатор, выполненный в виде корпуса с клавиатурой, называется клавишным синтезатором.
<div>  </div>
    <img class="img-fluid" src="static/image/synthesizer.jpg">
    <h3>Конструкция</h3>
Простейший синтезатор состоит из осциллятора, например, пилообразного сигнала, который подаёт сигнал на аудиовыход, подключённый к акустической системе. Высота генерируемого сигнала управляется клавиатурой.

    <p>

    </p>
   Модули синтезатора — это отдельные компоненты, выполняющие простые законченные функции, такие как осцилляторы или фильтры. Модульный синтезатор представляет собой соединение в единую цепь множества таких модулей.
    <p>

    </p>
    Для управления громкостью в синтезатор добавляют модуль Voltage Controlled Amplifier (управляемый напряжением усилитель) или VCA. Его функция — увеличивать или уменьшать громкость (амплитуду или уровень) сигнала.
    <p>

    </p>
    Фильтры — это инструменты для обработки сигнала. Они позволяют усилить или, наоборот, подавить в звуке определённый частотный диапазон.
    <h3>Разновидности</h3>
   <ul class="list-unstyled">
  <li>Всего насчитывается четыре типа синтезатора:    <ul>
      <li>Аналоговый.  При нем не используются цифровые технологии, а работа ведется с аналоговыми сигналами.</li>
      <li>Цифровой. Используется изменение электронного сигнала при помощи цифровых технологий</li>
      <li>Цифровой с аналоговым синтезом</li>
      <li>Цифровой с виртуально-аналоговым синтезом</li>
    </ul>
  </li>
</ul>
<h3>История</h3>
    Первый аналоговый синтезатор для широкой продажи был создан в 1967 году Робертом Мугом, который применил управление напряжением к основным "строительным блокам" любого синтезатора, даже самого современного — генератору, фильтру и усилителю. Практически любой синтезатор сегодняшнего дня, аналоговый или цифровой, программный или аппаратный, всегда включает в себя эти три основных элемента.
    <p>

    </p>
    Первые синтезаторы для широкого круга пользователей представляли собой монофонические (то есть одноголосные) модульные инструменты, состоящие из нескольких ящиков очень большого размера. Электронные блоки соединялись специальными патч-проводами, отвечавшими как за передачу звука, так и за управление. Так был устроен, например, синтезатор Moog Modular 3C, чье программное воплощение в виде плагина сегодня выпускает компания Arturia.

    <p>

    </p>
    Другие компании, такие, как ARP, тоже начали выпускать аналогичные синтезаторы (включая знаменитые модели 2500 и 2600), пока в начале 70-х годов не появились более практичные и портативные синтезаторы, подобные MiniMoog и ARP Odessy. Эти инструменты унаследовали концепцию модульности у моделей предыдущего поколения, однако были намного компактнее (и дешевле!) своих предшественников. Обе упомянутые модели выпускались достаточно долго. Представителем следующего поколения синтезаторов стал знаменитый Sequential Circuits Prophet 5, впервые продемонстрированный на выставке NAMM Show 1978 года. Обладавший 5-нотной полифонией синтезатор был оборудован микропроцессором для управления всеми параметрами, включая настройку высоты строя инструмента.
    <p>

    </p>
    До появления в начале 80-х годов синтезатора Yamaha DX7, малобюджетных сэмплеров, подобных Ensoniq Mirage, и PCM-синтезаторам, таким как Roland D50, в течение многих лет музыканты могли пользоваться только субтрактивным, или вычитающим, типом синтеза. В наше время "традиционный" субтрактивный синтез встречается достаточно редко — в основном в таких полностью аналоговых моделях, как Moog Voyager и Moog Little Phatty, а также в синтезаторах с аналоговым моделированием, таких как Access Virus, Waldorf Q и Clavia Nord. При этом стоит отметить, что современные возможности вычитающего синтеза существенно превышают возможности, доступные ранним моделям синтезаторов.

 </div>
{% endblock %}