{% extends 'base.html' %}

{% block title %}
О бубене
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О бубене</h1>
    <h3> Звук</h3>
Бубен – это ударный музыкальный инструмент, имеющий неопределенную высоту звучания, поэтому ритмический рисунок, исполняемый на бубне, записывается на одной линейке. Инструмент обладает задорным тембральным окрасом, который создают маленькие бряцающие элементы, прикрепленные к корпусу бубна. Получается интересный звук барабана в сочетании с перезвоном бубенцов.ъ
    <p>

    </p>
    Очень многие думают, что бубен довольно простой инструмент и исполнение на нем большого мастерства не требует, достаточно только встряхнуть или ударить по нему. Однако это мнение ошибочно. Исполнитель на инструменте должен обладать хорошим музыкальным слухом и чувством ритма, а также уметь виртуозно владеть бубном. Инструмент обычно принято держать в левой руке, а правой наносить удары, хотя многие исполнители делают совсем наоборот. Правую руку они держат без движения, а действуют бубном - это сложнее, но выглядит и звучит гораздо изящнее.
<ul class="list-unstyled">
  <li>Приемов исполнения на бубне весьма много, но основными являются три: отдельные не очень острые удары, встряхивания и тремоло.

    <ul>
      <li>Удары исполнитель осуществляет при помощи суставов крайних фаланг пальцев руки.</li>
      <li>Встряхивание – это очень частое, почти судорожное постукивание руки, держащей инструмент в области локтя или запястья, звучание производят только подвески.
      </li>
        <li>Тремоло – быстрое потряхивание бубна левой рукой.</li>
    </ul>
  </li>
</ul><img class="img-fluid" src="static/image/buben.jpg">
    Настоящие виртуозы-исполнители на бубне из своего выступления устраивают целые спектакли - впечатляющие шоу. Как настоящие жонглёры они подбрасывают инструмент, затем перехватывают его. Бубном бьют по коленям, подбородку, голове и другим частям тела, даже по носу. Эффектно тремолируют и могут заставить инструмент выть.

    <h3>Конструкция</h3>
Похожая на полубарабан конструкция бубна сложностью не отличается. Инструмент состоит из деревянного или металлического обода – обечайки, на который натягивают мембранную кожу, являющуюся главным источником звука. В обечайке прорезают шесть или восемь отверстий и в них на жестких неподвижных штифтах или проволоке устанавливают по паре маленьких металлических пластинок, похожих по форме на оркестровые тарелки. Некоторые разновидности бубнов в качестве дополнительно звенящих элементов снабжаются бубенчиками – металлическими шариками с дробью или колокольчиками. Они прикрепляются к проволокам, натянутым в виде звезды внутри корпуса инструмента.
    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Бубен является одним из наиболее распространенных инструментов. Его разновидности встречаются во многих уголках земного шара, но каждый инструмент имеет свои отличительные черты, например:
      <ul>
      <li>Даф, гавал, дойра – это название одного и того же инструмента, применяемого в странах Востока. Его диаметр составляет от 35 до 46 см. Мембрана изготавливается из кожи осетра. Исполнение на инструменте осуществляется пальцами или ладонью. В качестве подвесных элементов используются кольца, количество которых может достигать 70 штук.
      </li>
      <li>Канджира – индийский инструмент, имеющий по сравнению с другими разновидностями бубна более высокое звучание. Диаметр инструмента от 17 до 22 см. высота обода 5-10 см. Для мембраны используется кожа ящерицы.  В обод вставляются всего две металлические тарелочки.
      </li>
      <li>Бойран – ирландский инструмент. Диаметр инструментов от 25 до 60 см, глубина обечайки 9-20 см. На инструменте играют односторонней или двухсторонней палочкой.
      </li>
          <li>Пандейру - инструмент очень популярен в Португалии и в странах Южной Америке. В Бразилии считается душой самбы. Отличие инструмента заключается в том, что он имеет возможность подстройки.</li>
          <li>Тюнгур - шаманский бубен алтайцев и якутов. Он имеет форму круга или овала и представляет собой обод, обтянутый кожей. Для удержания инструмента внутренняя сторона бубна снабжена вертикальной рукоятью. Также на внутренней стороне бубна устанавливаются прутья, на которые подвешиваются металлические подвески. Иногда кожаная мембрана шаманского бубна украшается рисунком - шаманской картой мира.</li>
      </ul>
  </li>
</ul>

    <h3>Применение</h3>
Несмотря на то, что бубен является простым инструментом, он весьма универсален и спектр его применения весьма обширен. В первую очередь бубен  широко употребляется в этнической музыке, а также в колдовской практике шаманов. Во вторую, он полноправный член всевозможных ансамблей: народных инструментов, цыганских и ансамблей музыки различных современных направлений. К тому же бубен является полноправным инструментом в таких оркестрах, как симфонический, духовой, эстрадный и оркестр русских народных инструментов.
    <p>

    </p>
    Инструмент весьма популярен в молодежной среде, например у хипстеров, а также играет очень важную роль в начальном музыкальном образовании.
   </div>
{% endblock %}