{% extends 'base.html' %}

{% block title %}
О литаврах
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О литаврах</h1>
    <h3> Звук</h3>
Тембровая окраска у инструмента необычайно широкая – от грозного звучания до еле слышного шороха. При этом влиять на нее можно при помощи палочек, достаточно использовать наконечники разного размера и материала: кожи, дерева, войлока.

 <img class="img-fluid" src="static/image/timpani.jpg">
    <h3>Строение</h3>
    Литавры — это ударный музыкальный инструмент древнего (восточного) происхождения. В Европе известен с 15 века, с 17 века входит в состав оркестра.
    <ul class="list-unstyled">
  <li>Устройство литавр:<ul>
      <li>Котлообразный корпус из меди, латуни или алюминия.</li>
      <li>Сверху хорошо выделанная кожа — мембрана.</li>
      <li>Строй инструмента регулируется степенью натяжения мембраны при помощи винтов (винтовые литавры) или специального педального механизма, объединяющего действия винтов (механические литавры).
      </li>
      <li>Внизу в центре корпуса имеется резонаторное отверстие.     </li>
    </ul>
  </li>
</ul>
    Звук литавр — гулкий, раскатистый. Он извлекается двумя палочками с шарообразными головками, обтянутыми пушистой материей (фильцем).
    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>В современном оркестре литавры бывают трёх размеров:    <ul>
      <li>Большие. Имеют восемь винтов по окружности котла.</li>
      <li>Средние. Имеют семь винтов.</li>
      <li>Малые. Имеют шесть винтов.</li>
    </ul>
  </li>
</ul>
    Также существуют особые малые литавры, которые изготавливаются по особому заказу и предназначены для особых оркестровых целей.
    <h3>История литавр</h3>
Литавры имеют глубокие исторические корни, уходящие в древние времена и простирающиеся до первобытного прошлого. Самым древним примером инструмента, который можно назвать литаврами, является барабан с пластиной, идущий своими корнями в эпоху до нашей эры и насчитывающий более двух тысячелетий. Известно, что древние греки, египтяне, евреи и многие другие народы использовали ударные инструменты, которые могли быть схожи с литаврами.

    <p>

    </p>
    Первое задокументированное использование литавр было в войсках древних греков и на религиозных ритуалах евреев. Так же известно, что в древней Месопотамии использовали барабаны в форме котлов.
    <p>

    </p>
    В 1188 году кембро-нормандский летописец Джеральд Уэльский написал "Ирландия пользуется и восхищается только двумя музыкальными инструментами, а именно арфой и литаврами".

    <p>

    </p>
    Аравийские нагары, прямые предки современных литавр, были привезены в континентальную Европу крестоносцами и сарацинами в XIII веке. Эти барабаны имели небольшой размер, с диаметром примерно 20-22 см, и их подвешивали к поясу игрока. Они использовались преимущественно для военных церемоний.
    <p>

    </p>
В средние века в Европе литавры и трубы стали неотъемлемой частью конницы, а в дальнейшем эти музыкальные инструменты развивались параллельно и вошли в состав классического оркестра с 17-го века. В опере "Тереза" 1675 года Жан Батист Люлли впервые в истории музыки использовал литавры в качестве оркестрового инструмента.
    <p>

    </p>
    Гектор Берлиоз (1803-1869) совершил не только революцию в инструментальном искусстве, но также стал пионером новых возможностей ударных инструментов. Он был первым композитором, который включил в свои партитуры детальные инструкции о типах и использовании палочек для литавр. В своём реквиеме, требующем огромного оркестра, Берлиоз использовал шестнадцать литавр, которые требовали участия десяти исполнителей. В его "Фантастической симфонии" заняты четверо литавристов.
    <p>

    </p>
Литавры, с их мощным и характерным звуком, находили применение в музыкальных композициях многих композиторов, их главная цель - подчеркнуть драматизм, напряжение и красоту музыкальных произведений. Часто литавры раскрываются в самые важные и ключевые моменты, создавая пронзительную атмосферу и усиливая эмоциональное воздействие на слушателя.

    </div>
{% endblock %}