{% extends 'base.html' %}

{% block title %}
О том томе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О том томе</h1>
    <h3> Описание</h3>
Том-том – это ударный инструмент, состоящий из барабана с пластиковой кожей, растянутой над обтяжкой. Он имеет форму цилиндра и обычно размещается на подставке или крепится петлями. Для игры на том-томах исполнитель использует палочки или молотки, создавая запоминающиеся ритмические фразы и акценты.
  <p>

    </p>
    Функции том-тома в музыке могут быть разнообразными: от создания базового ритма и поддержки метронома до добавления гармонической глубины и эмоционального насыщения в исполнении музыкального произведения. Часто том-томы используются в оркестрах, джазовых ансамблях и рок-группах для достижения динамичности и выразительности в звучании.
 <p>

    </p>
    <img class="img-fluid" src="static/image/tomtom.jpg">
    <h3>Конструкция</h3>
<ul class="list-unstyled">
  <li>Конструкция том-тома включает:
    <ul>
      <li>обечайку (кадла);</li>
      <li>винтовую систему натяжения;</li>
        <li>пластиковую мембрану, устанавливаемую на обе или одну сторону барабана.</li>
    </ul>
  </li>
</ul>
Диаметр том-тома составляет 8–18 дюймов, высота — 6–18 дюймов.
    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Том-томы бывают трёх видов:    <ul>
      <li>высокие;</li>
      <li>средние;</li>
      <li>низкие.</li>
    </ul>
  </li>
</ul>

    <h3>История появления</h3>
История том-тома уходит своими корнями в древнюю историю ударных инструментов. Барабаны были известны в различных культурах ещё задолго до нашей эры. Однако форма и конструкция том-тома, как мы их знаем сегодня, развивалась на протяжении веков.
  <p>

    </p>
    Что касается ключевых дат в истории появления и развития том-тома, объекты, которые похожи на него, были обнаружены на археологических раскопках и относятся к древним цивилизациям в разных частях мира. Например, в Китае найдены барабаны, которые были использованы при церемониальных мероприятиях вплоть до 600 года до нашей эры.
<p>

</p>
</div>
{% endblock %}