{% extends 'base.html' %}

{% block title %}
О трубе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О трубе</h1>
    <h3> Звук</h3>
Ясный, выразительный, блестящий, иногда даже пронзительный - так можно описать голос трубы. Она имеет характерный насыщенный тембр, который придает звучанию оркестра величественность и патетичность. Также звук трубы применяется для придания музыке драматического характера, когда внутреннее напряжение достигает своей кульминации. Голос этого инструмента создает героические, волевые и мужественные образы, он умеет звучать очень тихо и мягко, но в то же время и удивительно мощно, когда озвучивает сцены сражений.
  <p>

    </p>
    Диапазон трубы от ми малой октавы до ре третьей октавы, но это не предел, мастерство музыкантов позволяет его немного увеличивать.
  <p>

    </p>
    Для расширения средств художественной выразительности трубачи очень часто применяют сурдину - приспособление которое по форме напоминает грушу. Главное ее назначение - это изменение силы звука и некоторые звуковые эффекты. Так, на трубе "форте" с сурдиной звучит вызывающе дерзко, а "пиано" дает эффект звучания на расстоянии. С помощью сурдины инструмент может издавать мяукающие, квакающие и рычащие звуки, а также она помогает музыканту создавать разные образы: от суровых и мрачных, до необыкновенно нежных.
  <p>

    </p>
    Труба является технически подвижным инструментом, на котором исполнитель, в зависимости от его мастерства, может виртуозно играть самые сложные пассажи и различные трели.
    <div>  </div>
    <img class="img-fluid" src="static/image/truba.jpg">
    <h3>Конструкция</h3>
Современные трубы изготавливаются из латуни - это особый сплав меди и цинка, затем покрываются лаком или гальваническим покрытием с содержанием серебра, никеля, реже золота. Кроме латуни, трубы изготавливают из серебра, меди, а иногда из золота.

    <p>

    </p>
    Труба имеет форму тонкого цилиндра, который остается неизменным по всей длине, что придает инструменту характерный для него живой звук. С одной стороны у трубы имеется расширенное отверстие чашевидной формы – это раструб, с другой - мундштук.
  <p>

  </p>
    Этот инструмент, сложенный в два раза в форме овала, кажется очень компактным, но если его выпрямить, то длина составит 1,5 метра, а иногда и больше.
    <p>

    </p>
    Труба состоит из следующих элементов: основная крона, раструб, добавочные кроны, вентили, мундштук.
    <p>

    </p>
    Трубач с помощью всего 3 клапанов может извлекать 45 разных звуков.

    <h3>Применение </h3>
Труба - это универсальный музыкальный инструмент. Спектр применения ее очень разнообразен - симфонический, духовой, эстрадный оркестры, джаз, фанк, ска – джаз, рок и многие другие музыкальные направления. Тембр трубы - яркий, чистый, чуть резковатый, очень часто привлекал внимание композиторов разных эпох. И.С. Бах, Л.В. Бетховен, И. Брамс, Ф. Лист, К. Дебюсси, Д. Верди, Ж. Бизе. Д. Гершвин, Г. Малер, М. Мусоргский, М. Равель, Н. Римский-Корсаков, А. Скрябин, Д. Шостакович, П. Чайковский, Д. Верди и многие другие доверяли трубе сольные моменты. Трубы зазвучали в торжественных, героических, а иногда и лирических эпизодах.
    <p>

    </p>
    В духовом оркестре трубе отводится ведущая роль, она, как и скрипка в симфоническом, играет первый голос.
    <p>

</p>
Примой труба является и в джазовой музыке. Символом и душой джаза она стала, когда появились такие разновидности жанра, как диксиленд, новоорлеанский джаз, чикагская школа и прочее.

 </div>
{% endblock %}