{% extends 'base.html' %}

{% block title %}
О тубе
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О тубе</h1>
    <h3> Звук</h3>
Туба - инструмент, издающий богатый и глубокий звук. Как уже упоминалось, он является самым низким из всех медных духовых инструментов. Однако некоторые музыканты способны играть на тубе и высокие ноты, что требует высокого мастерства исполнения. Качество звучания высоких нот всегда ясно отражает уровень мастерства тубиста.
    <p>

    </p>
    Туба имеет красивый по звучанию средний регистр, в пределах которого можно исполнять довольно сложные технические пассажи. Такой тембр очень похож на тромбонный, только у тубы он в более насыщенных красках.
    <p>

    </p>
    Расход воздуха на тубе огромен, иногда исполнителю приходится брать дыхание на каждом звуке. По этой причине тубу причисляют к оркестровым и ансамблевым инструментам, соло ей доверяют редко. Но в последнее время композиторы ломают эти стереотипы и сочиняют концертные пьесы специально для нее. Причем стараются открыть новые грани этого «сурового» музыкального инструмента.
    <p>

    </p>
    Из-за своих габаритов тубу часто считают «неуклюжей» и малоподвижной. Однако это совсем не так. По своим техническим возможностям она нисколько не уступает другим медным духовым. Хотите убедиться? Послушайте, как справляется туба со стремительными ритмами в знаменитом «Чардаше» В. Монти!
<div>  </div>
    <img class="img-fluid" src="static/image/tuba.jpg">
    <h3>Конструкция</h3>
Домра, как и скрипка, очень капризный инструмент, и чтобы она хорошо звучала, то должна быть сделана высоко квалифицированным мастером с тонким слухом, а также из хорошо выдержанного дерева.

конструкция домры
    <p>

    </p>
    Конструкция включает в себя корпус инструмента и гриф с головкой.
<ul class="list-unstyled">
  <li>1. Корпус имеет в своем составе кузов и деку.
    <ul>
      <li>Кузов обычно изготавливают из выгнутых клепок, образующих полусферическую форму. Клепки изготавливаются из палисандра, белого клена или волнистой березы. На кузов устанавливаются струнодержатели, которые называются кнопками.
</li>
      <li>Дека – это лицевая часть корпуса в форме плоского овала, закрывающая кузов и окаймленная по кромке обечайкой. В центре расположен голосник – резонатор, имеющий розетку фигурной формы. На деку накладывается панцирь, который защищает ее от царапин, и подставка, приподнимающая струны и устанавливающаяся в точно определенном месте. Дека обычно изготавливается из резонаторных ели и пихты, подставка из клена, а панцирь из дерева твердых пород или синтетических материалов.
</li>
    </ul>
  </li>
</ul>
2. Прикрепленный к корпусу гриф заканчивается головкой с закрепленным на ней колковым механизмом необходимым для натяжки струн. К грифу приклеивается накладка с порожками, которые разделяют лады, располагающиеся в хроматической последовательности. Между головкой и шейкой грифа крепится порожек, который влияет на уровень высоты струн. Высоко поднятые струны тяжело прижимаются к ладам и усложняют исполнение на инструменте.

Звук на домре извлекается при помощи маленькой пластиночки медиатора - плектра, имеющего форму овала и размер которого зависит от размера домры. Лучшим материалом для медиаторов считаются черепаховые панцири, но также сейчас изготавливают плектры из различных полимерных материалов.
    <h3>Разновидности</h3>
    Многие, слушая звуки тубы, удивляются, откуда такой глубокий и мягкий тембр у такого большого и тяжёлого инструмента. Так получается благодаря уникальной конструкции. Туба имеет большую по размеру трубку, мундштук в форме чаши и широкий раструб.
    <ul class="list-unstyled">
  <li>Туба имеет две основные разновидности. Первый — это классическая туба, которая содержит четыре типа инструмента, делящихся по своему строю. Второй — это сузофон.
    <ul>
      <li>Классическая туба.

Этот инструмент используется в симфоническом оркестре и играют на нем в основном сидя. Тубист во время игры держит инструмент вертикально, в отличие от трубы и тромбона. На тубе можно играть и стоя, но с обязательной поддержкой в виде ремешка.
      </li>
      <li>Сузафон.
Представляет собой медный духовой инструмент с клапанами, который не отличается от классической тубы по диапазону и аппликатуре. Тем не менее, имеются различия во внешнем виде. Раструб сузафона находится выше головы тубиста и смотрит вперёд. Такая особенность придаёт звуку дополнительную яркость. Клапаны на инструменте располагаются выше талии музыканта прямо перед ним. Вес сузафона приходится на одно плечо музыканта.

    </ul>
  </li>
</ul>

    <h3>Применение и репертуар</h3>
Изобретение тубы связано с необходимостью усиления басовой основы в духовом и симфоническом оркестрах. Как правило, в последнем играет один тубист. Число туб в духовом оркестре может доходить до четырёх.
    <p>

    </p>
   Туба является незаменимой в джазовой музыке. Без этого инструмента невозможно представить исполнение джаза на улице. Также туба всегда присутствует в брасс-коллективах. В последнее время всё большую популярность приобретают ансамбли, состоящие исключительно из тубистов.
    <p>

</p>
В сегодняшнем понимании впервые тубу в симфоническом оркестре продемонстрировал Рихард Вагнер в 1843 году. Инструмент дебютировал в составе его оркестра на премьере оперы «Летучий голландец». Затем множество известных на весь мир композиторов использовали тубу в своих произведениях — это и симфонии Дмитрия Шостаковича, и балет «Петрушка» Игоря Стравинского, и «Гоголь-сюита» Альфреда Шнитке, и «Планеты» Густава Холста, и пятая симфония Сергея Прокофьева, и «Американец в Париже» Джорджа Гершвина и «Симфоническая метаморфоза» Пауля Хиндемита, и многие другие классические произведения. Туба, войдя в состав симфонического оркестра, завершила его формирование.
<p>

</p>
    Однако многие композиторы и музыканты считают, что туба является чем-то большим, чем просто басовым инструментом в ансамблях и оркестрах.  Для этого инструмента сольные произведения сочинили такие композиторы, как Пауль Хиндемит, Александр Арутюнян, Алексей Лебедев, Ральф Воан-Уильямс, Франц Шмидт, Эдуард Грегсон, Джулиан Барнс, Йозеф Таль, Калеви Ахо и многие другие.

</div>
{% endblock %}