{% extends 'base.html' %}

{% block title %}
О ксилофоне
{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>О ксилофоне</h1>
    <h3> Звук</h3>
Чтобы образно описать звук ксилофона, непременно нужно вспомнить произведения великого русского композитора А. Лядова, его симфонические картинки «Кикимора» и «Баба-Яга», где очень выразительно изображено и зловещее клацанье зубищами страшной кикиморы, и стремительно несущаяся ведьма, ломающая на своем пути засохшие ветки. Включение ксилофона в музыкальную палитру обычно связано с особенностью сюжета или своеобразными переживаниями. Из-за суховатой, пощелкивающей, несколько костяной окраске, звук этого инструмента чудесно используется в изобразительных замыслах. Например, песенку белочки, грызущей орешки, в «Сказке о царе Салтане» Н.А. Римский-Корсаков поручил именно ксилофону.
    <p>

    </p>
    Порой тембральный окрас звука инструмента навевает угрюмое настроение, а иногда порождает замысловатые, уродливо-комические образы, или меланхолично звучит в симфонии №7 Д. Шостаковича, в эпизоде «нашествия».
    <p>

    </p>
    Звук ксилофона, в значительной степени зависящий от мастерства музыканта, может быть очень разнообразным: зловещем, ужасающим и пронзительным, а может быть светлым, ласковым и проникновенным. На "форте" ксилофон звучит резко и звонко, на "пиано" - тепло и бархатно.
    <p>

    </p>
   Диапазон звучания ксилофона довольно широкий - это четыре октавы музыкальных звуков.
    <div>  </div>
    <img class="img-fluid" src="static/image/xylophone.jpg">
    <div>  </div>
    <h3>Конструкция</h3>
Современный ксилофон является инструментом с довольно простой конструкцией, состоящей из рамы, на которой закреплены два ряда деревянных брусков, уложенных как клавиши пианино и имеющих определенную звуковысотность. Чем брусок короче, тем звук выше и наоборот. Каждая клавиша (брусок) лежит на специальной мягкой прокладке, которая изготавливается из поролона.
    <p>

    </p>
    Клавиши ксилофона вырезаются из розового дерева, ольхи, палисандра, клена, ореха, которое выдерживают в течение двух лет, затем тщательно обрабатывают. Клавиши имеют стандартный размер – 3,8 см в ширину и 2,5 см в толщину, длина зависит от необходимой высоты звучания. Затем их выкладывают на определенном расстоянии и скрепляют шнурами. Под клавишами размещаются особые металлические трубки, роль которых увеличение громкости звука. Это трубки – резонаторы, которые придают звуку объем и делают его более ярким и насыщенным. Они очень тщательно обрабатываются и настраиваются в тон пластины.
   <p>

   </p>
    Исполнитель при игре обычно использует тонкие деревянные палочки, похожие на небольшие ложки, имеющие пластиковые, резиновые или деревянные наконечники. Палочек обычно две, но в зависимости от профессионализма музыканта их может быть 3 или 4. Ксилофонист выбирает палочки и наконечники наиболее подходящие к характеру музыки, для воспроизведения определенного звукового настроения.
    <p>

    </p>
    Инструмент для профессиональных исполнителей, как правило, располагается на специальной подставке, уровень которой меняется в зависимости от положения исполнителя – сидя или стоя.

    <h3>Разновидности</h3>
    <ul class="list-unstyled">
  <li>Семейство ксилофона очень большое и разнообразное - это один из самых известных этнических музыкальных инструментов. У каждого народа есть свой ксилофон. На африканском, азиатском и американском континентах ксилофоны существуют во многих различных формах и с большим количеством имен. Вот некоторые из них:
      <ul>
      <li>Балафон популярен в Анголе, Гвинеи, Мали, Мадагаскаре, Камеруне, Конго, Сенегале, Гамбии, Кот-д'Ивуаре.
      </li>
      <li>Тимбила – национальный инструмент Мозамбик.</li>
      <li>Моккин – ксилофон из Японии.</li>
          <li>Маримба – очень распространен в Мексике и Центральной Америке.</li>
          <li>Вибрафон и колокольчики (металлофоны) - разновидности ксилофона, звуковые пластины которых сделаны не из дерева, а из металла - все эти инструменты объединяет одинаковое строение.</li>
    </ul>
  </li>
</ul>

    <h3>Применение и репертуар</h3>
Очень долгое время ксилофон использовался только в народной музыке, но после значительных преобразований круг его применения значительно вырос. Многие оркестры - симфонический, эстрадный, народный, духовой, биг-бэнд включают в репертуар произведения, которые ксилофон украшает своим звучанием. Бывают и ансамбли, в состав которых входят только ударные инструменты и ксилофоны, в том числе. Сегодня эти самодостаточные звуковысотные ударные инструменты, их необыкновенное звучание, побуждает музыкантов образовывать коллективы, в которых исполнители играют только на такой группе инструментов, среди таких следует отметить ансамбль Marimba Mix из Санкт - Петербурга.

     <p>

    </p>
    В настоящее время ксилофон используют в различных музыкальных жанрах – это народная, латиноамериканская, классическая музыка, регтайм, мюзикл, джаз, иногда даже рок и др.
    <p>

    </p>
Изобразительное звучание ксилофона применяли в своих сочинениях многие композиторы: Д. Шостакович в балетной сюите «Золотой век», А. Хачатурян в балете «Гаяне» (знаменитый танец с саблями), И. Стравинский в балете «Петрушка», В. Оранский в балете «Три толстяка», Д. Клебанов в балете «Аистенок» и другие.</div>
{% endblock %}