{% extends 'base.html' %}

{% block title %}
Фредерик Шопен

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Фредерик Шопен</h1>
    <h3>Краткая биография</h3>
    Фредерик Францишек Шопен появился на свет вблизи Варшавы в семье эмигранта из Франции Николая Шопена и полячки Юстины Кжижановской. О дате его рождения до сих пор ведутся жаркие дискуссии – одни историки считают, что будущий композитор родился 1 марта 1810 года, другие же убеждены, что он увидел этот мир несколькими днями ранее – 22 февраля. Мать будущего композитора стала для него первым музыкальным учителем, привившим мальчику вкус к прекрасному. По воспоминаниям современников она происходила из родовитой семьи, получила прекрасное образование, знала французский язык, имела прекрасный голос, умела и любила петь.
  <p>

    </p>
  С самого детства о Шопене говорили как о маленьком чуде. А многие и вовсе сравнивали его с Моцартом, ведь он обладал идеальным музыкальным слухом, мастерски импровизировал и тонко чувствовал инструмент. Фредерик всегда был эмоционален, мог расплакаться, слушая сосредоточенную мелодию, берущую за душу. В порыве музыкального вдохновения он среди ночи вскакивал с постели и бежал к инструменту, чтобы сыграть приснившийся ему фрагмент. В возрасте семи лет маленький композитор сочинил свое первое произведение – небольшой полонез соль-минор. Новость об этом даже попала в выпуск варшавской газеты, где музыку оценили как профессиональную работу талантливого мастера, а мальчика назвали гением.
  <p>

    </p>
   В то же время Шопена отдали учиться к выдающемуся чешскому пианисту Войцеху Живному. Мальчик со всей серьезностью приступил к занятиям, хотя совмещал их с учебой в училище. Его успехи были столь велики, что, когда он достиг возраста 12 лет, Живный отказался обучать Фредерика дальше, сказав, что больше ничего не может ему дать. Слава о Фредерике Шопене как о замечательном исполнителе уже пошла по Варшаве, неудивительно, что у мальчика появились влиятельные покровители, которые открыли ему дверь в высшее общество. Там он сразу становится своим: современники описывали его как молодого человека исключительно приятной наружности, с отменным чувством юмора и острым на язык, который с первых слов при знакомстве может расположить к себе собеседника. В то время Фредерик много путешествует по Европе, посещает концерты знаменитых музыкантов, что способствует определению его личного музыкального стиля.
<p>

</p>
  Такая насыщенная жизнь не мешает получению образования и согласно биографии Шопена в 1823 году он становится воспитанником Варшавского лицея, а в 1826 – студентом Высшей школы музыки.
  <p>

    </p>
    Из биография Шопена мы узнаём, что с 1829 года начинается период его активных гастролей. Ференц планировал немного задержаться в Калише, потом отправиться в Берлин, Дрезден, Вену, ну и напоследок проехаться по городам Италии и Франции. В 1830 году он навсегда покидает родную Польшу, и на родину возвратиться ему уже не суждено. Ему ничего не остается, как хранить любовь к своей стране на протяжении всей жизни, и завещать ей свое тоскующее сердце.
  <p>

    </p>
    О вспыхнувшем в Варшаве восстании Шопен узнал, будучи в Австрии, и тут же принял решение отправиться на родину. Но в письме отец Фредерика настаивал, чтобы он остался за границей, и ему пришлось повиноваться. Известие о падении польской столицы стало для него большим ударом. Под впечатлением от этого страшного события он создал свои лучшие трагические творения - «Революционный этюд», прелюдию d-moll, и финальные прелюдии op.28.
  <p>

</p>
Шопен решает временно обосноваться в Париже, где и дает свой первый фортепианный концерт. Успех приходит к нему сразу же, он становится любимцем публики. На волне обрушившейся на него популярности он приобретает множество поклонников, наслаждался женским вниманием, и заводит дружеские связи с известными композиторами – Ф. Мендельсоном, Г. Берлизом, Ф. Листом и В. Беллини. Дружбу со многими из них он сохранил на всю жизнь.
  <p>

    </p>
    Фредерик Шопен рано открыл в себе любовь к преподаванию. В отличие от многих своих коллег он отдавал себя всего этому ремеслу, его учениками были многие впоследствии знаменитые музыканты.
        <div>  </div>
          <img class="img-fluid" src="static/composers/shopen.jpg">
    <div>  </div>
    <h3>Другие амплуа великого композитора</h3>
    По свидетельствам современников, Шопен обладал не только выдающимися музыкальными способностями. Так, многие утверждают, что у него был потрясающий актерский талант, и если бы он посвятил себя театру, он бы смог вписать свое имя в его историю. Фредерик обладал способностью удивительно точно имитировать жесты, походку, голос и даже интонации разных людей. Он регулярно играл в домашних спектаклях, и чувствовал себя на сцене очень свободно. Часто случалось так, что он выручал своих товарищей по сцене, когда они забывали текст – Фредерик начинал импровизировать, тем самым спасая спектакль от провала. Известный польский драматический артист Пясецкий и комик Эрве в один голос прочили мальчику большое будущее в театральной карьере.
    <p>

  </p>
  Помимо этого, Фредерик обладал большим даром рисовальщика. Помимо обычных картинок, Шопен рисовал интереснейшие карикатуры, о которых на протяжении всей своей жизни помнили его друзья по лицею. Изобразительным искусством музыкальный гений занимался на ненавистных уроках по математике. Самой известной работой композитора является карикатура на ректора лицея С. Линде.
    <p>

</p>
    Также известно, что Шопен очень любил танцевать, и всегда с охотой делал это в компании друзей. По воспоминаниям современников, особенно лихо он отплясывал мазур, оберек и «казака». Но часто случалось так, что танцующим не нравился приглашенный пианист, и тогда его место занимал сам Шопен
   </div>
{% endblock %}