{% extends 'base.html' %}

{% block title %}
Иоганн Штраус

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Иоганн Штраус</h1>
    <h3>Краткая биография</h3>
    Иоганн Штраус родился в Вене 25 октября 1825 года. Его отцом и полной тезкой был известный австрийский композитор. Штраус-старший не желал для сыновей музыкальной карьеры, запрещал им сочинять музыку и учиться играть на скрипке. По иронии судьбы, все трое его сыновей от Анны Штрайм стали композиторами, несмотря на его яростное сопротивление. Так, маленький Иоганн втайне от отца, часто гастролировавшего за рубежом, брал его скрипку и самостоятельно учился на ней играть. Мать поддерживала увлечение сына.
    <p>

    </p>
  Даже поступив в Высшее коммерческое училище и подрабатывая счетоводом, Иоганн не прекращал учиться музыке. Согласно биографии Штрауса в 1844 году он, имея блестящие рекомендации своих педагогов, решился получить лицензию на право дирижирования оркестром. Чтобы влиятельный отец не смог воспрепятствовать карьере сына, Анна подала на развод – к тому времени у Штрауса-старшего уже несколько лет была вторая семья. На фоне этой драмы Иоганн собрал свой собственный оркестр, а когда 5 лет спустя отец скоропостижно скончался, пригласил к себе работать его музыкантов.
    <p>

    </p>
  Гастролируя по Европе со своими произведениями, Штраус становится настолько популярен, что подключает к концертной деятельности обоих своих братьев, Йозефа и Эдуарда. В Австрии молодой композитор получает все придворные полномочия своего отца. С 1856 года он постоянный гость в России. Становятся традиционными его летние вступления на Павловском вокзале. С нашей страной связано и первое серьезное чувство композитора. Его избранницей стала Ольга Смирнитская, он просил ее руки, но не получил согласия родителей девушки. Разбитое сердце короля вальсов залечила певица Генриетта Халупецкая, имевшая к моменту свадьбы со Штраусом семерых детей от разных мужчин. Брак принес композитору не только счастье и взаимопонимание, но и всестороннюю поддержку его творчества, которую оказывала супруга.
    <p>

</p>
  В 1870 Штраус передает все придворные обязанности Эдуарду, чтобы освободить время для написания оперетт. Это был непростой период в его жизни – зимой умерла его мать, а летом – младший брат Йозеф. В 1878 году скончалась супруга композитора, и он с едва приличной поспешностью полтора месяца спустя женился на певице Анжелике Дитрих. Не прошло и пяти лет, как этот брак закончился разводом. Последний раз Штраус пошел под венец в 62 года. Его избранницей стала Адели Дойч, ради союза с которой великий австриец поменял гражданство и вероисповедание. Детей у композитора не было.
    <p>

    </p>
    В 1889 году Штраус издал произведения своего отца в семи томах. Именно его он считал главным распространителем классической венской танцевальной музыки, которая стала популярной далеко за пределами своей родины. Он всегда без тени зависти чтил талант и заслуги своего отца, поддерживал творчество братьев. Умер маэстро в 73 года, причиной тому послужила пневмония, которой он заболел, простудившись по дороге с чествования 25-летнего юбилея «Летучей мыши». На этом памятном спектакле он в последний раз стоял за дирижерским пультом. 3 июня 1899 года короля вальсов не стало.
     <div>  </div>
             <img class="img-fluid" src="static/composers/shtraus.jpg">
         <div>  </div>
    <h3>Творчество Иоганна Штрауса</h3>
    Свой самый ранний вальс «Первая мысль» Иоганн Штраус написал в 6 лет, и, как ни удивительно, но его ноты дошли до наших дней. Первым официальным произведением композитора является вальс «Эпиграммы», который впервые прозвучал на дебютном выступлении Штрауса в качестве дирижера собственного оркестра 15 октября 1844 года. Газеты раздули невероятную шумиху, еще и потому, что вечер устраивался в казино, где часто выступал Штраус-отец. Его сочинения также были включены в программу концерта, основной интригой которого являлись 4 произведения молодого Иоганна. Отец на дебют сына не явился, а через некоторое время и вовсе лишил наследства всех своих детей-музыкантов. Однако публика, коей пришло гораздо больше, чем даже мог вместить в себя зал, осталась в восторге от выступления нового оркестра и юного композитора. Все номера бисировались, а «Эпиграммы» исполнялись 20 раз! Могла ли быть менее блестящей карьера музыканта, получившего столь успешный старт?
    <p>

  </p>
  Уже в следующем, 1845 году, Штраус принимает предложение стать дирижером 2-го полка венских граждан. Это еще более накаляет противостояние с отцом, дирижером 1-го полка. Именно сыну было доверено выступление на торжественном открытии крупнейшего венского бального зала «Одеон». Однако Штраус-старший в то же время становится распорядителем музыки и танцев при дворе, что упрочивает его положение на самых престижных и фешенебельных танцевальных вечерах Вены. Сыну остаются приглашения в небольшие залы, и он предпринимает первые гастроли в Венгрию. На концерте в Буде он представил на суд зрителей «Пештский чардаш», приведший всех слушателей в абсолютный восторг из-за тонкого понимания композитором венгерской национальной музыки.
    <p>

</p>
    Оркестр Штрауса часто приглашали играть на вечерах, организованных славянскими землячествами. Поэтому в репертуаре композитора появились несколько произведений на восточноевропейские мотивы: «Чешская полька», «Сербская кадриль», кадриль «Александр», «Славянское попурри». Успех этих произведений закрепили балканские гастроли 1847 года.
    <p>

</p>
    1848 год был ознаменован Европейской революцией и Штраус, вернувшийся к маю из Румынии, поддержал сторону восставших, сочиняя «Революционный марш», польку «Лигуорианские вздохи». Революция была подавлена, к власти пришел император Франц Иосиф I, а Штраус написал в ответ на эти события вальс «Музыка единства», примиряющий его со сложившейся политической ситуацией, несмотря на прежние революционные воззрения. Из этих же соображений композитор создал кадриль «Николай» в честь российского императора, поддержавшего притязания Австрии в ходе революции в Венгрии, «Марш императора Франца Иосифа», «Триумфальный марш».

    <p>

</p>
Смерть отца оставила в истории соперничество двух Штраусов. У младшего началась пора расцвета – его приглашали везде, где до того царил отец. Первым произведением, созданным в новый период творчества, был вальс «Свои люди». К 1856 году Штраус уже стал «первой скрипкой» Вены. В этот момент ему поступило весьма заманчивое предложение из России, от руководства Царскосельской железной дороги – провести летний музыкальный сезон с выступлениями на Павловском вокзале. От такой возможности и столь щедрых гонораров композитор отказаться не смог, и с 18 мая по 13 октября 1856 года давал ежедневные концерты в пригороде российской столицы. Для своего дебютного лета в России Штраус написал 8 новых произведений. В течение 10 последующих лет российская публика имела удовольствие ежегодно видеть короля вальсов в Павловске.
    <p>

</p>
В 1863 году Штраус получил должность распорядителя музыки и танцев при дворе – ту самую, которую когда-то занимал отец. Его оркестр играл на всех придворных балах – это была высшая карьерная точка любого австрийского музыканта. Возможно, именно этот успех дал композитору новую творческую энергию, породившую в конце 60 годов самые блестящие его мелодии: «У прекрасного голубого Дуная», «Жизнь артиста», «Сказки Венского леса».
     <p>

</p>
    Казалось бы, за столь грандиозной и концентрированной по времени кульминацией должен последовать неизбежный спад, но только не у Штрауса. Вальсов, действительно, стало меньше. Но только лишь потому, что маэстро полностью посвятил себя новому жанру – оперетте. Дальновидная Генриетта давно склоняла мужа попробовать себя в театре. Начальные три попытки написать оперетту не дошли до своего завершения. Первая полноценная работа Штрауса «Индиго и сорок разбойников» получилась весьма неидеальной, в главном, из-за невнятного либретто. Однако это не помешало ей пройти только в 1871 году более 40 раз на сцене венского театра «Ан дер Вин». В 1873 году выходит вторая оперетта «Карнавал в Риме». А год спустя – подлинный шедевр этого жанра «Летучая мышь», представленная 5 апреля 1874 года в театре «Ан дер Вин». За дирижерским пультом стоял автор, каждый номер заканчивался громоподобными аплодисментами – венская публика обожала своего маэстро!
       <p>

</p>
    В ближайшие 10 лет он напишет еще 6 оперетт, в разной степени успешных, но не повторивших судьбу «Летучей мыши». Композитор всегда очень глубоко понимал венгерскую культуру и вынашивал идею оперетты на венгерский национальный сюжет. Таким сюжетом и стала новелла М. Йокаи «Саффи». И. Шницер написал либретто, и в 1885 году на сцене «Ан дер Вин» появился «Цыганский барон», ставший вторым безусловным хитом Штрауса на протяжении последующих столетий. На венгерскую тему была создана и единственная комическая опера композитора «Рыцарь Пасман», поставленная в Придворном театре Вены в 1892 году. В последние годы жизни из-под пера маэстро выходят еще 4 оперетты и балет «Золушка», который он не успел закончить. Еще при жизни Штраус дал согласие А. Мюллеру на создание оперетты из разных своих мелодий. В. Леон и Л. Штайн подготовили блестящее либретто, и произведение, премьера которого состоялась 5 месяцев спустя после смерти композитора, получило название «Венская кровь».

</div>
{% endblock %}