{% extends 'base.html' %}

{% block title %}
Петр Ильич Чайковский

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Петр Ильич Чайковский</h1>
    <h3>Краткая биография</h3>
    Петр Ильич родился в российской глубинке – селении Воткинск близ небольшого завода 7 мая 1840 года в семье горного инженера. С рождения мальчик впитал в себя исконный дух русской интеллигенции. Детство его прошло в родном имении под сенью деревенской природы, среди живописных видов и звуков народных песен. Все эти впечатления ранних лет позднее оформились в необыкновенную любовь к Родине, ее истории и культуре, ее такому творческому народу.
  <p>

    </p>
   Образование детям в этой большой и дружной семье стремились дать лучшее. С ними всегда была гувернантка Фанни Дюрбах, которая, кстати, сохранила очень много воспоминаний о маленьком Петруше. С детства это был самый впечатлительный, тонко чувствующий, ранимый, талантливый ребенок с тончайшей нервной организацией. Няня называла его «фарфоровый мальчик». Такая хрупкая, неврастеничная психическая структура, такое острое восприятие жизни и чувствительность сохранились у него на всю жизнь.
  <p>

    </p>
    Дом был наполнен музыкой, родители будущего композитора сами любили музицировать, они устраивали музыкальные вечера, в гостиной стоял механический орган (оркестрина). Любовь к занятиям на фортепиано ему привила горячо любимая матушка, и уже с 5 лет он довольно регулярно упражняется. Занятия музыкой захватывали его целиком, но, испугавшись за неустойчивую психику Пети, родители отправили его учиться в Императорское училище правоведения в Санкт-Петербурге, считая, что музыка ему во вред.
  <p>

    </p>
    Биография Чайковского гласит, что по окончании учебы, в 1859 году Петр Ильич немного поработал в чине титулярного советника в Министерстве юстиции, продолжая факультативно заниматься музыкой, посещая музыкальные вечера и оперные спектакли. К тому моменту он уже считался хорошим пианистом и импровизатором. Благодаря службе он впервые попал за границу, поехав в трехмесячное турне с инженером Писаревым в качестве переводчика. Позднее поездки в Европу с гастрольными выступлениями или для отдыха станут для него важнейшей частью творческой деятельности. Сама возможность побывать в Европе, приобщиться к ее культурным памятникам будоражила его.
  <p>

    </p>
    В 1862 году он окончательно решает связать свою жизнь с музыкой. Точнее, для себя он определил это как служение Музыке. Он поступает в только что открывшуюся Санкт-Петербургскую консерваторию, где обучается по классу композиции. Там он знакомится с Антоном Рубинштейном, который оказал значительное влияние на его жизнь. Так вскоре после окончания консерватории Чайковским (с большой серебряной медалью, высшей наградой), Рубинштейн приглашает его в Москву – теперь уже преподавать основы сочинения, гармонии, теории музыки и оркестровки.
  <p>

</p>
Стоит отметить, что московская консерватория на тот момент (в 1866 году) тоже только начала существовать. По сути, на тот момент не было отечественной школы, обучающей исполнительскому или композиторскому мастерству. Были разрозненные переводы западных учебников, отдельные классы учителей, которые не стали концертирующими музыкантами, а передавали свои навыки ученикам по принципу «делай как я».
  <p>

    </p>
    Чайковский не только читал лекции, многие учебные программы и пособия он написал непосредственно сам, что-то переводил из зарубежных источников. Остались записи лекций его ученика, выдающегося русского композитора Сергея Танеева, из которых можно судить о глубине познаний, способности вдумчиво анализировать музыку с точки зрения ее строения, формы, элементов. Это титанический методический труд, переоценить который невозможно.
  <p>

</p>
   Благодаря стараниям Петра Ильича обучение российских музыкантов и особенно композиторов приобрело систему, метод, цельность. Долгое время эта часть его биографии опускалась, ее считали незначительным эпизодом. Виной тому собственные высказывания Чайковского о том, что педагогическая работа его тяготит, ученики глупы и невежественны. Но все эти слова совершенно не отражают истину – явление Чайковского как педагога в тогдашней национальной музыкальной культуре предопределило на столетия (!) появление русской композиторской школы и уникальных, самобытных, гениальных композиторов. Это целая веха в отечественной музыкальной педагогике.

  <p>

</p>
Примечательно, что такой серьезный вклад в преподавание и критику Чайковский внес, почти не уменьшая времени на собственные сочинения. Это характеризует его как человека чудовищной работоспособности, трудоголика, который бросил каждую минуту своего земного пребывания на алтарь Музыки.
     <div></div>
          <img class="img-fluid" src="static/composers/ch.jpg">
    <div></div>
    <h3>Становление как композитора</h3>
    Его творческий путь не был усыпан розами. В самом начале его часто резко критиковали за желание угодить слушателю. Затем, когда он уже часто бывал в Европе и пытался соединить лучшее от западной культуры с традиционными русскими чертами, ему трудно было встретить единодушие аудитории. По-настоящему его гений оценили лишь в конце.
  <p>

  </p>
  Ранние сочинения Чайковского датируются 1854 годом. Это были небольшие пьесы - «Анастасия-вальс» и романс «Мой гений, мой ангел, мой друг…». Ученические его работы консерваторского периода уже выдают в нем мастера. Одна из работ – программное произведение к драме Н.А. Островского «Гроза». Со знаменитым драматургом впоследствии Петра Ильича связывала не только нежная дружба, но и творческие проекты. Так в 1873 году была написана музыка к сказке «Снегурочка», позднее на эту же тему написал оперу Николай Римский-Корсаков.
<p>

</p>
    Это время (конец 60-х и начало 70-х) было для него творческим поиском, наиболее обращенным к народному искусству. Тогда же примерно был издан его сборник «50 русских народных песен для фортепиано в 4 руки». Сказочно-мифический сюжет, присущий фольклору, был воплощен в опере «Ундина». Первая постановка ее прошла с определенным успехом, но уже к концу сезона ее сняли из театрального репертуара. Рукопись композитор уничтожил. Лишь некоторые музыкальные фрагменты перешли позднее в «Снегурочку». По ним можно судить, что к тому моменту Петр Ильич владел техникой колористического письма.
    <p>

    </p>
    За годы работы в консерватории он написал много произведений, из знаковых можно перечислить 4 симфонии, 5 опер, принесший ему мировую славу балет «Лебединое озеро», концерт для фортепиано с оркестром, 3 струнных квартета.
    <P>

    </P>
    Постепенно он пришел к пониманию, что должен больше времени посвящать сочинению музыки. Изнуряющая работа в консерватории требовала очень много времени и сил. И в 1878 году Чайковский проводит последние свои занятия, но до конца жизни сохраняет переписку со многими учениками, ставшими потом маститыми исполнителями. В письмах он всегда оставался их педагогом и цензором, давал рекомендации.
    <p>

    </p>
    В 1877 году композитор начинает работу над «Евгением Онегиным». Поглощенный сочинением, он как-то слишком поспешно женится на Антонине Милюковой. Брак развалился буквально через несколько недель. Все в молодой жене Чайковского раздражало. А совместная жизнь с ней стала серьезным испытанием для него. Душевные терзания этого периода привели к нервному срыву и сказались на музыке. Так совпало, что написанные в этот момент «Евгений Онегин» и 4-я симфония стали вершинами его творчества.
    <p>

    </p>
    В 1878 году он уезжает оправиться от происшедших событий за границу. Тогда помощь ему стала оказывать Надежда Филаретовна фон Мекк, меценат и поклонница творчества Петра Ильича. В течение долгих 14 лет они переписывались, но так ни разу и не встретились. Тем не менее, ее моральная и материальная помощь позволяли Петру Ильичу заниматься творчеством относительно свободно, он мог не оглядываться на издателей или дирекцию театров.
    <p>

    </p>
С 1880-х годов он много гастролирует по миру. Он сводит личное знакомство с такими столпами европейской и русской культуры как Лев Толстой, Эдвард Григ, Антонин Дворжак и многими другими. Вся его такая сильная впечатлительность как губка впитывала богатство и разнообразие мира. Он один из немногих счастливчиков, кому удалось завоевать признание публики, критиков, коллег еще при жизни.
    <p>

    </p>
Согласно биографии Чайковского в последние годы его неизъяснимо потянуло на родину, композитору хотелось жить вдали от шумных городов, где на улице его мог узнать любой. Он признавался, что бесконечно устал от окружающей его суеты. Поэтому он выбирал небольшие дачные поселки под Москвой, где арендовал усадьбу. Последний дом, в котором он жил в подмосковном Клину, стал домом-музеем мемориальным заповедником имени композитора.
    <p>

    </p>
Умер он в 1893 году неожиданно. Врачи диагностировали холеру, которая развилась буквально за несколько дней. Незадолго до этого ему подали в одном из ресторанов стакан некипяченой воды. Хотя и существовали другие версии по поводу смерти Чайковского, доказательств их предоставлено не было.
</div>
{% endblock %}