{% extends 'base.html' %}

{% block title %}
Композиторы
{% endblock %}

{% block body %}
<div class="container">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <h1>Композиторы</h1>
    <h3>Композиторы ⅩⅤ века</h3>
      <a href="/ambrioso" class="btn btn-link">Джованни Амброзио</a>
    <div>  </div>
          <a href="/anchieta" class="btn btn-link">Хуан де Анчие́та</a>
                 <div>  </div>
              <a href="/daniil" class="btn btn-link">Даниил Горчичка</a>
                  <div>  </div>
    <a href="/domenico" class="btn btn-link">Доменико из Пьяченцы</a>
                  <div>  </div>
    <a href="/virdung" class="btn btn-link">Вирдунг Себастьян</a>
                 <div>  </div>
              <a href="/zavish" class="btn btn-link">Завиш из Запи</a>
                     <div>  </div>
           <h3>Композиторы ⅩⅥ века</h3>
    <a href="/cristobal" class="btn btn-link">Кристобаль де Моралис</a>
                     <div>  </div>
              <a href="/giovanni" class="btn btn-link">Джованни Пьерлуиджи да Палестрина</a>
                     <div>  </div>
              <a href="/tallis" class="btn btn-link">Томас Таллис</a>
                     <div>  </div>
              <a href="/thomas" class="btn btn-link">Томас Луис де Виктория</a>
                     <div>  </div>
              <a href="/william" class="btn btn-link">Уильям Бёрд</a>
    <h3>Композиторы ⅩⅦ века</h3>
                         <div>  </div>
              <a href="/antonio" class="btn btn-link">Антонио Кальдара</a>
                         <div>  </div>
              <a href="/ditrih" class="btn btn-link">Дитрих Букстехуде</a>
                         <div>  </div>
              <a href="/gaspar" class="btn btn-link">Гаспар Санз</a>
                         <div>  </div>
              <a href="/giuseppe" class="btn btn-link">Джузеппе Торелли</a>
                         <div>  </div>
              <a href="/henry" class="btn btn-link">Генрих Игнац</a>
    <h3>Композиторы ⅩⅧ века</h3>
                             <div>  </div>
              <a href="/bah" class="btn btn-link">Иоганн Себастьян Бах</a>
                         <div>  </div>
              <a href="/beethoven" class="btn btn-link">Людвиг ван Бетховен</a>
                         <div>  </div>
              <a href="/haydn" class="btn btn-link">Йозеф Гайдн</a>
                         <div>  </div>
              <a href="/mozart" class="btn btn-link">Вольфганг Амадей Моцарт</a>
                         <div>  </div>
              <a href="/vivaldi" class="btn btn-link">Антонио Вивальди</a>
        <h3>Композиторы ⅩⅨ века</h3>
                             <div>  </div>
              <a href="/shopen" class="btn btn-link">Фредерик Шопен</a>
                         <div>  </div>
              <a href="/shtraus" class="btn btn-link">Иоганн Штраус</a>
                         <div>  </div>
              <a href="/tchaikovsky" class="btn btn-link">Петр Ильич Чайковский</a>
                         <div>  </div>
              <a href="/verdi" class="btn btn-link">Джузеппе Верди</a>
                         <div>  </div>
              <a href="/warner" class="btn btn-link">Рихард Вагнер</a>
            <h3>Композиторы ⅩⅩ века</h3>
                             <div>  </div>
              <a href="/glazunov" class="btn btn-link">Александр Глазунов</a>
                         <div>  </div>
              <a href="/prokofiev" class="btn btn-link">Сергей Прокофьев</a>
                         <div>  </div>
              <a href="/rachmaninoff" class="btn btn-link">Сергей Рахманинов</a>
                         <div>  </div>
              <a href="/scriabin" class="btn btn-link">Александр Николаевич Скрябин</a>
                         <div>  </div>
              <a href="/shostakovich" class="btn btn-link">Дмитрий Шостакович</a>
            <h3>Композиторы ⅩⅩⅠ века</h3>
                             <div>  </div>
              <a href="/glass" class="btn btn-link">Филип Гласс</a>
                         <div>  </div>
              <a href="/richter" class="btn btn-link">Кирилл Рихтер</a>
                         <div>  </div>
              <a href="/roberto" class="btn btn-link">Роберто Каччапалья</a>
                         <div>  </div>
              <a href="/williams" class="btn btn-link">Джон Уильямс</a>
                         <div>  </div>
              <a href="/zimmer" class="btn btn-link">Ханс Циммер</a>
</div>
{% endblock %}