{% extends 'base.html' %}

{% block title %}
Виды музыкальных инструментов
{% endblock %}

{% block body %}
<div class="container">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <h1>Виды музыкальных инструментов<h1>
<h1 class="h3 text-center my-4">Струнно-щипковаые инструменты</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/5.png">
                <img class="img-fluid" src="static/image/5.png">
            </a>
        Балалайка
        <a href="/balalaika" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/6.png">
                <img class="img-fluid" src="static/image/6.png">
            </a>
        Домра
        <a href="/domra" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/7.png">
                <img class="img-fluid" src="static/image/7.png">
            </a>
        Банджо
        <a href="/banjo" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/2.png">
                <img class="img-fluid" src="static/image/2.png">
            </a>
        Арфа
        <a href="/arfa" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/8.png">
                <img class="img-fluid" src="static/image/8.png">
            </a>
        Гитара
        <a href="/guitar" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/1.png">
                <img class="img-fluid" src="static/image/1.png">
            </a>
        Гусли
        <a href="/psaltery" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/3.png">
                <img class="img-fluid" src="static/image/3.png">
            </a>
        Лютня
        <a href="/lute" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/9.png">
                <img class="img-fluid" src="static/image/9.png">
            </a>
        Мандолина
        <a href="/mandolin" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
<h1 class="h3 text-center my-4">Ударные инструменты</h1>
    <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/11.png">
                <img class="img-fluid" src="static/image/11.png">
            </a>
        Барабан джембе
        <a href="/djembe" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/10.png">
                <img class="img-fluid" src="static/image/10.png">
            </a>
        Ксилофон
        <a href="/xylophone" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/12.png">
                <img class="img-fluid" src="static/image/12.png">
            </a>
        Том-том
        <a href="/tom-tom" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/13.png">
                <img class="img-fluid" src="static/image/13.png">
            </a>
        Бубен
        <a href="/tambourine" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
                <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/14.png">
                <img class="img-fluid" src="static/image/14.png">
            </a>
        Оркестровые тарелки
        <a href="/plates" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/15.png">
                <img class="img-fluid" src="static/image/15.png">
            </a>
        Маракас
        <a href="/maraca" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/16.png">
                <img class="img-fluid" src="static/image/16.png">
            </a>
        Литавры
        <a href="/timpani" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/17.png">
                <img class="img-fluid" src="static/image/17.png">
            </a>
        Подвесные тарелки
        <a href="/hanging_plates" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
<h1 class="h3 text-center my-4">Клавишные инструменты</h1>
   <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/19.png">
                <img class="img-fluid" src="static/image/19.png">
            </a>
        Рояль
        <a href="/grand_piano" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
                <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/20.png">
                <img class="img-fluid" src="static/image/20.png">
            </a>
        Фортепиано
        <a href="/piano" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/21.png">
                <img class="img-fluid" src="static/image/21.png">
            </a>
        Синтезатор
        <a href="/synthesizer" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/22.png">
                <img class="img-fluid" src="static/image/22.png">
            </a>
        Орган
        <a href="/organ" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/23.png">
                <img class="img-fluid" src="static/image/23.png">
            </a>
        Аккордеон
        <a href="/accordion" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/18.png">
                <img class="img-fluid" src="static/image/18.png">
            </a>
        Клавесин
        <a href="/harpichord" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
<h1 class="h3 text-center my-4">Язычковые инструменты</h1>
   <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/24.png">
                <img class="img-fluid" src="static/image/24.png">
            </a>
        Гармонь
        <a href="/accodion_garmon" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
                <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/25.png">
                <img class="img-fluid" src="static/image/25.png">
            </a>
        Аккордеон
        <a href="/accordion" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/26.png">
                <img class="img-fluid" src="static/image/26.png">
            </a>
        Баян
        <a href="/bayan" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
<h1 class="h3 text-center my-4">Духовые инструменты</h1>
   <div class="row">
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/27.png">
                <img class="img-fluid" src="static/image/27.png">
            </a>
        Флейта
        <a href="/flute" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
                <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/28.png">
                <img class="img-fluid" src="static/image/28.png">
            </a>
        Кларнет
        <a href="/clarinet" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/29.png">
                <img class="img-fluid" src="static/image/29.png">
            </a>
        Фагот
        <a href="/bassoon" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/30.png">
                <img class="img-fluid" src="static/image/30.png">
            </a>
        Труба
        <a href="/truba" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/31.png">
                <img class="img-fluid" src="static/image/31.png">
            </a>
        Туба
        <a href="/tube" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/32.png">
                <img class="img-fluid" src="static/image/32.png">
            </a>
        Саксофон
        <a href="/saxophone" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
        <div class="col-lg-3 col-md-4 col-6 thumb">
            <a data-fancybox="gallery" href="static/image/33.png">
                <img class="img-fluid" src="static/image/33.png">
            </a>
        Валторна
        <a href="/french_horm" class="btn btn-secondary animate-up-2">Подробнее</a>
        </div>
   </div>
{% endblock %}