<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9d2a49239ac65241fbf81df620285f3f {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9d2a49239ac65241fbf81df620285f3f" ></div>
        
</body>
<script>
    
    
            var map_9d2a49239ac65241fbf81df620285f3f = L.map(
                "map_9d2a49239ac65241fbf81df620285f3f",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_e828de5f0b6940fc9543635cdb3ff6f9 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_e828de5f0b6940fc9543635cdb3ff6f9.addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
            var marker_db54a47318837f673bf8a97a57d3f194 = L.marker(
                [39.2904, -76.6122],
                {}
            ).addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
        var popup_43b5d0c46bff9bd9463061b20cc12c6f = L.popup({"maxWidth": "100%"});

        
            
                var html_2ad003f191a7e9a5b30a491738febf2e = $(`<div id="html_2ad003f191a7e9a5b30a491738febf2e" style="width: 100.0%; height: 100.0%;">Балтимор (США) Жил: Филип Гласс</div>`)[0];
                popup_43b5d0c46bff9bd9463061b20cc12c6f.setContent(html_2ad003f191a7e9a5b30a491738febf2e);
            
        

        marker_db54a47318837f673bf8a97a57d3f194.bindPopup(popup_43b5d0c46bff9bd9463061b20cc12c6f)
        ;

        
    
    
            var marker_ccf9fda29b93e974c3d5540fca914496 = L.marker(
                [55.3877, 36.7226],
                {}
            ).addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
        var popup_d3b1e58af99dd0a5355e221c0f15036f = L.popup({"maxWidth": "100%"});

        
            
                var html_a5bf5c88d7891302f25485cac6597315 = $(`<div id="html_a5bf5c88d7891302f25485cac6597315" style="width: 100.0%; height: 100.0%;">Наро-Фоминск (Московская область) Жил: Кирилл Рихтер</div>`)[0];
                popup_d3b1e58af99dd0a5355e221c0f15036f.setContent(html_a5bf5c88d7891302f25485cac6597315);
            
        

        marker_ccf9fda29b93e974c3d5540fca914496.bindPopup(popup_d3b1e58af99dd0a5355e221c0f15036f)
        ;

        
    
    
            var marker_6e979be03b9e3e9ad7a03005044f1d27 = L.marker(
                [50.1109, 8.6821],
                {}
            ).addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
        var popup_3df4a99730b8ba05b40a6da206b39352 = L.popup({"maxWidth": "100%"});

        
            
                var html_9729ff4a8a4d96d47fb166283ec4b93e = $(`<div id="html_9729ff4a8a4d96d47fb166283ec4b93e" style="width: 100.0%; height: 100.0%;">Франкфурт-на-Майне (Германия) Жил: Ханс Циммер</div>`)[0];
                popup_3df4a99730b8ba05b40a6da206b39352.setContent(html_9729ff4a8a4d96d47fb166283ec4b93e);
            
        

        marker_6e979be03b9e3e9ad7a03005044f1d27.bindPopup(popup_3df4a99730b8ba05b40a6da206b39352)
        ;

        
    
    
            var marker_8fa782a49c35b8c5394a08bac211e81a = L.marker(
                [40.7128, -74.006],
                {}
            ).addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
        var popup_73ac579024af96f6344f534ea117a889 = L.popup({"maxWidth": "100%"});

        
            
                var html_9e837025414b6ccff93dbbb003c8b0ed = $(`<div id="html_9e837025414b6ccff93dbbb003c8b0ed" style="width: 100.0%; height: 100.0%;">Нью-Йорк (США) Жил: Джон Уильямс</div>`)[0];
                popup_73ac579024af96f6344f534ea117a889.setContent(html_9e837025414b6ccff93dbbb003c8b0ed);
            
        

        marker_8fa782a49c35b8c5394a08bac211e81a.bindPopup(popup_73ac579024af96f6344f534ea117a889)
        ;

        
    
    
            var marker_86c5aca2291b2f1c6b1dfa43d83b8640 = L.marker(
                [45.4642, 9.19],
                {}
            ).addTo(map_9d2a49239ac65241fbf81df620285f3f);
        
    
        var popup_e556615898a17b87e04940b61df13cac = L.popup({"maxWidth": "100%"});

        
            
                var html_aebe46dfebc6307d2934a0b962a2c928 = $(`<div id="html_aebe46dfebc6307d2934a0b962a2c928" style="width: 100.0%; height: 100.0%;">Милан Жил: Роберто Каччапалья</div>`)[0];
                popup_e556615898a17b87e04940b61df13cac.setContent(html_aebe46dfebc6307d2934a0b962a2c928);
            
        

        marker_86c5aca2291b2f1c6b1dfa43d83b8640.bindPopup(popup_e556615898a17b87e04940b61df13cac)
        ;

        
    
</script>
</html>