<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_3d77290950e3ddec73904e20e8e445ff {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_3d77290950e3ddec73904e20e8e445ff" ></div>
        
</body>
<script>
    
    
            var map_3d77290950e3ddec73904e20e8e445ff = L.map(
                "map_3d77290950e3ddec73904e20e8e445ff",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7953608445e876fffcd3b183655d7e53 = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_7953608445e876fffcd3b183655d7e53.addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
            var marker_60a98cef1db46594a45168c4a3b9bcf9 = L.marker(
                [39.2904, -76.6122],
                {}
            ).addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
        var popup_e49dac8f78a46a74080cf6e8b6b225f0 = L.popup({"maxWidth": "100%"});

        
            
                var html_a60ca6070dde0f291524aa0a5a1f69ba = $(`<div id="html_a60ca6070dde0f291524aa0a5a1f69ba" style="width: 100.0%; height: 100.0%;">Балтимор (США) Жил: Филип Гласс</div>`)[0];
                popup_e49dac8f78a46a74080cf6e8b6b225f0.setContent(html_a60ca6070dde0f291524aa0a5a1f69ba);
            
        

        marker_60a98cef1db46594a45168c4a3b9bcf9.bindPopup(popup_e49dac8f78a46a74080cf6e8b6b225f0)
        ;

        
    
    
            var marker_a3368192b423f0bea63e8d442d1b7f59 = L.marker(
                [55.3877, 36.7226],
                {}
            ).addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
        var popup_ddd9018b7f5f27c86eff93d790022281 = L.popup({"maxWidth": "100%"});

        
            
                var html_575ecaeb27ae377892201b491dd72eb9 = $(`<div id="html_575ecaeb27ae377892201b491dd72eb9" style="width: 100.0%; height: 100.0%;">Наро-Фоминск (Московская область) Жил: Кирилл Рихтер</div>`)[0];
                popup_ddd9018b7f5f27c86eff93d790022281.setContent(html_575ecaeb27ae377892201b491dd72eb9);
            
        

        marker_a3368192b423f0bea63e8d442d1b7f59.bindPopup(popup_ddd9018b7f5f27c86eff93d790022281)
        ;

        
    
    
            var marker_502012529dc6b271a88719cdfec93227 = L.marker(
                [50.1109, 8.6821],
                {}
            ).addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
        var popup_3f48a21698d89b3ddd01d9e3663f1440 = L.popup({"maxWidth": "100%"});

        
            
                var html_34823862f7d992d41c8380d808d0b7d9 = $(`<div id="html_34823862f7d992d41c8380d808d0b7d9" style="width: 100.0%; height: 100.0%;">Франкфурт-на-Майне (Германия) Жил: Ханс Циммер</div>`)[0];
                popup_3f48a21698d89b3ddd01d9e3663f1440.setContent(html_34823862f7d992d41c8380d808d0b7d9);
            
        

        marker_502012529dc6b271a88719cdfec93227.bindPopup(popup_3f48a21698d89b3ddd01d9e3663f1440)
        ;

        
    
    
            var marker_a4a5dab447425ca82b49ce4b3526a469 = L.marker(
                [40.7128, -74.006],
                {}
            ).addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
        var popup_29e5369708ac2cd3901a30be4328fd02 = L.popup({"maxWidth": "100%"});

        
            
                var html_623d5a4d29603e7d9c3d0a451bc1a8a7 = $(`<div id="html_623d5a4d29603e7d9c3d0a451bc1a8a7" style="width: 100.0%; height: 100.0%;">Нью-Йорк (США) Жил: Джон Уильямс</div>`)[0];
                popup_29e5369708ac2cd3901a30be4328fd02.setContent(html_623d5a4d29603e7d9c3d0a451bc1a8a7);
            
        

        marker_a4a5dab447425ca82b49ce4b3526a469.bindPopup(popup_29e5369708ac2cd3901a30be4328fd02)
        ;

        
    
    
            var marker_26a0733a31cd43e5693d45f4006bf8b2 = L.marker(
                [45.4642, 9.19],
                {}
            ).addTo(map_3d77290950e3ddec73904e20e8e445ff);
        
    
        var popup_b395dce0723fdcebf6e5ba27fa4a9094 = L.popup({"maxWidth": "100%"});

        
            
                var html_adf8d74306ff2009b2e1a4a7326998dd = $(`<div id="html_adf8d74306ff2009b2e1a4a7326998dd" style="width: 100.0%; height: 100.0%;">Милан Жил: Роберто Каччапалья</div>`)[0];
                popup_b395dce0723fdcebf6e5ba27fa4a9094.setContent(html_adf8d74306ff2009b2e1a4a7326998dd);
            
        

        marker_26a0733a31cd43e5693d45f4006bf8b2.bindPopup(popup_b395dce0723fdcebf6e5ba27fa4a9094)
        ;

        
    
</script>
</html>