{% extends 'base.html' %}

{% block title %}
Сергей Прокофьев

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Сергей Прокофьев</h1>
    <h3>Краткая биография</h3>
    Родом Сергей Сергеевич Прокофьев из украинского села Сонцовка. Существуют разные версии даты его рождения, но целесообразно указать ту, которую указал он сам в «Автобиографии» - 11 (23) апреля 1891 года. Кажется, что он уже родился композитором, ведь благодаря маме, Марии Григорьевне, превосходно игравшей на фортепиано, дом Прокофьевых был полон музыки. Интерес к инструменту побудил маленького Сережу начать учиться играть. С 1902 года Сергея Прокофьева начал учить музыке Р.М. Глиэр.
  <p>

    </p>
  Прокофьев становится студентом столичной консерватории в 1904 году. Через пять лет он выпускается с композиторского отделения, а еще через пять - с фортепианного, став лучшим выпускником. Концертировать начинает в 1908. Дебют был исключительно благосклонно оценен критиками, отмечались и исполнительский талант, и композиторская оригинальность. С 1911 года издаются ноты его произведений. Поворотным событием в судьбе молодого Прокофьева стало знакомство с С.П. Дягилевым в 1914 году. Благодаря союзу антрепренера и композитора появились на свет четыре балета. В 1915 году Дягилев организовал первое зарубежное выступление Прокофьева с программой, состоящей из его сочинений.
  <p>

    </p>
  Революцию Прокофьев воспринял как разрушение, «резню и дичь». Поэтому уже в следующем году отправился в Токио, а оттуда – в Нью-Йорк. Он долгое время прожил во Франции, гастролируя по старому и новому свету как пианист. В 1923 году женился на испанской певице Лине Кодине, у них родились двое сыновей. Приезжая на выступления в Советский Союз, Прокофьев видит исключительно радушный, даже роскошный, прием властей, грандиозный, невиданный им за границей, успех у публики, а также получает предложение вернуться и обещание статуса «первого композитора». И в 1936 году Прокофьев с семьей и имуществом переезжает жить в Москву. Власти его не обманули - роскошная квартира, вышколенная обслуга, заказы сыпятся как из рога изобилия. В 1941 году Прокофьев уходит из семьи к Мире Мендельсон.
  <p>

</p>
 Неожиданными драматическими событиями начался 1948 год. Фамилия Прокофьева была упомянута в постановлении партии «Об опере „Великая дружба“ В. Мурадели». Композитора причислили к «формалистам». Как следствие, некоторые его сочинения, в частности Шестая симфония, были запрещены, остальные - почти не исполнялись. Впрочем, уже в 1949 году эти ограничения были сняты личным распоряжением Сталина. Оказалось, что даже «первый композитор» страны не принадлежит к касте неприкасаемых. Не прошло и десяти дней после публикации разгромного постановления, как арестовали первую жену композитора, Лину Ивановну. Ее осудили на 20 лет лагерей за шпионаж и измену Родине, выйдет на свободу она только в 1956. Здоровье Прокофьева заметно ухудшилось, врачи советовали ему почти не работать. Тем не менее в 1952 году он лично присутствовал на первом исполнении своей Седьмой симфонии, а музыку писал даже в последний день своей жизни. Вечером 5 марта 1953 года сердце Сергея Прокофьева остановилось...
  <div></div>
    <img class="img-fluid" src="static/composers/prokofiev.jpg">
    <div></div>
    <h3>Сергей Прокофьев и кино</h3>
    Создание музыки для кинофильмов композитором такого уровня не имеет прецедентов в искусстве. В 1930 – 40 годах Сергей Прокофьев написал музыку для восьми фильмов. Один из них, «Пиковая дама» (1936), так и не увидел свет из-за пожара на «Мосфильме», уничтожившего пленки. Музыка Прокофьева к первому же фильму, «Поручик Киже», стала невероятно популярна. На ее основе композитор создал симфоническую сюиту, которая исполнялась оркестрами по всему миру. На эту музыку впоследствии создано два балета. Однако Прокофьев не сразу принял предложение создателей фильма – первой его реакцией был отказ. Но после прочтения сценария и детального обсуждения режиссерского замысла, идея его заинтересовала и, как он отмечал в своей «Автобиографии», над музыкой к «Поручику Киже» он работал быстро и с удовольствием. Создание сюиты потребовало больше времени, переоркестровки и даже переработки некоторых тем.
    <p>

  </p>
  В отличие от «Поручика Киже», предложение о написании музыки к фильму «Александр Невский» Прокофьев принял, не раздумывая. С Сергеем Эйзенштейном они были давно знакомы, Прокофьев даже относил себя к поклонникам режиссера. Работа над картиной стала торжеством настоящего сотворчества: иногда композитор писал музыкальный текст, а режиссер на его основе строил съемки и монтаж эпизода, иногда Прокофьев отсматривал готовый материал, пальцами по дереву отстукивая ритмы и принося через некоторое время готовую партитуру. Музыка «Александра Невского» воплотила все основные черты таланта Прокофьева и по достоинству вошла в золотой фонд мировой культуры. В годы войны Прокофьев создает музыку к трем патриотическим картинам: «Партизаны в степях Украины», «Котовский», «Тоня» (из киносборника «Наши девушки»), а также к биографической картине «Лермонтов» (вместе с В. Пушковым).
    <p>

  </p>
    Последней по времени, но не по значимости стала работа Прокофьева над фильмом С. Эйзенштейна «Иван Грозный», которая началась в Алма-Ате. Музыка «Ивана Грозного» своей народно-эпической мощью продолжает темы «Александра Невского». Но вторая совместная картина двух гениев состоит не только из героических сцен, а повествует и об истории боярского заговора и дипломатических интриг, что потребовало более разнопланового музыкального полотна. Эта работа композитора была отмечена Сталинской премией. Уже после кончины Прокофьева музыка «Ивана Грозного» послужила основой для создания оратории и балета.
    <p>

  </p>
Несмотря на то, что удивительная судьба Сергея Прокофьева могла бы лечь в основу интереснейшего сценария фильма, художественных картин о жизни композитора до сих пор нет. К различным годовщинам – со дня рождения или смерти – создавались только телевизионные фильмы и передачи. Возможно, это связано с тем, что никто не берется однозначно трактовать неоднозначные поступки Сергея Сергеевича. По каким причинам он вернулся в СССР? Был ли советский период его творчества конформизмом или новаторством? Почему распался его первый брак? Почему он позволил Лине Ивановне опрометчиво отказаться от эвакуации из военной Москвы, не вывезти хотя бы детей? И волновало ли его вообще хоть что-нибудь, кроме собственного тщеславия и творческой реализации - судьба арестованной первой жены и родных сыновей, например? На эти и многие другие острые вопросы ответов нет. Есть мнения и домыслы, которые могут оказаться несправедливыми к великому композитору.
    </div>
{% endblock %}