{% extends 'base.html' %}

{% block title %}
Сергей Рахманинов

{% endblock %}

{% block body %}
<div class="container">
<link rel="stylesheet" type="text/css" href="{url_for('static', filename='css/style.css')}" />
       <h1>Сергей Рахманинов</h1>
    <h3>Краткая биография</h3>
    Сергей Рахманинов появился на свет 1 апреля 1873 года в имении Онег Новгородской губернии. С юных лет мальчик стал проявлять особый интерес к музыке, поэтому мама Любовь Петровна стал обучать его игре на инструменте с четырехлетнего возраста. Когда Сергею Васильевичу исполнилось девять лет, вся семья была вынуждена переехать жить в Северную столицу, так как их имение было продано за долги. Отец будущего композитора ушел из семьи, поэтому о детях теперь заботилась одна мать. Она-то и приняла решение дать Сергею именно музыкальное образование, как и хотела первоначально.
  <p>

    </p>
  Вскоре Рахманинова принимают на младшее отделение в Петербургскую консерваторию. Вот только с учебой у мальчика не заладилось, ведь он предпочитал проводить время на улице, а не за фортепиано. Тогда по совету Александра Зилоти, который приходился Рахманинову двоюродным братом, было решено перевести юного музыканта в Московскую консерваторию к Н.С. Звереву. Этот педагог давно славился своей особой системой воспитания одаренных учеников. Он выбирал из класса двух-трех талантливых детей и забирал на полный пансион к себе домой. Там Николай Сергеевич приучал учеников к дисциплине, высочайшей организованности и систематическим занятиям, занимаясь с каждым из них индивидуально. В 1887 году Рахманинов начинает сочинять и записывать первые произведения. В то время его преподавателем по контрапункту становится С.И. Танеев.

  <p>

    </p>
  Сергей Васильевич окончил консерваторию по двум классам – фортепиано (1891 г.) и композиции (1892 г.). Его дипломной работой стала опера «Алеко», созданная им всего за семнадцать дней. За свое сочинение он получил высочайшую отметку «5+». В 1892 году Сергей Васильевич впервые выступил перед публикой как пианист, со своей известнейшей Прелюдией до-диез минор, ставшей настоящей жемчужиной его творчества.
  <p>

</p>
 В 1897 году состоялась долгожданная премьера Первой симфонии, над которой Рахманинов долго работал. После этого концерта, который был крайне неудачным для композитора, он не сочинял ничего в течение трех лет, так как произведение провалилось. Публика и безжалостные критики отрицательно встретили симфонию, да и сам Рахманинов был крайне разочарован. В итоге партитуру он уничтожил, запретив когда-либо исполнять ее. Оставив на время композицию, Сергей Васильевич вплотную занялся исполнительской деятельностью. В 1900 году он вновь вернулся к любимому занятию и принялся за написание Второго фортепианного концерта. Вслед за ним, выходят другие популярные сочинения композитора. В 1906 году Рахманинов решает уйти с постоянной работы в Мариинском женском училище, где он преподавал теорию музыки, чтобы заняться творчеством.
  <p>

  </p>
  В 1917 году композитор вместе со своей семьей отправляется в Швецию с концертной программой, и предполагалось, что вернутся они через два месяца. Однако, как оказалось, с родными краями они простились уже навсегда. Вскоре семейство Рахманиновых переехало в Америку. Там очень ценили талант Сергея Васильевича и считали его пианистом мирового уровня. Ему приходилось много и напряженно работать, подготавливая концертные программы, иногда из-за чего сильно болели руки.
  <p>

  </p>
  В этот период Рахманинов снова делает большой перерыв и ничего не сочиняет практически восемь лет. Лишь в 1926 году из-под его пера появляется Четвертый концерт для фортепиано.
  <p>

  </p>
  В 1931 году семья Рахманиновых покупает участок на берегу озера в Швейцарии, и вскоре там появляется вилла «Сенар». Именно тут он и создает свои знаковые сочинения – Рапсодию на тему Паганини и Третью симфонию. Симфонические танцы композитор написал в 1940 году и это стало его последним произведением.
  <p>

  </p>
  28 марта 1943 года тяжелобольной Рахманинов скончался в кругу своих родных в Беверли-Хиллз.
  <div>  </div>
  <img class="img-fluid" src="static/composers/rahmaninov.jpg">
      <div>  </div>
    <h3>Творчество Рахманинова</h3>
    Творческий облик Сергея Васильевича необычайно многогранен, ведь на протяжении жизни он обращался к самым разнообразным музыкальным жанрам и практически в каждом из них оставил настоящие шедевры. Есть одна общая черта, которая невидимой нитью объединяет все его произведения – это любовь к Родине и связь с русской культурой. Не секрет, что именно образ родной земли занял центральное место в его творчестве. Самое удивительно, что Рахманинов не сочинял исторические произведения или программные, которые были связаны с исторической тематикой. Но это не помешало ему выразить всю глубину патриотических чувств в своей музыке. Еще одна отличительная черта Рахманинова – это лиричность, большая роль в его творчестве отводится песенной, протяжной мелодии.
      </div>
{% endblock %}